<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
	.fixed-table-container{
		height: 220px;
	}
</style>
<body class="gray-bg">
	<input id="epId" name="epId" type="hidden" th:value="${epId}">
	<input id="equName" name="equName" type="hidden" th:value="${equName}">
	<div class="echarts" id="echarts-line-chart" style="width:96%;margin:auto;"></div>
	<div class="wrapper wrapper-content " style="margin-top: -50px;">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:verificationlog:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:verificationlog:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:verificationlog:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script src="/lkdtWX/js/plugins/echarts/echarts-all.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/appjs/fog/verificationlog/verificationlog.js"></script>
	
</body>
</html>