<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">
<link href="/css/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print">
<link rel="stylesheet" type="text/css" href="/lkdtWX/js/plugins/layer/skin/layer.css?v=2">
<style>
	p{ margin: 0 0 14px; font-size: 3.1vw; color: #f1a908; }
	.col-md-4{ width: 33.33%; float: left; }
	.fc-icon-x:after { font-size: 290%; }
	#rightUp label{
		/*font-family: Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;color: #7cc8de;*/
		font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;color: #7cc8de;
		font-weight: normal;
		font-size: smaller;
	}
	.led_span{
		font-family: UnidreamLED;letter-spacing: 0.1em;font-size: 3.3em;
	}
	@font-face {
		font-family: 'UnidreamLED';
		src:url(/css/led_format/UnidreamLED.eot); /***兼容ie9***/
		src:url(/css/led_format/UnidreamLED.eot?#iefix)format('embedded-opentype'), /***兼容ie6-ie8***/
		url('/css/led_format/UnidreamLED.woff') format('woff'),
		local('UnidreamLED'), url("/css/led_format/UnidreamLED.woff");/***默认使用本地的***/
	}
	.partcomwithborder{
		background:
				linear-gradient(to bottom,#098daf 0px,#098daf 1px,transparent 3px,transparent 100%) left top no-repeat,
				linear-gradient(to right,#098daf 0px,#098daf 1px,transparent 3px,transparent 100%) left top no-repeat,
				linear-gradient(to bottom,#098daf 0px,#098daf 1px,transparent 3px,transparent 100%) right top no-repeat,
				linear-gradient(to left,#098daf 0px,#098daf 1px,transparent 3px,transparent 100%) right top no-repeat,
				linear-gradient(to top,#098daf 0px,#098daf 1px,transparent 3px,transparent 100%) left bottom no-repeat,
				linear-gradient(to right,#098daf 0px,#098daf 1px,transparent 3px,transparent 100%) left bottom no-repeat,
				linear-gradient(to top,#098daf 0px,#098daf 1px,transparent 3px,transparent 100%) right bottom no-repeat,
				linear-gradient(to left,#098daf 0px,#098daf 1px,transparent 3px,transparent 100%) right bottom no-repeat;
		background-size: 18px 18px;
		padding:4px;
		width:200px;
		height:200px;
	}
	.list_alarm_stroll_y::-webkit-scrollbar {width: 5px;height: 1px;}
	.list_alarm_stroll_y::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 0 0 5px rgba(58,206,248,0.2);background: #07A6FF;}
	.list_alarm_stroll_y::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(58,206,248,0.2);background: #061537;}
	.listview .media:not(.listview-header) {margin-top: 0;border-bottom: 1px solid rgba(255,255,255,0.1);position: relative;padding: 10px 15px;}
	.listview .media:not(.listview-header):hover {background-color: rgba(0,0,0,0.07);}
	.listview .media .media-body {padding-top: 1px;width: 70%;text-overflow:ellipsis;white-space:nowrap;}
	.listview .media:last-child {border-bottom: 0;}
	.listview.narrow .media {padding: 5px 10px;}
	.listview .counts-lv {padding: 0 6px;color: #28ce33;font-size: 15px;text-shadow: none;}

</style>
<script>
    function nofind(_this){
        _this.src="/fog/nofind.jpg";
    }
</script>
<body class="gray-bg" style="height: 97%; overflow: hidden;padding: 5px;background: #132535;">
	<input id="blank_" name="blank_" type="hidden" th:value="${blank_}">
	<input id="epId" name="epId" type="hidden" th:value="${epId}">
	<input id="equName" name="equName" type="hidden" th:value="${equName}">
	<input id="equLocation" name="equLocation" type="hidden" th:value="${equLocation}">
	<input id="hwId" name="hwId" type="hidden" th:value="${hwId}">
	<input id="hwName" name="hwName" type="hidden" th:value="${hwName}">
	<input id="path" name="path" type="hidden" th:value="${path}">
	<input id="fMeter" name="fMeter" type="hidden" th:value="${fMeter}">
	<input id="videopath" name="videopath" type="hidden" th:value="${videopath}">

	<div style="height: 100%;width: 70%;float: left;">
		<div class="partcomwithborder" style="height: calc(40% - 10px);width: calc(100% - 10px); margin: 5px 5px 5px 5px;">
			<div style="width: 100%;height: 100%;background-color: #27384f;">
				<span id="epIdName" style="color:#8fe8ff;font-size: xx-large;font-weight: bold;margin-left: 10px;" th:text="${equName}">---</span>
				<!--<span style="color:#7cc8de;font-size: larger;">-835</span>-->
				<div style="width: 100%;height: 60%;margin-left: 30px;color:#7cc8de;">
					<div style="width: 30%;height: 100%;float: left;">
						<span>当前能见度：</span><br/>
						<span id="mi" class="led_span" style="color: #28ce33;">---</span>
						<span>m</span>
					</div>
					<!-- <div style="width: 30%;height: 100%;float: left;">
						<span>今日最高能见度：</span><br/>
						<span id="maxDay" class="led_span" style="color: #28ce33;">---</span>
                        <span>m</span>
					</div> -->
					<div style="width: 30%;height: 100%;float: left;">
						<span>1H平均能见度：</span><br/>
						<span id="avgDistance" class="led_span" style="color: #28ce33;">---</span>
                        <span>m</span>
					</div>
					<div style="width: 30%;height: 100%;float: left;">
						<span>当日最低能见度：</span><br/>
						<span id="minDay" class="led_span" style="color: #caa020;">---</span>
						<span>m</span>
					</div>
				</div>
				<div style="width: 100%;height: 10%;margin-left: 30px;color:#8fe8ff;">
					更新时间：<span style="color: #28ce33;" th:text="${imgTime}"></span>
					&nbsp;当前状态：<span th:if=" ${state} eq 0" style="color: #28ce33;" th:text="${stateDesc}">---</span>
					<span th:unless=" ${state} eq 0" style="color: red;" th:text="${stateDesc}">---</span>
				</div>
			</div>
		</div>
		<div class="partcomwithborder" style="height: calc(60% - 15px);width: calc(100% - 10px); margin: 10px 5px 5px 5px;">
			<div style="width: 100%;height: 100%;background-color: #27384f;">
				<div id="container1" style="height: 80%;width:100%;"></div>
				<br/>
				<input id="startDate" type="text" style="width: 150px;float: left;margin-left: 40px;background-color: #9ca5ad;border: none;color: #27384F;"/>
				<span style="width: 15px;float: left;margin-left: 5px;margin-right: 5px;color: #7cc8de;">至</span>
				<input id="endDate" type="text" style="width: 150px;float: left;background-color: #9ca5ad;border: none;color: #27384F;"/>
				<button type="button" onclick="search_distance()" style="width: 80px;border: none;margin-left: 5px;background-color: #225470;color: #7cc8de;">
					<i class="fa fa-search" aria-hidden="true"></i>查询
				</button>
				<button type="button" onclick="search_reset()" style="width: 80px;border: none;margin-left: 5px;background-color: #225470;color: #7cc8de;">
					<i class="fa fa-recycle" aria-hidden="true"></i>重置
				</button>
			</div>
		</div>
	</div>
	<div id="rightUp" style="height: 100%;width: 30%;float: left;">
		<div class="partcomwithborder" style="height: calc(60% - 10px);width: calc(100% - 10px); margin: 5px 5px 5px 5px;">
			<div style="width: 100%;height: 100%;background-color: #27384f;padding: 10px 10px 10px 10px;">
				<img id='img1' alt="" onerror="nofind(this)" onclick="img1Click(this)" style="width: 100%;height:140px;margin:auto;display: none;cursor: pointer;">
				<div id="video123" style="height: 100%;width: 100%;"></div>
				<div id='fMeter_V'  style="position: absolute;top: 10%;right: 20%;color: #ff9d06;font-size: 22px;display: none;" th:value="${fMeter}"></div>
				<label style="margin-top:10px;" >点位编号：<span th:text="${equName}">---</span></label><br/>
				<label >公路名称：<span th:text="${hwName}">---</span></label><br/>
				<label >公路编号：<span th:text="${hwId}">---</span></label><br/>
				<label >路段归属：<span th:text="${pHwName}">---</span>-<span th:text="${pHwDetail}"></span></label><br/>
				<label >采集时间：<span th:text="${imgTime}">---</span></label>
			</div>
			<div id="mydiv1" style="display: none;width: 248px;height: 283px;background-color: #27384f;padding: 10px 10px 10px 10px;
				position: fixed; z-index: 80;top:14px;right: 15px;">
				<span class="fc-close fc-icon fc-icon-x" style="position: fixed;top:14px;right: 15px;cursor: pointer;color: #49f08c;"></span>
				<img id="clickimg" alt="" src="" onclick="img1Click(this)" style="width: 100%;height: 140px;cursor: pointer;">
				<label style="margin-top:10px;" >
					<span style="color: #7cc8de;">可见距离：</span>
					<span id="mydiv1_span" class="led_span" style="color: #49f08c;">500+</span>
					<span style="color: #7cc8de;">米</span>
				</label>
				<label >
					<span style="color: #7cc8de;">采集时间：</span>
					<span id="mydiv1_time" style="color: #7cc8de;">500+</span>
				</label>
			</div>
		</div>
		<div class="partcomwithborder" style="height: calc(40% - 15px);width: calc(100% - 10px); margin: 10px 5px 5px 5px;">
			<div style="width: 100%;height: 100%;background-color: #27384f;padding:10px 10px 10px 10px;">
				<table style="width: 100%;color: #7cc8de;">
					<!--<tr><td>K175</td><td>463</td></tr>
					<tr><td>K178</td><td>500+</td></tr>
					<tr><td>K179</td><td>500+</td></tr>
					<tr><td>K182</td><td>500+</td></tr>
					<tr><td>K183</td><td>500+</td></tr>
					<tr><td>K184</td><td>500+</td></tr>
					<tr><td>K187</td><td>500+</td></tr>
					<tr><td>K181</td><td>500+</td></tr>
					<tr><td>K185</td><td>异常</td></tr>-->
					<div class="listview narrow list_alarm_stroll_y" id="hwIdCounts" style="height: 100%;overflow-y: scroll;">
						<div th:each="fogCalculator : ${fogCalculators}" class="media" th:epId="${fogCalculator.epId}" onclick="epListClick(this)" style="cursor: pointer;">
							<div class="pull-right">
								<div th:if=" ${fogCalculator.equipment.state} eq 0" class="counts-lv" th:text="${fogCalculator.distance}">---</div>
								<div th:unless=" ${fogCalculator.equipment.state} eq 0" style="color: grey;" class="counts-lv">异常</div>
							</div>
							<div class="media-body">
								<span th:text="${fogCalculator.equipment.equName}">---</span>
							</div>
						</div>

					</div>
				</table>
			</div>
		</div>
	</div>

    <img id="img1_show" src="" onclick="img1_showClick(this)" style="position: fixed; top: 10px; right: 10px; height: 80%;width: auto;z-index: 99;"/>

	<!-- ECharts -->
	<script src="/lkdtWX/js/plugins/echarts/echarts.min.js"></script>
	<script src="/lkdtWX/js/common-options.js?v=2&date=20210121"></script>
	<script type="text/javascript" src="/lkdtWX/js/jquery.min.js" ></script>
	<script type="text/javascript" src="/lkdtWX/js/plugins/layer/layer.min.js?v=2&date=20201125"></script>
	<script	src="/lkdtWX/js/plugins/laydate/laydate.js"></script>
	<script src="/lkdtWX/js/ckplayer/ckplayer.min.js"></script>
	<!-- FastClick -->
	<script src="/lkdtWX/js/fastclick.js"></script>
</body>
<script type="text/javascript">
	$(function() {
		let hasClose = parent.gethasClose();
		if(hasClose==1){
			$("#close").show();
		}
		if($("#epId").val()=='NT001'||$("#epId").val()=='NT001_new'){
			$("#videopath").val('https://ainjdjc.jchc.cn/live_video_low/NT001.m3u8');
		}

		let videoObject = {
			container: '#video123',//“#”代表容器的ID，“.”或“”代表容器的class
			variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
			autoplay:true,//自动播放
			live:true,
			html5m3u8:true,
			mobileCkControls:false,
			//poster:'http://localhost:8099/sjkvideo_wx/resources/images/fzx_0.jpg',
			video:$("#videopath").val()//url//视频地址
		};

		let player = null;
		player = new ckplayer(videoObject);
		document.getElementById('img1').src = $("#path").val();
		if(!$("#videopath").val()){
			$("#video123").hide();
			$("#img1").show();
		}
		$.ajax({
			type : 'get',
			url : "/system/alarm" + '/home_lookup',
			data:{'epId':$("#epId").val()},
			success : function(data) {
				if(data){

				}
			}
		});

		setInterval(updateImgPath,60000);
		updateImgPath();

		if($("#blank_").val() != "1"){
			if(uWeb.getStorage("topp_") != null && uWeb.getStorage("topp_") != "" && uWeb.getStorage("topp_") != undefined){
				$(".list_alarm_stroll_y").scrollTop(uWeb.getStorage("topp_"));
			}
		}

		//滚动条高度监听
        $(".list_alarm_stroll_y").scroll(function(){//开始监听滚动条
            let topp = $(".list_alarm_stroll_y").scrollTop();
            uWeb.setStorage("topp_", topp)
        });


	});

	let loadIndex = layer.load(1, {time: 6*1000});

	//执行一个laydate实例
	laydate.render({
		elem: '#startDate'
		,type: 'datetime'
		,btns: ['clear', 'confirm']
	});
	laydate.render({
		elem: '#endDate'
		,type: 'datetime'
		,btns: ['clear', 'confirm']
	});

	//统计
    let dom1 = document.getElementById("container1");
    let myChart1 = echarts.init(dom1);
    let imgpathsjson = [];
    let option = common_options1;
    let imgUrls;

    myChart1.getZr().on('click', function (params) {
		let pointInPixel = [params.offsetX, params.offsetY];
	    if (myChart1.containPixel('grid',pointInPixel)) {
	        /*此处添加具体执行代码*/
            
            let pointInGrid = myChart1.convertFromPixel({seriesIndex:0},pointInPixel);
	        //X轴序号
	        let xIndex = pointInGrid[0];
 
            //获取当前图表的option
	        let op = myChart1.getOption();
 
            //获得图表中我们想要的数据
			let time = op.xAxis[0].data[xIndex];
			let value = op.series[0].data[xIndex];
			time = time.replace(":","");
			let date = new Date();
			let hour = date.getHours();
			let minute = date.getMinutes();
			if(minute < 10){
				minute = "0"+minute;
			}
			let hm = hour+""+minute;
			if(Number(hm) < Number(time)){
				let yesterdaytime = (new Date).getTime() - 24*60*60*1000;
				date = new Date(yesterdaytime);
			}
			
			let year = date.getFullYear();
			let month = date.getMonth()+1;
			let day = date.getDate();
			
			
			if($("#epId").val().indexOf('_new')>-1){
				
				if(month < 10){
					month = '0'+month;
				}
				if(day < 10){
					day = '0'+day;
				}
				document.getElementById('clickimg').src = '/ppv/getimgforpath?imgpath='+encodeURIComponent('http://127.0.0.1:8002/public/fog/img?cid=NT001&tm='+year+month+day+time);
			}else{
				let dateStr = year+'-'+month+'-'+day;
				document.getElementById('clickimg').src = imgUrls[time];
			}
			let mydiv1Time = getImgTime(imgUrls[time],time);
			show('mydiv1', convertDataTo(value),mydiv1Time);
 
	    }
	});
    function show(id, value,mydiv1Time) {
        let objDiv = $("#"+id+"");
        $(objDiv).css("display","block");
		$("#"+id+"_span")[0].innerText = value;
		$("#"+id+"_time")[0].innerText = mydiv1Time;
    }
    
    function closeFog(){
    	let epId = $("#epId").val();
    	$.ajax({
    		type : "POST",
    		url : "/system/alarm/closeFog/"+epId,
    		success : function(data) {
    			if (data.code == 0) {
    				parent.layer.msg("操作成功");
    				let index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
    				parent.layer.close(index);
    				
    			} else {
    				parent.layer.alert(data.msg);
    				let index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
    				parent.layer.close(index);
    				
    			}

    		}
    	});
    }

    /**
	 * 更新数据
     */
	function updateImgPath(){
		//日期处理
		let startDate = $("#startDate").val();
		let endDate = $("#endDate").val();
		if(startDate != "" && endDate != ""){
			startDate += ".000";
			endDate += ".000";
			let startDate_ = new Date(startDate);
			let endDate_ = new Date(endDate);
			if(startDate_ - endDate_ > 0){
				layer.msg("开始时间必须小于结束时间");
				layer.close(loadIndex);
				return;
			}
			startDate_.setMonth(startDate_.getMonth() + 1);
			if(startDate_ - endDate_ < 0){
				layer.msg("只能查询间隔一个月的数据");
				layer.close(loadIndex);
				return;
			}
		}


	    //获取图片
        $.ajax({
            type: "post",
            url: "/system/equipment/lookup/updateimgpath/"+$("#epId").val(),
        }).success(function(message) {
            let imgdata=message;
            let p = imgdata.path;
        }).fail(function(err){
            console.log(err);
        });
        let date = new Date(new Date().getTime()-24*60*60*1000).Format('yyyy-MM-dd hh:mm:ss');

		//获取统计图
        $.ajax({
            type: "get",
            url: "/system/alarm/distanceStatistic",
            dataType:'json',
            data: {startDate:startDate, endDate:endDate, epId:$("#epId").val(), date: date}
        }).success(function(data) {
            if (option && typeof option === "object") {
            	imgUrls = data.src_imgpaths;
                //option.title.text = date;
				option.yAxis.name = "能见度态势查询";
				//#7cc8de
				option.xAxis.axisLabel.textStyle.color = "#7cc8de";
				option.xAxis.nameTextStyle.color = "#7cc8de";
				option.yAxis.axisLabel.textStyle.color = "#7cc8de";
				option.yAxis.nameTextStyle.color = "#7cc8de";
				option.series[0].markLine.label.color = "#7cc8de";
				option.xAxis.splitLine.show = true;
				option.xAxis.splitLine.lineStyle.color = "rgba(124,200,222,0.5)";
				//'solid' 'dashed' 'dotted'
				option.xAxis.splitLine.lineStyle.type = "solid";
				option.yAxis.splitLine.show = true;
				option.yAxis.splitLine.lineStyle.color = "rgba(124,200,222,0.5)";
				//'solid' 'dashed' 'dotted'
				option.yAxis.splitLine.lineStyle.type = "solid";
				option.xAxis.axisLine.lineStyle.color = "#7cc8de";
				option.yAxis.axisLine.show = true;
				option.yAxis.axisLine.lineStyle.color = "#7cc8de";
                option.xAxis.data = data.xAxis.split(",");
                let seriesData = data.series.split(",");
                for(let i = 0;i<seriesData.length;i++){
                	seriesData[i] = parseInt(seriesData[i]);
                	if(seriesData[i] <= 30){
                		seriesData[i] = parseInt(seriesData[i]/0.3);
                	}else if(seriesData[i] <= 50){
                		seriesData[i] = parseInt(seriesData[i]*5-50);
                	}else if(seriesData[i] <= 100){
                		seriesData[i] = parseInt(seriesData[i]*2+100);
                	}else if(seriesData[i] <= 200){
                		seriesData[i] = parseInt(seriesData[i]+200);
                	}else{
                		seriesData[i] = parseInt((parseInt(seriesData[i])+200));
                	}
                }
                option.series[0].data = seriesData;

                imgpathsjson = data.imgpaths;
                myChart1.setOption(option, false);

                let series = data.series.split(",");
                let min = parseInt(series[0]);
                let max = parseInt(series[0]);
                let len = series.length;
                for (let i = 1; i < len; i++){
	                if (parseInt(series[i]) < min){
	                	min = parseInt(series[i]); 
	                }
	                if (parseInt(series[i]) > max){
	                	max = parseInt(series[i]); 
	                }
                } 
                
                //$("#maxDay").html(max||0);
				$("#minDay").html(min||0);
				
				let lastval = series[len-1];
				if(lastval >= 500){
					lastval = 500;
	            	$("#mi").html('500+');
	            }else{
	            	$("#mi").html(lastval||'0');
	            }
	            $("#fMeter_V").html(lastval||'0'+"m");
	            
	            let sumDistance = 0;
                let lCount = 0;
                for (let i = len-1; i > len-20 ; i--){
                	if(i >= 0){
                    	sumDistance += parseInt(series[i]);
                    	lCount++;
                	}
                }
                let avgDistance = parseInt(sumDistance/lCount);
            	if(avgDistance >= 500){
            		$("#avgDistance").html("500+");
                }else{
                	$("#avgDistance").html(avgDistance||0);
                }

				layer.close(loadIndex);
            }
        }).fail(function(err){
            console.log(err);
        });
	}
	$('.fc-close').bind('click',function(event){
        hide('mydiv1');
    });
	function hide(id) {
        let objDiv = $("#"+id+"");
        $(objDiv).css("display", "none");
    }

    ///////////////////////////////////////////////////////////////////////////
	function search_distance(){
		loadIndex = layer.load(1);
		updateImgPath();
	}

	function search_reset(){
		$("#startDate").val("");
		$("#endDate").val("");
	}

	function epListClick($this){
        window.location.href = '/system/equipment/home_lookup/' + $this.getAttribute('epId')
    }

    function img1Click($this){
        document.getElementById("img1_show").src = $this.src;
        $("#img1_show").show();
    }

    function img1_showClick($this){
	    $($this).hide();
    }
	
    function getImgTime(imgUrl,time){
    	let dateStr = getQueryVariable(imgUrl,"dateStr") ;
    	let dates = dateStr.split("-");
    	let retuleTime = dates[0];
    	if(dates[1] >= 10){
    		retuleTime += "-"+dates[1];
    	}else{
    		retuleTime += "-0"+dates[1];
    	}
    	if(dates[2] >= 10){
    		retuleTime += "-"+dates[2];
    	}else{
    		retuleTime += "-0"+dates[2];
    	}
    	if(time.length == 4){
    		retuleTime += " "+time.substring(0,2)+":"+time.substring(2,4);
    	}else{
    		retuleTime += " "+time;
    	}
    	return retuleTime;
    }
    
    function getQueryVariable(imgUrl,variable)
    {
          var vars = imgUrl.split("/");
          return vars[3];
          // for (var i=0;i<vars.length;i++) {
          //         var pair = vars[i].split("=");
          //         if(pair[0] == variable){return pair[1];}
          // }
          // return(false);
    }

</script>
</html>