<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ckplayer</title>
		<style type="text/css">body{margin:0;padding:0px;font-family:"Microsoft YaHei",YaHei,"微软雅黑",SimHei,"黑体";font-size:14px}</style>
		<link href="/lkdtWX/js/plugins/layer/skin/layer.css" rel="stylesheet">
	</head>
	<body>
		<div id="video" style="width: 100%; height: 500px;"></div>

		<script src="/lkdtWX/js/jquery.min.js?v=2.1.4"></script>
		<script src="/lkdtWX/js/lay/modules/layer.js"></script>
		<script type="text/javascript" src="/lkdtWX/js/ckplayer/ckplayer.js"></script>
		<script type="text/javascript">
            //解析url路径,获取参数
            function getURLParameter(name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
            }
            //播放链接
            var rtmpUrl = getURLParameter('rtmpUrl');
			var videoObject = {
				container: '#video', //容器的ID或className
				variable: 'player',//播放函数名称
				autoplay:true,
				live:true,
				html5m3u8:true,
				mobileCkControls:false,
				video: decodeURIComponent(rtmpUrl)
			};
            function loadedmetadataFunc(){
                layer.msg("加载成功");
            }
            function errorFunc(){
                layer.msg('无信号/视频信号获取失败', function(){});
            }
			var player = new ckplayer(videoObject);
            function loadedHandle(){
                layer.msg('视频插件加载成功', function(){});
                player.addListener('loadedmetadata', loadedmetadataFunc);
                player.addListener('error', errorFunc);
            }
		</script>
	</body>

</html>