<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/lkdtWX/plugins/moment/daterangepicker.css" rel="stylesheet">
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="system:artificalModiLog:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="system:artificalModiLog:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-left nopadding">
							<table>
								<tr>
									<td>时间选择：</td>
									<td><input id="selectTime" type="text" class="form-control input-outline" style="width: 270px;" autocomplete="off"></td>
									<td>日志类型：</td>
									<td>
										<select  id="logType" data-placeholder="日志类型" class="form-control chosen-select"
												 style="width: 200px;display: inline;">
											<option value="">全部</option>
											<option value="1">摄像头异常设置</option>
											<option value="2">能见度设置</option>
										</select>
									</td>
									<td>摄像头异常类型：</td>
									<td>
										<select id="exceptionType" data-placeholder="摄像头异常类型" class="form-control chosen-select"
												style="width: 200px;display: inline;">
											<option value="">全部</option>
											<option value="0">正常</option>
											<option value="2">已处理但未确认</option>
											<option value="9">停用</option>
											<option value="3">画面模糊</option>
											<option value="4">信号异常</option>
											<option value="5">摄像头污损、遮盖</option>
											<option value="7">位置偏移</option>
											<option value="8">夜间不合规</option>
											<option value="6">其它</option>
										</select>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:artificalModiLog:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:artificalModiLog:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:artificalModiLog:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script src="/lkdtWX/plugins/weui/js/commonMap.js"></script>
	<script	src="/lkdtWX/plugins/moment/moment.min.js"></script>
	<script	src="/lkdtWX/plugins/moment/daterangepicker.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/appjs/fog/artificalModiLog/artificalModiLog.js"></script>
</body>
</html>