<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.fog.mapper.AlarmMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  zc_alarm 
		WHERE
			 road_alarm_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.lkdt.modules.fog.entity.Alarm">
		SELECT * 
		FROM  zc_alarm
		WHERE
			 road_alarm_id = #{mainId} 	</select>

	<!--查询告警详情信息-->
	<select id="selectById" parameterType="java.lang.String" resultType="org.lkdt.modules.fog.entity.Alarm">
		SELECT *
		FROM  zc_alarm
		WHERE
		id = #{id}
	</select>
	<!--查询道路告警信息:说明，这里返回的update_by是为了借助该字段存储分组的数量-->
	<select id="queryAlarmCalenderData" resultType="org.lkdt.modules.fog.entity.Alarm">
		SELECT
			calt2.level,
			calt2.begintime,
			count(calt2.id) update_by
		from (
			SELECT
				id,
				LEVEL,
				road_alarm_id,
				LEFT(begintime, 10) as  begintime,
				LEFT(endtime, 10) as endtime
			FROM
				zc_alarm
			ORDER BY
				LEVEL ASC,
				begintime DESC
			) calt2
		<where>
			<if test="start!='' and start!=null">
				calt2.begintime &gt; #{start}
			</if>
			<if test="end!='' and end!=null">
				and calt2.endtime &lt; #{end}
			</if>
			<if test="hwid!='' and hwid!=null">
				and calt2.road_alarm_id in (select id from zc_alarm_road where hw_id = #{hwid})
			</if>
		</where>
		GROUP BY
			calt2.level,
			calt2.begintime
	</select>

	<select id="queryDayAlarm" resultType="org.lkdt.modules.fog.entity.Alarm">
		SELECT
			ar.*
		FROM
			zc_alarm ar
		WHERE
			ar.begintime LIKE concat('%',#{start},'%')
		AND LEVEL = #{level}
		ORDER BY ar.begintime
	</select>
	<select id="selectInfoByCondition" resultType="org.lkdt.modules.wind.domain.AlarmDO">
		SELECT DISTINCT a.*,e.lat, e.lon,e.equ_name equName,e.equ_location equLocation
		FROM
		zc_highway_depart dh,
		zc_equipment e,
		zc_alarm a
		<where>
			<if test="hwIds != null and hwIds != ''">and e.hw_id in (${hwIds})</if>
			AND dh.hw_id = e.hw_id
			AND e.id = a.ep_id
			<if test="aday != null">
				AND(a.begintime > #{aday})
			</if>
			<if test="minutes != null and minutes != ''">
				AND TIMESTAMPDIFF(MINUTE, a.begintime, IFNULL(a.endtime,DATE_ADD(now(),INTERVAL ${minutes} MINUTE))) >
				#{minutes}
			</if>
			<if test="isadmin == null or isadmin == ''">
				and (a.level=3 or a.iseffective=1)
			</if>
		</where>
		ORDER BY a.begintime DESC
	</select>
	<!-- 按路段获取告警总数 -->
	<select id="getAlarmCountGroupEpId" resultType="org.lkdt.modules.fog.vo.AlarmCountVo">
		SELECT
			count( a.id ) count,
			b.id AS epId,
			b.`equ_name` AS NAME,
			SUM( CASE WHEN a.LEVEL = 4 THEN 1 ELSE 0 END ) AS speCount
		FROM
			zc_alarm a,
			zc_equipment b
		<where>
			a.ep_id = b.id
			<if test="hwIds != null and hwIds != ''">and b.hw_id in (${hwIds})</if>
		</where>
		GROUP BY
			b.id
		ORDER BY
			count DESC
	</select>

	<!--年度路段告警统计-->
	<select id="queryRoadAlarmByYear" resultType="java.util.Map">
		SELECT
			DATE_FORMAT( t1.starttime, '%Y' ) AS statisticTime,
			t1.hw_id,
			t2.NAME AS hwName,
			count(*) num
		FROM
			zc_alarm_road t1
				LEFT JOIN zc_highway t2 ON t2.id = t1.hw_id
		<where>
			DATE_FORMAT( t1.starttime, '%Y' ) = #{yearString}
			<if test="hwIds != null and hwIds != ''">and t1.hw_id in (${hwIds})</if>
		</where>
		GROUP BY
			DATE_FORMAT( T1.STARTTIME, '%Y' ),
			T1.HW_ID,
			T2.NAME
		ORDER BY
		    num desc,
			DATE_FORMAT( T1.STARTTIME, '%Y' ) DESC
	</select>
	<!-- 获取当天告警 -->
	<select id="queryListToday" resultType="java.lang.Integer">
		SELECT
			count( b.id ) count
		FROM
			zc_alarm_road b
		WHERE
			DATE_FORMAT(b.starttime, '%Y%m%d') = DATE_FORMAT(now(), '%Y%m%d')
			<if test="hwIds != null and hwIds != ''">and b.hw_id in (${hwIds})</if>
	</select>

	<!-- 获取当月告警 -->
	<select id="queryListMonth" resultType="java.lang.Integer">
		SELECT
			count( b.id ) count
		FROM
			zc_alarm_road b
		WHERE
			DATE_FORMAT( b.starttime, '%Y%m' ) = DATE_FORMAT(now(),'%Y%m')
			<if test="hwIds != null and hwIds != ''">and b.hw_id in (${hwIds})</if>
	</select>

	<select id="queryEquAlarm" resultType="org.lkdt.modules.wind.domain.AlarmDO">
		SELECT T1.EP_ID,T1.IMGTIME,T1.IMGPATH,T1.ID,T1.DISTANCE,T1.`LEVEL`,T4.STARTTIME BEGINTIME,T4.ENDTIME
		,T2.EQU_NAME,T2.LAT,T2.LON,T2.HW_ID,T3.NAME AS HW_NAME,T1.ROAD_ALARM_ID
		,CASE WHEN T4.ENDTIME IS NOT NULL THEN CEIL((UNIX_TIMESTAMP(T4.ENDTIME)-UNIX_TIMESTAMP(T4.STARTTIME))/60) ELSE
		'未结束' END AS FOR_MINUTE
		FROM ZC_ALARM T1, ZC_EQUIPMENT T2 , ZC_HIGHWAY T3,ZC_ALARM_ROAD T4
		WHERE T1.EP_ID = T2.ID AND T2.HW_ID = T3.ID AND T2.HW_ID = T4.HW_ID AND T1.ROAD_ALARM_ID =
		T4.id
		and DATE_FORMAT(T4.STARTTIME, '%Y-%m-%d' ) = #{begintime}
		<choose>
			<when test="hwId != null and hwId != ''">
				AND T2.HW_ID = #{hwId}
			</when>
			<otherwise>
				<if test="hwIds != null and hwIds != ''">
					AND T2.HW_ID IN
					<foreach item="hwId" collection="hwIds" open="(" separator="," close=")">
						#{hwId}
					</foreach>
				</if>
			</otherwise>
		</choose>
		ORDER BY T2.HW_ID,T1.ROAD_ALARM_ID,T1.BEGINTIME
	</select>
	<select id="queryAlarmByroadAlarmType" resultType="org.lkdt.modules.fog.vo.ChartData">
		select count(a.id) sum, r.road_alarm_type type
		FROM zc_alarm a INNER JOIN zc_alarm_road r on a.road_alarm_id=r.id
		  GROUP BY r.road_alarm_type
		  HAVING r.road_alarm_type is not null
	</select>

	<select id="selectInfoByEpId" resultType="org.lkdt.modules.fog.entity.Alarm">
		SELECT *FROM zc_alarm WHERE  ep_id=#{epId} AND iseffective !=0 AND endtime is NULL
	</select>
	<select id="selectByAlarmRoadIdAndEndTime" parameterType="java.lang.String" resultType="org.lkdt.modules.fog.entity.Alarm">
		SELECT *
		FROM  zc_alarm
		WHERE
			road_alarm_id = #{mainId} and endtime is null	</select>
</mapper>
