<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.fog.mapper.AlarmRoadMapper">

    <select id="queryBindCount" resultType="int">
        SELECT COUNT(DISTINCT a.id) count
        FROM zc_alarm_road a, zc_alarm_road_control_info b
        where a.id=b.id
          and DATE_FORMAT( a.starttime
            , '%Y%m' ) = DATE_FORMAT( CURDATE( )
            , '%Y%m' )
    </select>
    <select id="queryMonthCount" resultType="int">
        SELECT COUNT(DISTINCT a.id) count
        FROM zc_alarm_road a
        where DATE_FORMAT( a.starttime, '%Y%m' ) = DATE_FORMAT( CURDATE( ), '%Y%m' )
    </select>
    <!-- 按日期，告警等级统计日历数据 -->
    <select id="queryCalendarAlarm" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        SELECT distinct T1.ALARM_LEVEL,DATE_FORMAT(T1.STARTTIME, '%Y-%m-%d' ) AS starttime,COUNT(*) AS update_by
        ,GROUP_CONCAT(T1.ID) AS ID
        FROM ZC_ALARM_ROAD T1 WHERE (road_alarm_type=11 or road_alarm_type=12)
        <choose>
            <when test="hwId != null and hwId != ''">
                AND T1.HW_ID = #{hwId}
            </when>
            <otherwise>
                <if test="hwIds != null and hwIds != ''">
                    AND T1.HW_ID IN
                    <foreach item="hwId" collection="hwIds" open="(" separator="," close=")">
                        #{hwId}
                    </foreach>
                </if>
            </otherwise>
        </choose>
        GROUP BY T1.ALARM_LEVEL,DATE_FORMAT(T1.STARTTIME, '%Y-%m-%d' )
        ORDER BY DATE_FORMAT(T1.STARTTIME, '%Y-%m-%d' ) ,T1.ALARM_LEVEL
    </select>
    <!-- 按年、按路段统计起雾次数 -->
    <select id="queryYearRoadReport" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        SELECT DATE_FORMAT(T1.STARTTIME, '%Y' ) AS STATISTICS_DATE,T1.HW_ID,T2.NAME AS HW_NAME,COUNT(*) AS
        STATISTICS_NUM
        FROM ZC_ALARM_ROAD T1,ZC_HIGHWAY T2 WHERE T1.HW_ID = T2.ID
        <if test="hwIds != null and hwIds != ''">
            AND T1.HW_ID IN
            <foreach item="hwId" collection="hwIds" open="(" separator="," close=")">
                #{hwId}
            </foreach>
        </if>
        GROUP BY DATE_FORMAT(T1.STARTTIME, '%Y' ),T1.HW_ID,T2.NAME
        ORDER BY DATE_FORMAT(T1.STARTTIME, '%Y' ) DESC
    </select>

    <!-- 按年、雾等级统计起雾次数 -->
    <select id="queryYearLevelReport" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        SELECT DATE_FORMAT(T1.STARTTIME, '%Y' ) AS STATISTICS_DATE,T1.ALARM_LEVEL,COUNT(*) AS STATISTICS_NUM
        FROM ZC_ALARM_ROAD T1 WHERE 1=1
        <if test="hwIds != null and hwIds != ''">
            AND T1.HW_ID IN
            <foreach item="hwId" collection="hwIds" open="(" separator="," close=")">
                #{hwId}
            </foreach>
        </if>
        GROUP BY DATE_FORMAT(T1.STARTTIME, '%Y' ),T1.ALARM_LEVEL
        ORDER BY DATE_FORMAT(T1.STARTTIME, '%Y' ) DESC
    </select>


    <!-- 按月、按路段统计起雾次数 -->
    <select id="queryMonthRoadReport" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        SELECT DATE_FORMAT(T1.STARTTIME, '%m' ) AS STATISTICS_DATE,T1.HW_ID,T2.NAME AS HW_NAME,COUNT(*) AS
        STATISTICS_NUM
        FROM ZC_ALARM_ROAD T1,ZC_HIGHWAY T2 WHERE T1.HW_ID = T2.ID AND DATE_FORMAT(T1.STARTTIME, '%Y' ) = #{nowYear}
        <if test="hwIds != null and hwIds != ''">
            AND T1.HW_ID IN
            <foreach item="hwId" collection="hwIds" open="(" separator="," close=")">
                #{hwId}
            </foreach>
        </if>
        GROUP BY DATE_FORMAT(T1.STARTTIME, '%m' ),T1.HW_ID,T2.NAME
        ORDER BY DATE_FORMAT(T1.STARTTIME, '%m' ) DESC
    </select>

    <!-- 按月、雾等级统计起雾次数 -->
    <select id="queryMonthLevelReport" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        SELECT DATE_FORMAT(T1.STARTTIME, '%m' ) AS STATISTICS_DATE,T1.ALARM_LEVEL,COUNT(*) AS STATISTICS_NUM
        FROM ZC_ALARM_ROAD T1 WHERE DATE_FORMAT(T1.STARTTIME, '%Y' ) = #{nowYear}
        <if test="hwIds != null and hwIds != ''">
            AND T1.HW_ID IN
            <foreach item="hwId" collection="hwIds" open="(" separator="," close=")">
                #{hwId}
            </foreach>
        </if>
        GROUP BY DATE_FORMAT(T1.STARTTIME, '%m' ),T1.ALARM_LEVEL
        ORDER BY DATE_FORMAT(T1.STARTTIME, '%m' ) DESC
    </select>

    <!-- 按日、按路段统计起雾次数 -->
    <select id="queryDayRoadReport" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        SELECT DATE_FORMAT(T1.STARTTIME, '%d' ) AS STATISTICS_DATE,T1.HW_ID,T2.NAME AS HW_NAME,COUNT(*) AS
        STATISTICS_NUM
        FROM ZC_ALARM_ROAD T1,ZC_HIGHWAY T2 WHERE T1.HW_ID = T2.ID AND DATE_FORMAT(T1.STARTTIME, '%Y-%m' ) = #{nowMonth}
        <if test="hwIds != null and hwIds != ''">
            AND T1.HW_ID IN
            <foreach item="hwId" collection="hwIds" open="(" separator="," close=")">
                #{hwId}
            </foreach>
        </if>
        GROUP BY DATE_FORMAT(T1.STARTTIME, '%d' ),T1.HW_ID,T2.NAME
        ORDER BY DATE_FORMAT(T1.STARTTIME, '%d' ) DESC
    </select>

    <!-- 按日、雾等级统计起雾次数 -->
    <select id="queryDayLevelReport" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        SELECT DATE_FORMAT(T1.STARTTIME, '%d' ) AS STATISTICS_DATE,T1.ALARM_LEVEL,COUNT(*) AS STATISTICS_NUM
        FROM ZC_ALARM_ROAD T1 WHERE DATE_FORMAT(T1.STARTTIME, '%Y-%m' ) = #{nowMonth}
        <if test="hwIds != null and hwIds != ''">
            AND T1.HW_ID IN
            <foreach item="hwId" collection="hwIds" open="(" separator="," close=")">
                #{hwId}
            </foreach>
        </if>
        GROUP BY DATE_FORMAT(T1.STARTTIME, '%d' ),T1.ALARM_LEVEL
        ORDER BY DATE_FORMAT(T1.STARTTIME, '%d' ) DESC
    </select>
    <select id="queryTheNumberOfAnnualAlarms" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        SELECT GROUP_CONCAT(id) id,
               road_alarm_type  roadAlarmType,
               count(id) count
        FROM
            zc_alarm_road
        <where>
            starttime LIKE CONCAT( '%'
            , DATE_FORMAT( #{nowDate}
            , '%Y' )
            , '%' )
            <if test="hwIds != null and hwIds != ''">and hw_id in (${hwIds})</if>
        </where>
        GROUP BY
            road_alarm_type
    </select>
    <select id="queryListByDay" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        select a.*
        from zc_alarm_road a
        where a.starttime between #{beginTime} and #{endTime}
            or a.endtime between #{beginTime} and #{endTime}
    </select>
    <select id="queryMongoListByDay" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        select h.id hw_id,min(r.starttime) starttime,max(r.endtime) endtime
        from zc_highway h
        LEFT JOIN (SELECT hw_id,min(starttime) starttime,max(endtime) endtime
        FROM zc_alarm_road WHERE starttime between #{beginTime} and #{endTime}
        or endtime between #{beginTime} and #{endTime} GROUP BY hw_id
        ) r on h.id=r.hw_id
        GROUP BY h.id
    </select>
    <select id="queryByHwId" resultType="org.lkdt.modules.fog.entity.AlarmRoad">
        select * from zc_alarm_road where hw_id=#{hwId} and endtime is null order by starttime desc limit 1
    </select>
</mapper>