<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.fog.mapper.AlarmNoticeMapper">

    <select id="queryThePhoneNumberOfTheDutyOfficer" resultType="java.lang.String">
        SELECT
            phone
        FROM
            sys_user
        WHERE
                id = (
                SELECT
                    create_by
                FROM
                    zc_start_duty
                WHERE
                    end_time IS NULL
                ORDER BY
                    start_time desc limit 1)
    </select>
    <select id="queryAlermNoticelist" resultType="org.lkdt.modules.fog.entity.AlarmNoticeModel">
        SELECT T1.ID,T1.ALARM_ID,T1.SENDTIME,T1.SENDER,T1.TYPE,T1.SENDTEXT,T1.HANDLER,T1.HANDLETIME,T1.ISEFFECTIVE,T2.item_text AS ALARMTYPE,T1.EP_ID
        FROM ZC_ALARM_NOTICE T1 LEFT JOIN sys_dict_item T2 ON T1.TYPE = T2.item_value AND T2.dict_id = '1387205008373583873'
        <where>
            <if test="id != null and id != ''"> and t1.id = #{id} </if>
            <if test="alarmId != null and alarmId != ''"> and t1.alarm_id = #{alarmId} </if>
            <if test="sendtime != null and sendtime != ''"> and t1.sendtime = #{sendtime} </if>
            <if test="startsendtime != null and startsendtime != ''">and t1.sendtime &gt;= #{startsendtime} </if>
            <if test="endsendtime != null and endsendtime != ''">and t1.sendtime &lt; #{endsendtime} </if>
            <if test="sender1Or2 != null and sender1Or2 != ''"> and t1.sender in(${sender1Or2}) </if>
            <if test="sender != null and sender != ''"> and t1.sender = #{sender} </if>
            <if test="type != null and type != ''"> and t1.type = #{type} </if>
            <if test="sendtext != null and sendtext != ''"> and t1.sendtext = #{sendtext} </if>
            <if test="handler != null and handler != ''"> and t1.handler = #{handler} </if>
            <if test="handletime != null and handletime != ''"> and t1.handletime = #{handletime} </if>
            <if test="iseffective != null and iseffective != ''"> and t1.iseffective = #{iseffective} </if>
        </where>
        ORDER BY T1.SENDTIME ASC
    </select>
</mapper>