<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.fog.mapper.AlertThreepartMapper">

    <select id="listByParams" resultType="org.lkdt.modules.fog.entity.AlertThreepartRecord">
        select `id`,`alert_threepart_id`,`create_by`,`operation`,`create_time` from zc_alert_threepart_record
        <where>
            <if test="alertThreepartRecordId != null and alertThreepartRecordId != ''"> and id = #{alertThreepartRecordId} </if>
            <if test="alertThreepartId != null and alertThreepartId != ''"> and alert_threepart_id = #{alertThreepartId} </if>
            <if test="openid != null and openid != ''"> and create_by = #{openid} </if>
            <if test="operation != null and operation != ''"> and operation = #{operation} </if>
            <if test="notOperation != null and notOperation != ''"> and operation != #{notOperation} </if>
            <if test="operationTime != null and operationTime != ''"> and create_time = #{operationTime} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by create_time desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
</mapper>