<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.fog.mapper.EquipmentMapper">
    <select id="queryEquipments" resultType="org.lkdt.modules.fog.entity.Equipment">
        SELECT A.ID, A.EQU_CODE, A.EQU_NAME, A.SAVE,A.CLARITY FROM ZC_EQUIPMENT A
        <where>
            A.STATE != '9'
            <if test="hwId != null and hwId != ''">and a.hw_id = #{hwId}</if>
            <if test="hwIds != null and hwIds != ''">and a.hw_id in (${hwIds})</if>
        </where>
        <if test="offset != null and limit != null">
            ORDER BY A.EP_ID LIMIT #{offset}, #{limit}
        </if>
    </select>

    <select id="queryEquipmentCount" resultType="int">
        SELECT COUNT(*)
        FROM ZC_EQUIPMENT A
        where A.STATE != '9'
    </select>

    <select id="queryCameraIdsByDeptId" resultType="java.lang.String">
        SELECT id
        FROM ZC_EQUIPMENT
        where department_id = #{department_id}
    </select>
    <select id="queryCameraIdsByComputeRoomId" resultType="org.lkdt.modules.fog.entity.Equipment">
        SELECT A.ID, A.EQU_CODE, A.EQU_NAME, A.SAVE,A.CLARITY
        FROM ZC_EQUIPMENT A
        where A.STATE != '9' and owned_computer_room = #{owned_computer_room}
    </select>
</mapper>