<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.wind.mapper.ZcWindMapper">
    <!--query gale warning data-->
    <select id="listWindAlarm" resultType="org.lkdt.modules.wind.domain.WindDO">
        select `id`,`wind_code`,`wind_name`,`wind_location`,`lat`,`lon`,`hw_id`,`create_time`,`update_time`,`creator`,`updater`,`state`,`adjoin_epid` from zc_wind
        <where>
            <if test="windId != null and windId != ''"> and id = #{windId} </if>
            <if test="windCode != null and windCode != ''"> and wind_code = #{windCode} </if>
            <if test="windName != null and windName != ''"> and wind_name = #{windName} </if>
            <if test="windLocation != null and windLocation != ''"> and wind_location = #{windLocation} </if>
            <if test="lat != null and lat != ''"> and lat = #{lat} </if>
            <if test="lon != null and lon != ''"> and lon = #{lon} </if>
            <if test="hwId != null and hwId != ''"> and hw_id = #{hwId} </if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
            <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
            <if test="creator != null and creator != ''"> and creator = #{creator} </if>
            <if test="updater != null and updater != ''"> and updater = #{updater} </if>
            <if test="state != null and state != ''"> and state = #{state} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <!--query gale warning data based on ID-->
    <select id="get" resultType="org.lkdt.modules.wind.domain.WindDO">
        select `id`,`wind_code`,`wind_name`,`wind_location`,`lat`,`lon`,`hw_id`,`create_time`,`update_time`,`creator`,`updater`,`state`,`adjoin_epid` from zc_wind where id = #{value}
    </select>
</mapper>