<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.radar.mapper.RiskValuesMapper">

    <insert id="insertBatch" parameterType="org.lkdt.modules.radar.entity.RiskValues">
        INSERT INTO zc_ld_risk_value_records (`radar_id`,`date_time`,`d`,`e`,`c`,`risk_value`,`whole`,`whole_xiao`,
            `whole_da`,`whole_discrete_value`,`delt_v`,`event_type`, `direction`,car_type,car_start_lane,car_end_lane)
        VALUES
        <foreach collection="list" item="riskValues" separator =",">
            ( #{riskValues.radarId}, #{riskValues.dateTime}, #{riskValues.d}, #{riskValues.e}, #{riskValues.c},
            #{riskValues.riskValue}, #{riskValues.whole}, #{riskValues.wholeXiao}, #{riskValues.wholeDa},
            #{riskValues.wholeDiscreteValue}, #{riskValues.deltV}, #{riskValues.eventType}, #{riskValues.direction}
            , #{riskValues.carType}, #{riskValues.carStartLane}, #{riskValues.carEndLane})
        </foreach >
    </insert>

</mapper>
