<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.radar.mapper.ZcLdEventRadarInfoMapper">

	<!-- 查询车辆数据包 -->
	<select id="queryRadarInfoPathTrace" parameterType="java.util.Map" resultType="org.lkdt.modules.radar.entity.ZcLdEventRadarInfo">
		select substr(lane_start_road,1,1) as lane_start_road ,create_time ,id
		from zc_ld_event_radar_info
		<where>  
			<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
			<if test="beginTime != null and beginTime != ''"> and begin_time > #{beginTime} </if> 
			<if test="endTime != null and endTime != ''"> and begin_time &lt; #{endTime} </if> 
			<if test="direction != null and direction != ''"> and SUBSTR(lane_start_road,1,1) = #{direction} </if>
		</where>
	</select>

	<!-- 车型占比 -->
	<select id="queryCarTypeRatio" parameterType="java.util.Map" resultType="java.util.Map" >
		select car_type as name,count(*) as value from zc_ld_event_radar_info
		<where>  
			<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
			<if test="beginTime != null and beginTime != ''"> and begin_time >= #{beginTime} </if> 
			<if test="endTime != null and endTime != ''"> and end_time &lt;= #{endTime} </if> 
		</where>
		group by car_type
	</select>
	
	<!-- 按小时统计N小时前至今的车流量和平均时速 -->
	<select id="queryFlowAndSpeed" parameterType="java.util.Map" resultType="java.util.Map">
		select DATE_FORMAT(begin_time,'%Y-%m-%d %H') as begin_time,COUNT(*) as data_count,AVG(ABS(speed_avg)) as speed_avg 
		from zc_ld_event_radar_info 
		<where>  
			<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
			<if test="hours != null and hours != ''"> and DATE_FORMAT(begin_time,'%Y-%m-%d %H') > DATE_FORMAT(date_sub(now(), interval ${hours} hour),'%Y-%m-%d %H') </if>
		</where>
		
		GROUP BY DATE_FORMAT(begin_time,'%Y-%m-%d %H')
	</select>
	
	<!-- 按分钟统计车流量和平均时速 -->
	<select id="queryFlowAndSpeedGroupByMinutes" parameterType="java.util.Map" resultType="java.util.Map" >
		select DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i') as begin_time,COUNT(*) as data_count,AVG(ABS(speed_avg)) as speed_avg 
		from zc_ld_event_radar_info 
		<where>  
			<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
			<if test="beginTime != null and beginTime != ''"> and begin_time >= #{beginTime} </if> 
			<if test="endTime != null and endTime != ''"> and end_time &lt;= #{endTime} </if> 
		</where>
		GROUP BY DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i')
	</select>
	
	<!-- 按秒统计车流量和平均时速 -->
	<select id="queryFlowAndSpeedGroupBySecond" parameterType="java.util.Map" resultType="java.util.Map" >
		select DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i:%s') as begin_time,COUNT(*) as data_count,AVG(ABS(speed_avg)) as speed_avg 
		from zc_ld_event_radar_info 
		<where>  
			<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
			<if test="beginTime != null and beginTime != ''"> and begin_time >= #{beginTime} </if> 
			<if test="endTime != null and endTime != ''"> and end_time &lt;= #{endTime} </if> 
		</where>
		GROUP BY DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i:%s')
	</select>
	
	<!-- 统计车流量和平均时速 -->
	<select id="queryFlowAndAvgSpeed" parameterType="java.util.Map" resultType="java.util.Map">
		select COUNT(*) as data_count,AVG(ABS(speed_avg)) as speed_avg ,
			<if test='tjDateType == "H"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H') as tj_date </if>
			<if test='tjDateType == "M"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i') as tj_date </if>
			<if test='tjDateType == "S"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i:%s') as tj_date </if>
			from zc_ld_event_radar_info  
			<where>  
				<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
				<if test="dateTime != null and dateTime != ''"> and begin_time >= #{dateTime} </if> 
			</where>
			GROUP BY tj_date 
			order by tj_date
	</select>
	
	<!-- 按车道统计 -->
	<select id="querylaneStatistics" parameterType="java.util.Map" resultType="java.util.Map" >
		select lane_start_road,item_text  as name,count(*) as value ,AVG(ABS(speed_avg)) as speedAvg
		from zc_ld_event_radar_info t1 ,sys_dict_item t2
		<where>  
			t2.dict_id = '1377903800389902337' and t1.lane_start_road = t2.item_value
			<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
			<if test="beginTime != null and beginTime != ''"> and begin_time >= #{beginTime} </if> 
			<if test="endTime != null and endTime != ''"> and end_time &lt;= #{endTime} </if> 
		</where>
		group by lane_start_road,item_text
	</select>
	
	<!-- 统计（单元路段）平均车速，区分来、去向 -->
	<select id="queryUnitAvgSpeed" parameterType="java.util.Map" resultType="java.util.Map">
		select COUNT(*) as data_count,AVG(ABS(speed_avg)) as speed_avg ,SUBSTR(lane_start_road,1,1) as lane_direction ,
			<if test='tjDateType == "H"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H') as tj_date </if>
			<if test='tjDateType == "M"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i') as tj_date </if>
			<if test='tjDateType == "S"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i:%s') as tj_date </if>
			from zc_ld_event_radar_info 
			<where>  
				<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
				<if test="dateTime != null and dateTime != ''"> and begin_time >= #{dateTime} </if> 
			</where>
			GROUP BY tj_date ,lane_direction
			order by tj_date
	</select>
	
	<!-- 统计（各车道）平均车速 -->
	<select id="queryLaneAvgSpeed" parameterType="java.util.Map" resultType="java.util.Map">
		select COUNT(*) as data_count,AVG(ABS(speed_avg)) as speed_avg ,lane_start_radar as lane_num,
			<if test='tjDateType == "H"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H') as tj_date </if>
			<if test='tjDateType == "M"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i') as tj_date </if>
			<if test='tjDateType == "S"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i:%s') as tj_date </if>
			from zc_ld_event_radar_info  
			<where>  
				<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
				<if test="dateTime != null and dateTime != ''"> and begin_time >= #{dateTime} </if> 
			</where>
			GROUP BY tj_date ,lane_num
			order by tj_date
	</select>
	
	<!-- （单元路段）速度离散度 -->
	<select id="queryUnitSpeedStddev" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			SUBSTR(lane_start_road,1,1) as lane_direction,
			FORMAT( STDDEV_SAMP( speed_avg ), 2 ) AS mini_avg_v  ,
			<if test='tjDateType == "H"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H') as tj_date </if>
			<if test='tjDateType == "M"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i') as tj_date </if>
			<if test='tjDateType == "S"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i:%s') as tj_date </if>
		FROM
			zc_ld_event_radar_info 
		<where>  
			<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
			<if test="dateTime != null and dateTime != ''"> and begin_time >= #{dateTime} </if> 
		</where>
		GROUP BY tj_date ,lane_direction
		order by tj_date
	</select>
	
	
	<!-- （各车道）速度离散度 -->
	<select id="queryLaneSpeedStddev" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			lane_start_radar as lane_num,
			FORMAT( STDDEV_SAMP( speed_avg ), 2 ) AS mini_avg_v  ,
			<if test='tjDateType == "H"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H') as tj_date </if>
			<if test='tjDateType == "M"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i') as tj_date </if>
			<if test='tjDateType == "S"'> DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i:%s') as tj_date </if>
		FROM
			zc_ld_event_radar_info  
		<where>  
			<if test="equId != null and equId != ''"> and equ_id = #{equId} </if>
			<if test="dateTime != null and dateTime != ''"> and begin_time >= #{dateTime} </if> 
		</where>
		GROUP BY tj_date ,lane_num
		order by tj_date
	</select>
	
	
	<!-- 查询最近两小时内最新的数据，确定雷达是否掉线 -->
	<select id="queryRadarNewDate" resultType="java.util.Map">
		select t2.id,tt.tj_date,t2.equ_name
		from (
		select equ_id,max(create_time) as tj_date from zc_ld_event_radar_info where create_time > date_sub(NOW(), interval 2 DAY_HOUR) group by equ_id 
		union 
		select equ_id,max(create_time) as tj_date from zc_ld_flow_radar_info where create_time > date_sub(NOW(), interval 2 DAY_HOUR) group by equ_id
		)  tt RIGHT JOIN zc_ld_radar_equipment t2 on tt.equ_id = t2.id
		where t2.equ_type in ('001','002')
	</select>

	<!-- 查询今日最新的数据，确定车个数 -->
	<select id="queryCountNow" parameterType="java.util.Map" resultType="java.util.Map">
		select left(lane_start_road, 1) direction, count(1) count
		from zc_ld_event_radar_info
		where
			equ_id = #{equId}
			and to_days(create_time) = to_days(now())
		group by left(lane_start_road, 1);
	</select>
	
	
</mapper>