<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.radar.mapper.ZcLdRadarVideoMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  zc_ld_radar_video 
		WHERE
			  id = (select vedio_id from zc_ld_equipment_video where ep_id = #{mainId}  limit 1)
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.lkdt.modules.radar.entity.ZcLdRadarVideo">
		SELECT * 
		FROM  zc_ld_radar_video
		WHERE
			  id = (select vedio_id from zc_ld_equipment_video where ep_id = #{mainId}  limit 1)
	</select>
	<select id="selectByUnitId" parameterType="java.lang.String" resultType="org.lkdt.modules.radar.entity.ZcLdRadarVideo">
		SELECT *
		FROM  zc_ld_radar_video
		WHERE
		 unit_id = #{mainId}
	</select>

	<select id="selectByEpId" parameterType="java.lang.String" resultType="org.lkdt.modules.radar.entity.ZcLdRadarVideo">
		SELECT * FROM zc_ld_radar_video where id IN (SELECT vedio_id FROM zc_ld_equipment_video WHERE EP_ID = #{epId})
	</select>

</mapper>
