<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.radar.mapper.ZcLdEquipmentVideoMapper">
    <delete id="deleteByVedioId">
        delete from zc_ld_equipment_video where vedio_id=#{vedio_id}
    </delete>
    <select id="selectSingleId" resultType="java.lang.String">
        select vedio_id from zc_ld_equipment_video where ep_id = #{ep_id}
    </select>
    <select id="selectByVedioId" resultType="org.lkdt.modules.radar.entity.ZcLdEquipmentVideo">
        select ep_id from zc_ld_equipment_video where vedio_id=#{vedio_id}
    </select>
</mapper>