<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.radar.mapper.ZcLdRiskEventManageMapper">

	<!-- 日报统计 -->
	<select id="queryDailyStatistics" parameterType="java.util.Map" resultType="org.lkdt.modules.radar.entity.ZcLdRiskEventManage" >
		<![CDATA[
		select radar_id, event_type, tj_count from(
			-- 统计两速三急
			select radar_id,event_type,count(*) as tj_count
			from zc_ld_risk_event_manage 
			where 
			DATE_FORMAT(event_time,'%Y-%m-%d %H:%i:%s') > #{beginTime}  
			and DATE_FORMAT(event_time,'%Y-%m-%d %H:%i:%s') < #{endTime}
			and event_type in (1001,1002,1003,1004,1005)
			group by radar_id,event_type
			UNION
			-- 统计障碍物、急停、停车、撞车
			select radar_id,event_type,count(*) as tj_count
			from zc_ld_risk_event_manage
			where
			DATE_FORMAT(event_time,'%Y-%m-%d %H:%i:%s') > #{beginTime}  
			and DATE_FORMAT(event_time,'%Y-%m-%d %H:%i:%s') < #{endTime}
			and event_type  in (1007,1100,8888,9999)
			and valid = 'Y'
			group by radar_id,event_type
		) a order by a.radar_id,a.event_type
		]]>
	</select>
</mapper>