<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.radar.mapper.ZcLdUnitMapper">

    <select id="selectIdsByHwId" resultType="java.lang.String">
        select id from  zc_ld_unit where hw_id = #{hw_id}
    </select>
    <select id="selectIdsLikeId" resultType="java.lang.String">
        select id from  zc_ld_unit where id like concat('%',#{id},'%')
    </select>
    <select id="selectLdUnitById" resultType="org.lkdt.modules.radar.entity.ZcLdUnit">
        select * from  zc_ld_unit where id = #{id}
    </select>
</mapper>