<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.radar.mapper.ZcLdRadarFrameMapper">

	<insert id="insertBatch" parameterType="org.lkdt.modules.radar.entity.ZcLdRadarFrame">
		INSERT INTO zc_ld_radar_frame (`radar_id`,`frame_id` ,`lane_direction`,`v_avg`,`avg_time_distance`,`small_count`,`medium_count`,`large_count`,
			`small_count_ratio`,`medium_count_ratio`,`large_count_ratio`,`car_flow_density`,`speed_discrete`,`speed_discrete_avg`,`lane_ratio`,`date_time`)
		VALUES
		<foreach collection="list" item="zcLdRadarFrame" separator =",">
			(#{zcLdRadarFrame.radarId}, #{zcLdRadarFrame.frameId}, #{zcLdRadarFrame.laneDirection}, #{zcLdRadarFrame.vAvg},
			#{zcLdRadarFrame.avgTimeDistance}, #{zcLdRadarFrame.smallCount}, #{zcLdRadarFrame.mediumCount}, #{zcLdRadarFrame.largeCount},
			#{zcLdRadarFrame.smallCountRatio}, #{zcLdRadarFrame.mediumCountRatio}, #{zcLdRadarFrame.largeCountRatio}, #{zcLdRadarFrame.carFlowDensity},
			#{zcLdRadarFrame.speedDiscrete}, #{zcLdRadarFrame.speedDiscreteAvg}, #{zcLdRadarFrame.laneRatio}, #{zcLdRadarFrame.dateTime})
		</foreach >
	</insert>

	<!-- 统计（单元路段）大小车占比度，区分来、去向和车型 -->
	<select id="queryUnitRoadCarTypeByDirection" parameterType="java.util.Map" resultType="java.util.Map">
		select case when small_sum = 0 then 0 else small_sum / all_sum *100 end as small_avg, 
			case when big_sum = 0 then 0 else big_sum / all_sum *100 end as big_avg ,
			lane_direction, tj_date from 
		(
			select sum(small_count) as small_sum, sum(medium_count) + sum(large_count) as big_sum, 
			sum(small_count) + sum(medium_count) + sum(large_count) as all_sum, 
			lane_direction, 
			<if test='tjDateType == "H"'> DATE_FORMAT(date_time,'%Y-%m-%d %H') as tj_date </if>
			<if test='tjDateType == "M"'> DATE_FORMAT(date_time,'%Y-%m-%d %H:%i') as tj_date </if>
			<if test='tjDateType == "S"'> DATE_FORMAT(date_time,'%Y-%m-%d %H:%i:%s') as tj_date </if>
			from zc_ld_radar_frame 
			<where>  
				<if test="equId != null and equId != ''"> and radar_id = #{equId} </if>
				<if test="dateTime != null and dateTime != ''"> and date_time >= #{dateTime} </if> 
			</where>
			group by lane_direction,tj_date
		) tt order by tj_date
	</select>
	
	<!-- 统计（单元路段）平均时距 -->
	<select id="queryUnitAvgTimeDistance" parameterType="java.util.Map" resultType="java.util.Map">
		select avg(avg_time_distance) as avg_time_distance , lane_direction ,
			<if test='tjDateType == "H"'> DATE_FORMAT(date_time,'%Y-%m-%d %H') as tj_date </if>
			<if test='tjDateType == "M"'> DATE_FORMAT(date_time,'%Y-%m-%d %H:%i') as tj_date </if>
			<if test='tjDateType == "S"'> DATE_FORMAT(date_time,'%Y-%m-%d %H:%i:%s') as tj_date </if>
		FROM zc_ld_radar_frame
		<where>  
			avg_time_distance > 0
			<if test="equId != null and equId != ''"> and radar_id = #{equId} </if>
			<if test="dateTime != null and dateTime != ''"> and date_time >= #{dateTime} </if> 
		</where>
		group by lane_direction,tj_date
		order by tj_date
	</select>
	
	
</mapper>
