<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.radar.mapper.ZcLdFlowRadarInfoMapper">
    <!--id,create_time,equ_id,timestamp,section_number,section_location,lane,flow,queue_length,occupancy,occupancy2,
    head_way,head_way2,average_speed,sum_mini,sum_mid,sum_large,circle,create_by,update_by,update_time,sys_org_code
    -->
    <insert id="insertBatch" parameterType="org.lkdt.modules.radar.entity.ZcLdFlowRadarInfo">
        INSERT INTO zc_ld_flow_radar_info (id,create_time,equ_id,timestamp,section_number,section_location,lane,flow,queue_length,occupancy,occupancy2,
            head_way,head_way2,average_speed,sum_mini,sum_mid,sum_large,circle,create_by,update_by,update_time,sys_org_code)
        VALUES
        <foreach collection="list" item="zcLdFlowRadarInfo" separator =",">
            (#{zcLdFlowRadarInfo.id}, #{zcLdFlowRadarInfo.createTime}, #{zcLdFlowRadarInfo.equId},
            #{zcLdFlowRadarInfo.timestamp}, #{zcLdFlowRadarInfo.sectionNumber}, #{zcLdFlowRadarInfo.sectionLocation}, #{zcLdFlowRadarInfo.lane},
            #{zcLdFlowRadarInfo.flow}, #{zcLdFlowRadarInfo.queueLength}, #{zcLdFlowRadarInfo.occupancy},
            #{zcLdFlowRadarInfo.occupancy2}, #{zcLdFlowRadarInfo.headWay}, #{zcLdFlowRadarInfo.headWay2}, #{zcLdFlowRadarInfo.averageSpeed},
            #{zcLdFlowRadarInfo.sumMini}, #{zcLdFlowRadarInfo.sumMid}, #{zcLdFlowRadarInfo.sumLarge}, #{zcLdFlowRadarInfo.circle}, #{zcLdFlowRadarInfo.createBy}
            , #{zcLdFlowRadarInfo.updateBy}, #{zcLdFlowRadarInfo.updateTime}, #{zcLdFlowRadarInfo.sysOrgCode})
        </foreach >
    </insert>

</mapper>