<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lkdt.modules.system.mapper.HighwayDepartMapper">
    <select id="queryHwIdsByDeptId" resultType="java.lang.String">
        SELECT zc_highway_depart.hw_id
        from zc_highway_depart
        where
            zc_highway_depart.dep_id=#{deptId}
    </select>
    
    <select id="selectDeptByHwId" resultType="java.lang.String">
        select distinct dept.depart_name from zc_highway_depart hw inner join sys_depart dept on hw.dep_id=dept.id where hw.hw_id=#{hwid};
    </select>
</mapper>