<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    HelloWorld
    <br>
    <form id="uploadForm" enctype="multipart/form-data">
        <input id="file" type="file" multiple enctype="multipart/form-data"/>
        <input id="minioUpload" type="button" value="oss上传">
    </form>
    <br>

    servlet
    <br>
    <form enctype="multipart/form-data" action="/oss/file/uploadStream" method="post" >
        <input id="file2" type="file" multiple/>
        <input type="submit" value="minio上传">
    </form>

    <script src="/lkdtWX/js/jquery.min.js?v=2.1.4"></script>
    <script>
        $("#minioUpload").click(function () {
            let formData = new FormData();
            formData.append("file", document.getElementById("file").files[0]);
            $.ajax({
                type: 'post',
                url: "/oss/file/upload",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
            }).success(function (data) {
                alert(data);
            }).error(function () {
                alert("上传失败");
            });
        });
    </script>
</body>
</html>