<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>江苏高速</title>
    <link rel="stylesheet" type="text/css" href="/css/area.css">
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
    <style>
        #container{
            width:65%;
            height: calc(100% - 20px);
            margin-top: 0px;
        }
        #panel{
            width:35%;
        }
        .modal-body {
            padding: 0;
        }
        .amap-info-content {position: relative;background: #000000;padding: 10px 18px 10px 10px;line-height: 1.4;overflow: auto;}
        /*table,table tr th, table tr td { border:1px solid #95C1EE;}
        table {line-height: 25px; text-align: center; border-collapse: collapse;}*/
    </style>


</head>
<body style="background-color: rgba(0,0,0,0);">
    <div id="outer-box" style="padding: 0px;">
        <div id="container" tabindex="0">
            <div style="position: absolute;z-index: 9999;color:red;">
                <h4>经纬度：<input id="lnglatStr"></input><button onclick="lnglatPedding()" style="background-color: rgba(225, 225, 225, 0.5);border-width: 0px;">坐标反查</button></h4>
                <h4>经纬度：<text id="lnglat">0.0,0.0</text><button onclick="lnglatAdd()" style="background-color: rgba(225, 225, 225, 0.5);border-width: 0px;">add</button></h4>
                <a href="#" onclick="lnglatResultsFun()" style="width:3px;overflow:hidden;white-space:nowrap;
                    text-overflow:ellipsis;-webkit-text-overflow:ellipsis;"><text id="lnglatResults"></text></a>
            </div>
            <div style="position: absolute;right: 0px;z-index: 9999;" class="col-md-6 col-sm-6 col-xs-12">
                <h4><text id="laodingLog">正在加载......</text></h4>
            </div>
        </div>
        <div id="panel" style="overflow-x: hidden;background-color: rgba(0,0,0,0);">
            <div style="height: 100%;width: 100%;margin-right:5px;margin-top:0px;">
                <div style="width: 100%;background-color: rgba(0,0,0,0);">
                    <div style="position:fixed;padding-top: 10px; margin: 0px;top:0px;width: 34%;height: 45px;background-color: rgba(0,0,0,0);">
                        <label class="checkbox-inline">
                            <input onclick="selectionFunc(this)" type="radio" name="selection" value="list" checked="checked">列表
                        </label>
                        <label class="checkbox-inline">
                            <input onclick="selectionFunc(this)" type="radio" name="selection" value="updateTrackData">操作
                        </label>
                        <label class="checkbox-inline">
                            <input onclick="selectionFunc(this)" type="radio" name="selection" value="deleteTrackData">删除
                        </label>
                    </div>
                    <hr class="simple" color="#6f5499" style="margin-top:0px;margin-bottom: 0px;"/>
                    <div id="lnglatListParam" class="row" style="margin-left: 5px;margin-top:45px;">
                        <div>
                            <label class="form-inline">序号：
                                <input id="index_" class="form-control" type="text" autocomplete="off"/></label>
                        </div>
                        <div>
                            <label class="form-inline">名称：
                                <input id="name_" class="form-control" type="text" autocomplete="off"/></label>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover table-condensed"
                       id="lnglatList" style="margin-top: 0px;width: 100%;">
                    <thead>
                        <tr><td colspan="5" style="" align="center">摄像头经纬度列表</td></tr>
                        <tr>
                            <td width="20" align="center">序号</td>
                            <td width="20" align="center">名称</td>
                            <td width="20" align="center">经度</td>
                            <td width="20" align="center">纬度</td>
                            <td width="20" align="center">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="mapSelectPoints" class="row" style="padding: 0px 25px 25px 25px;margin-top: 45px; width: 100%;display: none;">
                    <button id="updateTrack" onclick="updateTrack()" class="btn" title="第一步：选择公路，地图选点(最多16个)；第二步：再更新轨迹数据"
                            style="background-color: #95C1EE;">更新轨迹数据</button>
                    <br>
                    <text id="percentTrack" style="color: red;"></text>
                    公路选择：
                    <!-- <select id="highWay" class="form-control" style="width: 100%;cursor: pointer;">
                        <option value="">---请选择---</option>
                    </select> -->
                    <input id="highWay" name="highWay" class="form-control" type="text" style="cursor: pointer;background-color: #cdd6dc;" onclick="openHighway(0)"
                       readonly="readonly" placeholder="所属公路">
                    摄像头选择：
                    <div style="color: red;">所选摄像头所在路段不可有隔断（默认全选）。</div>
                    <select multiple id="epSelect" class="form-control" style="width: 100%;height: 200px;cursor: pointer;">
                    </select>
                    地图选点：
                    <div style="color: red;">途径点个数不超过16个，不低于5个。<br>经纬度逗号“,”隔开，两点之间分号“;”隔开。<br>例如118.406965,34.627107;118.714582,34.291943;</div>
                    <textarea id="highWayPoints" class="form-control" rows="10" style="max-width: 100%;min-height:200px;cursor: pointer;"
                              placeholder="eg:118.406965,34.627107;118.714582,34.291943;"></textarea>
                </div>
                <div id="deleteOperation" class="row" style="padding: 0px 25px 25px 25px;margin-top: 45px; width: 100%;display: none;">
                    公路选择：
                    <!-- <select id="highWay_del" class="form-control" style="width: 100%;cursor: pointer;">
                        <option value="">---请选择---</option>
                    </select> -->
                    <input id="highWay_del" name="highWay_del" class="form-control" type="text" style="cursor: pointer;background-color: #cdd6dc;" onclick="openHighway(1)"
                       readonly="readonly" placeholder="所属公路">
                    摄像头选择：
                    <select multiple id="epSelect_del" class="form-control" style="width: 100%;height: 200px;cursor: pointer;">
                    </select>
                    <button id="deleteTrack" onclick="deleteTrack()" class="btn" title="删除轨迹数据"
                            style="background-color: #95C1EE;margin-top: 5px;">删除全部</button>
                    <table class="table table-bordered table-hover table-condensed"
                           id="trackList" style="margin-top: 5px;width: 100%;">
                        <thead>
                        <tr><td colspan="5" style="" align="center">轨迹列表</td></tr>
                        <tr>
                            <td width="20" align="center">序号</td>
                            <td width="20" align="center">摄像头ID</td>
                            <td width="20" align="center">操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="tempMap" style="display: none;"></div>
    <!-- 进度框（Modal） -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" data-backdrop="false" style="background: rgba(51,51,51,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>-->
                    <h4 class="modal-title" id="myModalLabel">
                        请稍等！保持网络畅通......
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="progress" style="height: 100%;width: 100%;margin:0px;">
                        <div id="progressId" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 0%;min-width:5%;">
                            0%
                        </div>
                    </div>
                </div>
                <div id="btnModalClose" style="" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 遮罩层 -->
    <div class="modal fade" id="loadingModal">
        <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
            <div class="progress progress-striped active" style="margin-bottom: 0;">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
            <h5>正在加载...</h5>
        </div>
    </div>
    <!-- 变更（Modal） -->
    <div class="modal" id="myModalLngLat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
         aria-hidden="true" data-backdrop="false" style="background: rgba(51,51,51,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">
                        经纬度变更
                    </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="changeLng">经度</label>
                            <input type="number" class="form-control" id="changeLng" placeholder="经度">
                        </div>
                        <div class="form-group">
                            <label for="changeLat">纬度</label>
                            <input type="number" class="form-control" id="changeLat" placeholder="纬度">
                        </div>
                    </form>
                </div>
                <div id="btnModalClose1" style="" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="" onclick="saveLngLat()">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script language="javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=0fb99186996b7bff85d606c80d16f224&plugin=Map3D,AMap.DistrictSearch"></script>
    <!-- UI组件库 1.0 -->
    <script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    <script src="/lkdtWX/js/appjs/oa/webSocket/sockjs.min.js"></script>
    <script src="/lkdtWX/js/appjs/oa/webSocket/stomp.min.js"></script>
    <script src="/lkdtWX/js/plugins/toastr/toastr.min.js"></script>
    <script src="/lkdtWX/js/jquery.min.js?v=2.1.4"></script>
    <script src="/lkdtWX/js/bootstrap.min.js"></script>
    <script src="/lkdtWX/js/plugins/layer/layer.js"></script>
    <script type="text/javascript">
        var map$zoom = 7;
        //var map$center = [122.120344,32.864133];//初始地图中心点 江苏
        var map$center = [119.167147,32.952384];//初始地图中心点 江苏
        //创建地图
        var map = new AMap.Map('container', {
            cursor: 'default',
            resizeEnable: true,
            zoom: map$zoom,
            center: map$center,
            mapStyle: "amap://styles/1de1ab4a6f3d6b4a31d558771f073fa2"
        });

        //为地图注册click事件获取鼠标点击出的经纬度坐标
        map.on('click', function(e) {
            document.getElementById("lnglat").innerHTML = e.lnglat.getLng() + ',' + e.lnglat.getLat();
        });

        function lnglatResultsFun(){
            var proLngLat = prompt("经纬度列表",document.getElementById("lnglatResults").innerHTML);
            if (proLngLat!=null){
                document.getElementById("lnglatResults").innerHTML = proLngLat;
            }
        }

        /**添加*/
        function lnglatAdd(){
            document.getElementById("lnglatResults").innerHTML += document.getElementById("lnglat").innerHTML+";"

        }

        AMapUI.loadUI(['geo/DistrictExplorer'], function(DistrictExplorer) {
            initPage(DistrictExplorer);

        });

        function initPage(DistrictExplorer) {
            //创建一个实例
            var districtExplorer = new DistrictExplorer({
                map: map
            });
            var countryCode = 100000, //全国
                provCodes = [
                    320000 //江苏
                    // 640000 // 宁夏回族自治区
                ],
                cityCodes = [];
            districtExplorer.loadMultiAreaNodes([countryCode].concat(cityCodes),//只需加载全国和市，全国的节点包含省级
                function(error, areaNodes) {
                    var countryNode = areaNodes[0], cityNodes = areaNodes.slice(1);
                    var path = [];
                    //首先放置背景区域，这里是大陆的边界
                    path.push(getLongestRing(countryNode.getParentFeature()));
                    for (var i = 0, len = provCodes.length; i < len; i++) {
                        //逐个放置需要镂空的省级区域
                        path.push.apply(path, getAllRings(countryNode.getSubFeatureByAdcode(provCodes[i])));
                    }
                    for (var i = 0, len = cityNodes.length; i < len; i++) {
                        //逐个放置需要镂空的市级区域
                        path.push.apply(path, getAllRings(cityNodes[i].getParentFeature()));
                    }
                    //绘制带环多边形
                    //https://lbs.amap.com/api/javascript-api/reference/overlay#Polygon
                    var polygon = new AMap.Polygon({
                        bubble: true,
                        lineJoin: 'round',
                        strokeColor: 'white', //线颜色
                        strokeOpacity: 1, //线透明度
                        strokeWeight: 0, //线宽
                        fillColor: 'black', //填充色
                        fillOpacity: 0.80, //填充透明度
                        map: map,
                        path: path
                    });
                }
            );
        }
        document.getElementById("laodingLog").innerText = "正在获取数据......";
        //摄像头定位标记列表
        var cameralAttrPoint = [];
        //加载三色图
        loadThreeColorMap();
        /**
         * 加载三色图,加载所有摄像头
         **/
        function loadThreeColorMap(){
            $.ajax({
                url:'/system/equipment/getAllEquipmentsColorPath',
                type:'post',
                data:{hwId:'26'},
                dataType:'json',
                success:function(data){
                    if(data.code != 200){
                        alert("内部错误，请联系管理员");
                        return;
                    }
                    document.getElementById("laodingLog").innerText = "加载成功";
                    //摄像头经纬度 >>>30m:#C30004,50m:#F87018,100m:#F9C115,200:#F7F940,300:#357A00,500:#357A00,
                    data.data.forEach(function(currValue,index,arr){
                        //标记摄像头
                        var arrayData = [];
                        currValue.hw_equipments.forEach(function(currData,i_,a_){
                            $('#lnglatList').append( '<tr id="'+index+'-'+i_+'">'+
                                '<td>'+index+'-'+i_+'</td>'+
                                '<td title="'+currData.equ_name+'">'+currData.equ_name+'</td>'+
                                '<td><a href="#" title="定位地图位置" onclick="addMarker('+currData.lng+','+currData.lat+')">'+currData.lng+'</a></td>'+
                                '<td><a href="#" title="定位地图位置" onclick="addMarker('+currData.lng+','+currData.lat+')">'+currData.lat+'</a></td>'+
                                '<td><a  style="background-color: #95EDFB;border-radius: 3px;" onclick="changeLngLat(\''+index+'-'+i_+'\',\''+currData.epId+'\',this)">变更</a></td>'+
                                '</tr>');
                            arrayData.push({lnglat: [currData.lng,currData.lat], name: currData.equ_name,id: index+'-'+i_});
                            if(currData.track_array && currData.track_array !== "[]" && currData.color){
                                //let tem__ = "[{\"P\":34.87424,\"Q\":118.80686200000002,\"lng\":118.806862,\"lat\":34.87424},{\"P\":34.873828,\"Q\":118.80762199999998,\"lng\":118.807622,\"lat\":34.873828},{\"P\":34.872899,\"Q\":118.80919699999998,\"lng\":118.809197,\"lat\":34.872899},{\"P\":34.871832,\"Q\":118.81095500000004,\"lng\":118.810955,\"lat\":34.871832},{\"P\":34.871211,\"Q\":118.81195300000002,\"lng\":118.811953,\"lat\":34.871211},{\"P\":34.870603,\"Q\":118.81299899999999,\"lng\":118.812999,\"lat\":34.870603},{\"P\":34.870304,\"Q\":118.813511,\"lng\":118.813511,\"lat\":34.870304},{\"P\":34.869175,\"Q\":118.81555600000002,\"lng\":118.815556,\"lat\":34.869175},{\"P\":34.868737,\"Q\":118.81638499999997,\"lng\":118.816385,\"lat\":34.868737},{\"P\":34.867517,\"Q\":118.81887599999999,\"lng\":118.818876,\"lat\":34.867517}]";
                                polylineFunc(currData.track_array,currData.color);
                            }
                        });
                        mapClusterMark(arrayData);
                        //右键菜单
                        rightAddMenu();
                    },this);
                }
            });
        }

        /**标记信息*/
        var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, 0)});

        /**批量标记*/
        function mapBatchMark(arrayData){
            var massMarksOptions = {
                opacity:0.8,
                zIndex:111,
                cursor:'pointer',
                style: [{
                    //url:'/fog/cameral.png',
                    url: 'https://a.amap.com/jsapi_demos/static/images/mass1.png',
                    anchor: new AMap.Pixel(5.5,5.5),
                    size: new AMap.Size(11, 11),
                }],
            };
            var massMarks = new AMap.MassMarks(arrayData,massMarksOptions);
            massMarks.setMap(map);
            massMarks.on('click',function(e){
                infoWindow.setContent(e.data.name+"NO."+e.data.id);
                infoWindow.open(map, e.data.lnglat);
            });
            //设置缩放级别和中心点
            map.setZoomAndCenter(map$zoom, map$center);
        }

        /**点聚合标记*/
        function mapClusterMark(arrayData){
            var cluster, markers = [];
            for (var i = 0; i < arrayData.length; i += 1) {
                var marker = new AMap.Marker({
                    position: arrayData[i]['lnglat'],
                    content: '<div style="background-color: hsla(180, 100%, 50%, 0.7); height: 14px; width: 14px; border: 1px solid hsl(180, 100%, 40%); border-radius: 12px; box-shadow: hsl(180, 100%, 50%) 0px 0px 1px;"></div>',
                    offset: new AMap.Pixel(-7, -7)
                });
                marker.content = '【'+arrayData[i].name+'】NO.'+arrayData[i].id;
                marker.on('click',function(e){
                    infoWindow.setContent(e.target.content);
                    infoWindow.open(map, e.target.getPosition());
                });
                markers.push(marker);
            }
            //添加聚合组件
            map.plugin(["AMap.MarkerClusterer"],function() {
                cluster = new AMap.MarkerClusterer(map,markers,
                    {
                        gridSize: 40,
                        minClusterSize:6,
                        averageCenter: true,
                        styles:  [{
                            url: "https://a.amap.com/jsapi_demos/static/images/blue.png",
                            size: new AMap.Size(32, 32),
                            offset: new AMap.Pixel(-16, -16)
                        },{
                            url: "https://a.amap.com/jsapi_demos/static/images/green.png",
                            size: new AMap.Size(32, 32),
                            offset: new AMap.Pixel(-16, -16)
                        }]
                    });
            });
            //设置缩放级别和中心点
            map.setZoomAndCenter(map$zoom, map$center);
        }

        /**
         * 摄像头标记
         * */
        function equipmentMark(lng,lat,i,currData){
            // 创建一个 icon
            var camIcon = new AMap.Icon({
                size: new AMap.Size(26, 26),
                image: '/fog/cameral.png',
                imageSize: new AMap.Size(20, 19),
                //imageOffset: new AMap.Pixel(-95, -3)
                imageOffset: new AMap.Pixel(0, 0)
            });
            //摄像头标记
            var marker = new AMap.Marker({
                icon: camIcon,
                position: [lng,lat],
                offset: new AMap.Pixel(-9, -6)
            });
            marker.setMap(map);
            marker.content = '【'+currData.equ_name+'】NO.'+(i + 1);
            marker.on('click',function(e){
                infoWindow.setContent(e.target.content);
                infoWindow.open(map, e.target.getPosition());
            });
            marker.emit('click', {target: marker});
        }

        /**
         * 绘画导航路线颜色
         */
        function definedRoutesColor(equipmentLngLat,colorDesc){
            map.plugin("AMap.DragRoute",function(){
                var DragRouteOptions = {
                    polyOptions:{
                        //strokeColor: 'red',   // 线颜色
                        strokeOpacity: 1,         // 线透明度
                        strokeWeight: 0,          // 线宽
                        borderWeight:4, //边界宽度
                        strokeStyle: 'dashed',     // 线样式
                        strokeDasharray: [0,0,0], // 补充线样式
                        geodesic: true,            // 绘制大地线
                        bubble:true,
                        isOutline:true,
                        outlineColor:"red",//轮廓颜色
                        draggable:false,
                    },
                    startMarkerOptions:{
                        visible:false,
                    },
                    midMarkerOptions:{
                        visible:false,
                    },
                    endMarkerOptions:{
                        visible:false,
                    },
                    showTraffic:false,
                };
                //驾车策略DrivingPolicy，包括 LEAST_TIME，LEAST_FEE, LEAST_DISTANCE,REAL_TRAFFIC
                var route = new AMap.DragRoute(map, equipmentLngLat, AMap.DrivingPolicy.LEAST_TIME,DragRouteOptions);//DragRouteOptions
                //监听
                route.on('complete',function(result){
                    //获取导航数据
                    //var $route$_ = route.getRoute();
                    //销毁导航
                    //route.destroy();
                    //画线
                    //polylineFunc($route$_,colorDesc);
                    //设置缩放级别和中心点
                    map.setZoomAndCenter(map$zoom, map$center);
                });
                route.search(); //查询导航路径并开启拖拽导航
            });
        }

        /**
         * 根据坐标列表划线
         * */
        function polylineFunc(equipmentLngLat,colorDesc){
            try{
                //给定路径划线
                var polyline = new AMap.Polyline({
                    path: JSON.parse(equipmentLngLat),            // 设置线覆盖物路径
                    strokeColor: colorDesc,   // 线颜色
                    strokeOpacity: 1,         // 线透明度
                    strokeWeight: 5,          // 线宽
                    strokeStyle: 'dashed',     // 线样式
                    strokeDasharray: [0,0,0], // 补充线样式
                    geodesic: true,            // 绘制大地线
                    bubble:true,
                    isOutline:true,
                    outlineColor:'white',
                });
                polyline.setMap(map);
            }catch (e) {
                console.log(e);
            }
        }

        function getAllRings(feature) {
            var coords = feature.geometry.coordinates,
                rings = [];
            for (var i = 0, len = coords.length; i < len; i++) {
                rings.push(coords[i][0]);
            }
            return rings;
        }

        function getLongestRing(feature) {
            var rings = getAllRings(feature);

            rings.sort(function(a, b) {
                return b.length - a.length;
            });

            return rings[0];
        }
        
        var markerSelectedEp = [];
        var isdel = 0;
        var openHighway = function  (opentype){
        	isdel = opentype;
            layer.open({
                type:2,
                title:"选择公路",
                area : [ '300px', '450px' ],
                content:"/system/highway/treeView"
            })
        }

        function loadHy( node ){
        	var hwId = node.parent;
        	if(hwId == -1){
        		hwId = node.id;
        	}
        	var name = node.name;
            //$("#hwId").val(hwId);
            //$("#name").val(name);
            if(isdel == 0){
            	$("#highWay").val(hwId);
            	$("#epSelect").empty();
                $.ajax({type:'post',data:{hwId:hwId},dataType:'json',url:'/fog/fogTrack/getEquipmentsByHwId',
                    success:function(data){
                        $('#epSelect').change(function(event){
                            selectedLocationFuncInit();
                        });
                        data.forEach(function(dd_,ii_,aa_){
                            $("#epSelect").append($("<option data='"+dd_.lng+","+dd_.lat+"' value='"+dd_.epId+"' selected='true'>"+dd_.epId + "：" +dd_.equName+"["+dd_.lng+","+dd_.lat+"]</option>"));
                        });
                        selectedLocationFuncInit();
                    }
                });
            } else {
            	$("#highWay_del").val(hwId);
            	$("#epSelect_del").empty();
                $.ajax({
                    type: 'post',
                    data: {hwId: hwId},
                    dataType: 'json',
                    url: '/fog/fogTrack/getEquipmentsByHwId',
                    success: function (data) {
                        $('#epSelect_del').change(function (event) {
                            //选择
                            loadTrackList();
                        });
                        data.forEach(function (dd_, ii_, aa_) {
                            $("#epSelect_del").append($("<option data='" + dd_.lng + "," + dd_.lat + "' value='" + dd_.epId + "' selected='true'>" + dd_.epId + "：" + dd_.equName + "[" + dd_.lng + "," + dd_.lat + "]</option>"));
                        });
                        //选择
                        loadTrackList();
                    }
                });
            }
        	
        }

        //被选择的摄像头列表
        /* 
        //加载公路选择框
        $.ajax({type:'get',data:{},dataType:'json',url:'/system/highway/listAll',
            success:function(data){
                data.forEach(function(dd_,ii_,aa_){
                    $("#highWay").append($("<option value='"+dd_.hwId+"'>"+dd_.detail + "---" +dd_.name+"</option>"));
                    $("#highWay_del").append($("<option value='"+dd_.hwId+"'>"+dd_.detail + "---" +dd_.name+"</option>"));
                });
                //监听公路选择事件1
                $('#highWay').change(function(event){
                    $("#epSelect").empty();
                    $.ajax({type:'post',data:{hwId:$("#highWay").val()},dataType:'json',url:'/fog/fogTrack/getEquipmentsByHwId',
                        success:function(data){
                            $('#epSelect').change(function(event){
                                selectedLocationFuncInit();
                            });
                            data.forEach(function(dd_,ii_,aa_){
                                $("#epSelect").append($("<option data='"+dd_.lng+","+dd_.lat+"' value='"+dd_.epId+"' selected='true'>"+dd_.epId + "：" +dd_.equName+"["+dd_.lng+","+dd_.lat+"]</option>"));
                            });
                            selectedLocationFuncInit();
                        }
                    });
                    //监听公路选择事件2
                });
                $('#highWay_del').change(function(event) {
                    $("#epSelect_del").empty();
                    $.ajax({
                        type: 'post',
                        data: {hwId: $("#highWay_del").val()},
                        dataType: 'json',
                        url: '/fog/fogTrack/getEquipmentsByHwId',
                        success: function (data) {
                            $('#epSelect_del').change(function (event) {
                                //选择
                                loadTrackList();
                            });
                            data.forEach(function (dd_, ii_, aa_) {
                                $("#epSelect_del").append($("<option data='" + dd_.lng + "," + dd_.lat + "' value='" + dd_.epId + "' selected='true'>" + dd_.epId + "：" + dd_.equName + "[" + dd_.lng + "," + dd_.lat + "]</option>"));
                            });
                            //选择
                            loadTrackList();
                        }
                    });
                });
            }
        }); */

        /**
         * 删除
         * */
        function deleteTrack(epIdEnd){
            if(confirm("请确认删除！")){
                var epIdEndArr = [];
                if(epIdEnd){
                    epIdEndArr.push({epIdEnd:epIdEnd});
                } else {
                    var tableList = $('#trackList tbody tr');
                    //$('#trackList tbody tr')[0].children[1].innerText
                    for(var i=0; i < tableList.length; i++){
                        epIdEndArr.push({epIdEnd:tableList[i].children[1].innerText});
                    }
                }
                delete_t(epIdEndArr)
            }
        }

        /**
         * 删除
         * */
        function delete_t(arr) {
            $.ajax({
                type: 'post',
                data: {"epIdEndArr":JSON.stringify(arr)},//$("#epSelect_del").val() epIdEnd
                dataType: 'json',
                url: '/fog/fogTrack/deleteByEpIdEnd',
                success: function (data) {
                    $('#trackList tbody').html('');
                    loadTrackList();
                    loadThreeColorMap();
                }
            });
        }

        /**
         *  加载轨迹列表
         * */
        function loadTrackList(){
            $('#trackList tbody').html('');
            var selec_ = $("#epSelect_del").val();
            var json_ = [];
            if(selec_){
                selec_.forEach(function(curr,i,arr){
                    json_.push({epIdEnd:curr});
                });
                $.ajax({
                    type: 'post',
                    data: {"epIdEndArr":JSON.stringify(json_)},//$("#epSelect_del").val()
                    dataType: 'json',
                    url: '/fog/fogTrack/getTrackList',
                    success: function (data) {
                        $('#trackList tbody').html('');
                        data.forEach(function(curr,index,arr){
                            $('#trackList').append( '<tr>'+
                                '<td>'+index+'</td>'+
                                '<td>'+curr.epIdEnd+'</td>'+
                                '<td><a  style="background-color: #95EDFB;border-radius: 3px;" onclick="deleteTrack(\''+curr.epIdEnd+'\')">删除</a></td>'+
                                '</tr>');
                        });
                    }
                });
            }
        }

        /**
         * 已选摄像头定位初始化
         * */
        function selectedLocationFuncInit(){
            //清空
            markerSelectedEp.forEach(function(curr,i,array){
                curr.marker.setMap(null);
            });
            $("#epSelect option:selected").each(function () {
                if(this.attributes.data.nodeValue.split(",")[0].trim() != '' && this.attributes.data.nodeValue.split(",")[1].trim() != ''){
                    selectedLocationFunc(this.attributes.data.nodeValue.split(",")[0],this.attributes.data.nodeValue.split(",")[1]);
                }
            });
        }

        /**
         * 已选摄像头定位
         * */
        function selectedLocationFunc(lon,lat){
            try{
                //定位标记
                var marker = new AMap.Marker({
                    position: new AMap.LngLat(lon, lat),
                    icon: new AMap.Icon({
                        size: new AMap.Size(26, 40), // 图标尺寸
                        image: '//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png', // Icon的图像
                        imageSize: new AMap.Size(26, 40), // 根据所设置的大小拉伸或压缩图片
                    }),
                    offset: new AMap.Pixel(-13, -35),
                    draggable: false,// 设置是否可拖拽
                    cursor: 'move'
                });
                markerSelectedEp.push({marker:marker});
                marker.setMap(map);
            } catch (e) {
                console.log(e);
            }

        }

        var locationMarker;
        // 摄像头点击定位标记
        function addMarker(lng,lat) {
            if (locationMarker) {
                locationMarker.setMap(null);
                locationMarker = null;
            }
//            // 创建一个 icon
//            var viaMarker = new AMap.Icon({
//                size: new AMap.Size(25, 34),
//                image: '//a.amap.com/jsapi_demos/static/demo-center/icons/dir-marker.png',
//                imageSize: new AMap.Size(135, 40),
//                imageOffset: new AMap.Pixel(-95, -3)
//            });
            // 创建一个 icon
            var camIcon = new AMap.Icon({
                size: new AMap.Size(26, 26),
                image: '/fog/cameral.png',
                imageSize: new AMap.Size(20, 19),
                //imageOffset: new AMap.Pixel(-95, -3)
                imageOffset: new AMap.Pixel(0, 0)
            });
            locationMarker = new AMap.Marker({
                icon: camIcon,
                position: [lng,lat],
//                offset: new AMap.Pixel(-13, -30)
                offset: new AMap.Pixel(-9, -6)
            });
            cameralAttrPoint.push({marker:locationMarker});
            locationMarker.setMap(map);
            // 设置点标记的动画效果，此处为弹跳效果
            locationMarker.setAnimation('AMAP_ANIMATION_BOUNCE');
            map.setCenter([lng, lat]);
        }

        /**
         * 经纬度反查
         **/
        function lnglatPedding(){
            try{
                let lngLat = $("#lnglatStr").val().split(",")
                let lng = lngLat[0], lat = lngLat[1];
                if (locationMarker) {
                    locationMarker.setMap(null);
                    locationMarker = null;
                }
                // 创建一个 icon
                var viaMarker = new AMap.Icon({
                    size: new AMap.Size(25, 34),
                    image: '//a.amap.com/jsapi_demos/static/demo-center/icons/dir-marker.png',
                    imageSize: new AMap.Size(135, 40),
                    imageOffset: new AMap.Pixel(-95, -3)
                });
                locationMarker = new AMap.Marker({
                    icon: viaMarker,
                    position: [lng,lat],
                    offset: new AMap.Pixel(-13, -30)
                });
                cameralAttrPoint.push({marker:locationMarker});
                locationMarker.setMap(map);
                // 设置点标记的动画效果，此处为弹跳效果
                locationMarker.setAnimation('AMAP_ANIMATION_BOUNCE');
                map.setCenter([lng, lat]);
            } catch (e) {
                alert("注意经纬度格式（经度，维度）：116.434739,39.909843");
            }

        }

        /**
         * 更新轨迹数据
         */
        function updateTrack(){
            if($("#highWayPoints").val() == "" || $("#highWay").val() == "" || $("#epSelect option:selected").length == 0){
                alert("请选择公路、摄像头、公路路径上的点,三者缺一不可");
                return;
            }
            if(confirm("确认当前操作？")){
                //显示遮罩层
                $('#loadingModal').modal({backdrop: 'static', keyboard: false});
                $("#loadingModal").modal('show');
                var tempMap = new AMap.Map("tempMap");
                var lngLatPath = [];//途径点个数不超过16个
                var pathArr = $("#highWayPoints").val().split(";");
                pathArr.forEach(function(curr,i,arr){
                    var currSplit = curr.split(",");
                    if(parseFloat(currSplit[0]) && parseFloat(currSplit[1])){
                        lngLatPath.push(new AMap.LngLat(parseFloat(currSplit[0]),parseFloat(currSplit[1])));
                    }
                });
                tempMap.plugin("AMap.DragRoute",function(){
                    //所选择的摄像头列表
                    var equipmentsEpIdAttr = [];
                    //var equipmentsLngLatAttr = [];
                    $("#epSelect option:selected").each(function () {
                        equipmentsEpIdAttr.push({epId:$(this).val()});
//                        equipmentsLngLatAttr.push(new AMap.LngLat(parseFloat(this.attributes.data.nodeValue.split(",")[0].trim()),
//                            parseFloat(this.attributes.data.nodeValue.split(",")[1].trim())));
                    });
                    //驾车策略DrivingPolicy，包括 LEAST_TIME，LEAST_FEE, LEAST_DISTANCE,REAL_TRAFFIC
                    var route = new AMap.DragRoute(tempMap, lngLatPath, AMap.DrivingPolicy.LEAST_TIME);//DragRouteOptions
                    //监听
                    route.on('complete',function(result){
                        //获取导航数据
                        var $route$_ = route.getRoute();
                        //销毁导航
                        route.destroy();
                        //console.log({hwId:$('#highWay').val(),lngLatPath:lngLatPath,track_array:$route$_});
                        //console.log(equipmentsAttr);
                        $.ajax({url:'/fog/fogTrack/updateTrack',type:'post',dataType: "json",contentType: "application/json",
                            data:JSON.stringify({hwId:$('#highWay').val(),equipmentsAttr:JSON.stringify(equipmentsEpIdAttr),lngLatPath:lngLatPath,track_array:$route$_}),
                            success:function(data){
                                tempMap.destroy();
                                alert('更新成功');
                                loadThreeColorMap();
                                //隐藏遮罩层
                                $("#loadingModal").modal('hide');
                                //alert({hwId:$('#highWay').val(),lngLatPath:lngLatPath,track_array:$route$_}.toString());
                            }
                        });
                    });
                    route.search(); //查询导航路径并开启拖拽导航
                });
            }
        }

        /**
         * 右键菜单
         * */
        function rightAddMenu(){
            var contextmenu=new AMap.ContextMenu();
            var pos=[];
            // 添加右键菜单内容项
//        contextmenu.addItem("放大",function () {
//            map.zoomIn();
//        },0);
//        contextmenu.addItem("缩小",function () {
//            map.zoomOut();
//        },1);
//        contextmenu.addItem("清除所有警告",function () {
//            alarmInfo.forEach(function(curr,i,array){
//                curr.marker.setMap(null);
//            })
//        },2);
            contextmenu.addItem("清除标记",function () {
                markerSelectedEp.forEach(function(curr,i,array){
                    curr.marker.setMap(null);
                });
                cameralAttrPoint.forEach(function(curr,i,array){
                    curr.marker.setMap(null);
                });
            },2);
            // 监听鼠标右击事件
            map.on("rightclick",function (e) {
                contextmenu.open(map,e.lnglat);
                pos=e.lnglat;
            });
        }

        /*******************************更新轨迹数据(已废弃方案)**********************************/
        //队列
        var queueFunc = [];
        var queueParam = [];
        //轨迹数据
        var ajaxSave = [];
        /**
         * 更新轨迹数据
         */
        function updateTrack_his(){
            queueFunc = [];
            queueParam = [];
            ajaxSave = [];
            var progressId = document.getElementById('progressId');
            $("#progressId").css("width","0%");
            $("#progressId").text("0%");
            $('#myModal').modal('show');
            var tempMap = new AMap.Map('tempMap');
            $.ajax({url:'/system/equipment/getAllEquipments',type:'post',data:{hwId:null},dataType:'json',
                success:function(data){
                    if(data.code != 200){
                        $('#myModal').modal('hide');
                        alert("内部错误，请联系管理员");
                        return;
                    }
                    //计数计算进度
                    var countNum = 0;
                    data.data.forEach(function(currValue,index,arr){
                        countNum += currValue.hw_equipments.length;
                    });
                    //摄像头经纬度 >>>30m:#C30004,50m:#F87018,100m:#F9C115,200:#F7F940,300:#357A00,500:#357A00,
                    data.data.forEach(function(currValue,index,arr){
                        //index_1++;
                        currValue.hw_equipments.forEach(function(currData_,i_,a_){
                            var equipmentLngLat = [];
                            if(currData_.preview){
                                var previewLnglatObj = new AMap.LngLat(currData_.preview.lng,currData_.preview.lat)
                                previewLnglatObj.epId = currData_.preview.epId;
                                equipmentLngLat.push(previewLnglatObj);
                            }
                            var lnglatObj = new AMap.LngLat(currData_.lng,currData_.lat);
                            lnglatObj.epId = currData_.epId;
                            equipmentLngLat.push(lnglatObj);
                            queueFunc.push("tempMapPlugin");
                            queueParam.push([tempMap,ajaxSave,equipmentLngLat,countNum,progressId]);
                        });
                    },this);
                    queueFunc.push("tempMapPluginAjax");
                    queueParam.push([progressId]);
                    //执行函数
                    eval(queueFunc.shift()+"()");
                }
            });
        }

        var tempMapPlugin = function(){
            var array = queueParam.shift();
            var tempMap = array[0],ajaxSave = array[1],equipmentLngLat = array[2],countNum = array[3],progressId = array[4];
            tempMap.plugin("AMap.DragRoute",function(){
                //驾车策略DrivingPolicy，包括 LEAST_TIME，LEAST_FEE, LEAST_DISTANCE,REAL_TRAFFIC
                var route = new AMap.DragRoute(tempMap, equipmentLngLat, AMap.DrivingPolicy.LEAST_TIME);//DragRouteOptions
                //监听
                route.on('complete',function(result){
                    //获取导航数据
                    var $route$_ = route.getRoute();
                    //销毁导航
                    route.destroy();
                    ajaxSave.push({equipmentLngLat:equipmentLngLat,track_array:$route$_});
                    var widthProgress = parseInt(100*ajaxSave.length/countNum)+"%";
                    progressId.style.width = widthProgress;
                    progressId.innerText = widthProgress;
                    document.getElementById("percentTrack").innerText = widthProgress;
                    //console.log(widthProgress);
                    //执行函数
                    eval(queueFunc.shift()+"()");
                });
                route.search(); //查询导航路径并开启拖拽导航
            });
        };

        var tempMapPluginAjax = function(){
            var progressId = queueParam.shift()[0];
            progressId.innerText = "已完成：100%"+" >>>>>> 数据正在加载......请稍后";
            //保存轨迹
            $.ajax({url:'/fog/fogTrack/updateTrack',type:'post',dataType: "json",contentType: "application/json",
                data:JSON.stringify(ajaxSave),
                success:function(data){
                    progressId.innerText = "已完成：100%"+" >>>>>> 数据"+data.msg+",请关闭";
                    document.getElementById("percentTrack").innerText = "完成：100%"+"->数据"+data.msg;
                }
            });
        };
        /*******************************更新轨迹数据(废弃) end **********************************/

        /**
         * 查询
         */
        $("#index_").bind("input propertychange change", function(event) {
            $onSearch_(event.currentTarget.value,0);
        });

        /**
         * 查询
         */
        $("#name_").bind("input propertychange change", function(event) {
            $onSearch_(event.currentTarget.value,1);
        });

        /**
         * table搜索
         * @param searchContent 搜索的内容
         * @col 要搜索的哪一列，从0开始数起
         */
        function $onSearch_(searchContent,col){
            var storeId = document.getElementById('lnglatList');//获取table的id标识
            var rowsLength = storeId.rows.length;//表格总共有多少行
            var searchCol = col;//要搜索的哪一列，这里是第一列，从0开始数起
            for(var i=2;i<rowsLength;i++){//按表的行数进行循环，本例第一行是标题，所以i=1，从第二行开始筛选（从0数起）
                var searchText = storeId.rows[i].cells[searchCol].innerHTML;//取得table行，列的值
                if(searchText.match(searchContent) || searchText.toUpperCase().match(searchContent.toUpperCase())){//用match函数进行筛选，如果input的值，即变量 key的值为空，返回的是ture，
                    storeId.rows[i].style.display='';//显示行操作，
                }else{
                    storeId.rows[i].style.display='none';//隐藏行操作
                }
            }
        }

        var targetEvent;
        var targetEpId;

        /**
         * 变更
         */
        function changeLngLat(no,epId,event){
            targetEvent = event;
            targetEpId = epId;
            $("#changeLng").val(event.parentElement.previousSibling.previousSibling.innerText);
            $("#changeLat").val(event.parentElement.previousSibling.innerText);
            $("#myModalLngLat").modal("show");
        }

        /**
         *  保存经纬度
         */
        function saveLngLat(){
            $.ajax({url:'/fog/fogTrack/saveLngLat',type:'post',dataType: "json",
                data:{epId:targetEpId,changeLng:$('#changeLng').val(),changeLat:$('#changeLat').val()},
                success:function(data){
                    alert(data.msg);
                    if(data.msg == 'success'){
                        targetEvent.parentElement.previousSibling.previousSibling.innerText = $("#changeLng").val();
                        targetEvent.parentElement.previousSibling.innerText = $("#changeLat").val();
                        $("#myModalLngLat").modal("hide");
                    }
                }
            });
        }
        /**
         * 选项
         */
        function selectionFunc(event){
            if(event.value == "list"){
                $("#lnglatListParam").show();
                $("#lnglatList").show();
                $("#updateTrack").hide();
                $("#mapSelectPoints").hide();
                $("#deleteOperation").hide();
            } else if(event.value == "updateTrackData"){
                $("#lnglatListParam").hide();
                $("#lnglatList").hide();
                $("#updateTrack").show();
                $("#mapSelectPoints").show();
                $("#deleteOperation").hide();
            } else if(event.value == "deleteTrackData"){
                $("#lnglatListParam").hide();
                $("#lnglatList").hide();
                $("#updateTrack").hide();
                $("#mapSelectPoints").hide();
                $("#deleteOperation").show();
            }
        }
    </script>
</body>
</html>