a,p,h1,h2,h3,h4,h5,h6,body,span,label,div{padding:0;margin:0;font-family:'微软雅黑';}
div{font-family:'微软雅黑';}
ul{padding:0;margin:0;}
a{text-decoration:none !important;}
.clear{clear:both;}
html, body, form{overflow-y:auto;height:100%;}
/* 滚动条样式 */
::-webkit-scrollbar {width:2px;height:4px;}
::-webkit-scrollbar-track {-webkit-box-shadow:inset 0 0 6px rgba(255,255,255,0.9);border-radius: 10px;}
::-webkit-scrollbar-thumb {border-radius:5px; background: rgba(66,66,66,1);-webkit-box-shadow:inset 0 0 6px rgba(7,166,255,0.5);}
::-webkit-scrollbar-thumb:window-inactive {background: rgba(7,166,255,0.5);}

/*.img_equip_list {position: relative;width: 100%;float: left;padding: 1px 1px;margin-top: 0px;height: 130px;cursor: pointer;}*/
#eventList {height: 85%;overflow-y: auto;}
#eventList ul {list-style: none;padding: 0px;margin: 0px;width: 100%;height: 20px;line-height: 20px;border-width: 1px;
	border-color: #063B6A;border-style: none none dashed none;border-top: 0px;font-size: 12px;color: white;}
#eventList ul li {display: block;width: 20%;float: left;text-indent: 1em;}
li, li a {width: 100%;display: block;overflow: hidden;word-break: keep-all;white-space: nowrap;text-overflow: ellipsis;}
.camimg {background: url("/fog/cam.png");background-size:100%;height: 20px;width: 20px;}
/*.dropdown-menu {right: 0;left: auto;float: right;text-align: right;}*/
body{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#allmap{height: calc(100%);}
.amap-logo{display: none !important;}

@font-face{
	font-family: yjsz;
	src:url('../fonts/yjsz.TTF'); /* IE9+,可以是具体的实际链接 */
}

.ksh{height:100%;padding:0px 15px;background-color:#061537;/*overflow-y:scroll;*/position:relative;z-index:-2;}

/* 加载旋转动画 */
#load{width:100%;height:100%;position:absolute;background-size:cover;top:0;left:0;z-index:999}
#load .load_img{position:absolute;left:calc(50% - 182px);top:calc(50% - 182px);}
.load_img img{position:absolute;left:0;top:0;}
.load_img .jzxz1{animation:xz1 8s infinite linear;}
@keyframes xz1 {
	from {transform:rotate(0deg);}
	50% {transform:rotate(180deg);}
	to{transform:rotate(360deg);}
}
.load_img .jzxz2{animation:xz2 7s infinite linear;}
@keyframes xz2 {
	from {transform:rotate(0deg);}
	50% {transform:rotate(-180deg);}
	to{transform:rotate(-360deg);}
}

.visual{height:100%;}

.visual_box2{height:40% !important;}
.visual_box_quneishikuang{height:50% !important;}
.visual_box_cheliuliang{height:43% !important;margin-top: 20px !important;}
.visual_box_shishicheweitongji{height:51% !important;}
/*.visual_box1{height:30% !important;}*/
.visual_box{height:33.3%;}
.visual_box .visual_title{position:relative;height:30px;margin:0 0 0 0;}
.visual_box .visual_title span{color:#fff;font-size:13px;line-height:35px;}
.visual_box .visual_title img{width:100%;position:absolute;left:0;bottom:0;}
.visual_box .visual_chart{height:calc(100% - 35px);}

.visual_left{width:25%;height:calc(100% - 30px);float:left;}
.visual_left .sfzcll{position:relative;}
.visual_left .sfzcll a{width:32%;text-align:center;line-height:25px;color:#fff;display:inline-block;}
.visual_left .sfzcll .sfzcll_pos_box{width:100%;height:calc(100% - 30px);}
.visual_left .sfzcll .sfzcll_box{width:100%;height:30px;line-height:5;background:rgba(15,47,72,0.8);border:1px solid #1380bd;position:relative;margin-bottom:5px;}
.visual_left .sfzcll .sfzcll_box:last-of-type{margin:0;}
.visual_left .sfzcll .sfzcll_box .sfzcll_bkJk{position:absolute;}
.visual_left .sfzcll .sfzcll_box .sfzcll_bkJk:first-of-type{top:-2px;left:-2px;}
.visual_left .sfzcll .sfzcll_box .sfzcll_bkJk:nth-child(2){top:-2px;right:-2px;}
.visual_left .sfzcll .sfzcll_box .sfzcll_bkJk:nth-child(3){bottom:-2px;right:-2px;}
.visual_left .sfzcll .sfzcll_box .sfzcll_bkJk:nth-child(4){bottom:-2px;left:-2px;}
.visual_left .sfzcll .sfzcll_box label{width:33%;color:#fff;text-align:center;float:left;}
.visual_left .sfzcll .sfzcll_box label img{width:23px;height:23px;margin-right:5px;margin-top:-2px;}
.visual_left .sfzcll .sfzcll_box .sfzcll_smallBk{width:33%;height:100%;float:left;padding:2px 5px;}
.visual_left .sfzcll .sfzcll_box .sfzcll_smallBk>div{height:100%;background:url(../img/ksh38.png) no-repeat;background-size:100% 100%;text-align: center;line-height:1.5em;}
.visual_left .sfzcll .sfzcll_box .sfzcll_smallBk .ygl{color:#00ffc6;}
.visual_left .sfzcll .sfzcll_box .sfzcll_smallBk .ygh{color:#ffe400;}


.visual_con{width:75%;height:100%;float:left;padding:3px 3px 0px 3px;}
.visual_con .visual_conTop{height:130px;margin-bottom:10px;}
.visual_con .visual_conTop .visual_conTop_box{height:100%;padding:0 3px;}
.visual_con .visual_conTop .visual_conTop1{width:20%;height:100%;float:left;}
.visual_con .visual_conTop .visual_conTop1>div{background:url(../img/ksh40.png) no-repeat;background-size:100% 100%;}
.visual_con .visual_conTop .visual_conTop2{width:33.3%;height:100%;float:left;}
.visual_con .visual_conTop .visual_conTop2>div{background:url(../img/ksh39.png) no-repeat;background-size:100% 100%;}

.visual_con .visual_conBot{height:calc(100%);background:url(../img/ksh41.png) no-repeat;background-size:100% 100%;position:relative;}
.visual_con .visual_conBot>img{position:absolute;width:25px;height:25px;}
.visual_con .visual_conBot .visual_conBot_l{position:absolute;left:0;top:0;}
.visual_con .visual_conBot .visual_conBot_2{position:absolute;right:0;top:0;}
.visual_con .visual_conBot .visual_conBot_3{position:absolute;right:0;bottom:0;}
.visual_con .visual_conBot .visual_conBot_4{position:absolute;left:0;bottom:0;}
.visual_con .visual_conBot .visual_chart{width:100%;height:100%;min-height:5px;position:absolute;}
.visual_con .visual_conBot .visual_chart_text{color:#fff;position:absolute;top:15px;left:15px;z-index: 99;}
.visual_con .visual_conBot .visual_chart_text h1{font-size:26px;margin-bottom:6px;}
.visual_con .visual_conBot .visual_chart_text h2{font-size:20px;}
.visual_con .visual_conBot .visual_conBot_bot{width:calc(100% - 8px);height:180px;background:rgba(16,54,87,0.5);border:1px solid #345f92;position:absolute;bottom:4px;left:4px;z-index:99;}

#alarmList_test{height: 85%;overflow-y: auto;}
#alarmList_test ul{ list-style:none; padding:0px; margin:0px; width:100%;
	height:20px; line-height:20px; border-width:1px;border-color: #063B6A;border-style:none none dashed none;
	border-top:0px; font-size:12px;color: white;}
#alarmList_test ul li{ display:block; width:24%; float:left;text-indent:2em;}
.th{ background:none; font-weight:bold; border-top:1px ;color: white;}

#alarmList{height: 85%;overflow-y: auto;}
#alarmList ul{ list-style:none; padding:0px; margin:0px; width:100%;
	height:20px; line-height:20px; border-width:1px;border-color: #063B6A;border-style:none none dashed none;
	border-top:0px; font-size:12px;color: white;}
#alarmList ul li{ display:block; width:24%; float:left;text-indent:2em;}
.th{ background:none; font-weight:bold; border-top:1px ;color: white;}

#alarmList_wind{height: 85%;overflow-y: auto;}
#alarmList_wind ul{ list-style:none; padding:0px; margin:0px; width:100%;
	height:20px; line-height:20px; border-width:1px;border-color: #063B6A;border-style:none none dashed none;
	border-top:0px; font-size:12px;color: white;}
#alarmList_wind ul li{ display:block; width:24%; float:left;text-indent:2em;}

.visual_elietianqifenjiyujing{position:relative;}
.visual_elietianqifenjiyujing .visual_table{height:100%;width:100%;position:absolute;z-index: 99;top:0px;left:0;}

#alarmTable {width: 100%;}
#alarmTable tr td {width: 25%;}

.list_alarm_stroll_y::-webkit-scrollbar {width: 5px;height: 1px;}
.list_alarm_stroll_y::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(58,206,248,0.2);background: #07A6FF;}
.list_alarm_stroll_y::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(58,206,248,0.2);border-radius: 10px;background: #061537;}

/*溢出文字...处理*/
/*.updateCssSubstring {text-overflow: ellipsis; -o-text-overflow: ellipsis;white-space: nowrap;
	overflow: hidden;width: 80px;display: inline-block;}*/
/*
#alarmTable td{
	!*background-color: #252432;*!
	width: 80px;
	white-space:nowrap;!*文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。*!
	overflow:hidden;!*隐藏多余的内容*!
	text-overflow:ellipsis;!*显示省略符号来代表被修剪的文本 for IE*!
	-moz-text-overflow: ellipsis; !* for Firefox,mozilla *!
}*/

.swiper-container {
	width: 100%;height: 100%;
}
.swiper-slide {
	text-align: center;font-size: 18px;background: none;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;
	display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;
	-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;
}
.swiper-pagination {
	font-size: 10px;color: #007AFF;position: absolute;text-align: right;-webkit-transition: .3s opacity;
	-o-transition: .3s opacity;transition: .3s opacity;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);z-index: 10;
}
.swiper-button-next, .swiper-button-prev {
	position: absolute;top: 50%;width: 27px;height: 20px;margin-top: -22px;z-index: 10;cursor: pointer;
	background-size: 27px 44px;background-position: center;background-repeat: no-repeat;
}

.scroll-wrap{
	position: absolute;color: rgb(204,204,204);line-height: 15px;
	height:31px;width:400px;overflow: hidden;
	/*background-color: rgba(245,245,245,0.5);*/
	padding: 0px; z-index: 1;left: 50%;transform: translateX(-50%);
}
.scroll-wrap ul{margin-top: 0px;}
.scroll-wrap ul li{
	height: 30px;text-align: center; line-height: 30px; font-size:17px; color:red;
	white-space: nowrap;overflow: hidden;text-overflow:ellipsis;
}

.close_out{position:absolute;right: 0px;top:0px;width: 40px;height: 40px;}
.close_out:hover {cursor: pointer;}
#close {position:absolute;top:10px;right: 0px;display: inline-block;width: 23px;height: 2px;background: white;transform: rotate(45deg);}
#close::after {content: "";display: block;width: 23px;height: 2px;background: white;transform: rotate(-90deg);}

#buhegeshipin{height: 33.3%;}

#tuanwuyujing{height: 33.3%;}

#expand{
	display: none;
	position: absolute;font-weight: bold;color: rgb(204,204,204);line-height: 15px;
	height:100%;width:14px;overflow:hidden;
	background-color: rgba(6,21,55,0.8);
	padding: 0px; right: 250px;top: 0px; z-index: 1;
}
#expand:hover{background-color: rgba(7,166,255,0.9);cursor: pointer;color: white;}
.expand-triangle{
	top: 50%;transform:translateY(-50%);
}

#expand-popc{
	display: none;
	position: absolute;font-size: x-small;color: grey;
	height:100%;width:250px;overflow-y: auto;
	background-color: rgba(6,21,55,1);
	padding: 10px; right: 0px;z-index: 1;
}
#expand-popc img{
	width: 70px;
	height: 50px;
	right: 5px;
	cursor: pointer;
}
#expand-popc span{
	text-decoration: underline;
}
#expand-popc label{
	width:100%;text-align: right;
}
.expand-popc-left{
	float: left;
	width: 40%;
	height: 100%;
}
.expand-popc-right{
	width: 60%;
	height: 100%;
}
.expand-popc-width{
	display: flex;
}

#alarm_icon{
	cursor: pointer;
	position: absolute;font-weight: bold;color: rgb(204,204,204);line-height: 15px;
	height:50px;width:50px;overflow-y:hidden;
	/*background-color: rgba(245,245,245,0.1);*/
	padding: 0px; right: 0px;top: 0px; z-index: 1;
}

.img_close_out{position:absolute;right: 0px;top:0px;width: 40px;height: 40px;}
.img_close_out:hover {cursor: pointer;}
#expand-popc-preview{
	z-index: 111;background-color: rgba(45,193,240,0.5);padding: 10px;display: none;
	position: fixed;height:450px;width:700px;top:50%;left:50%;transform: translateX(-50%) translateY(-50%);
}
#expand-popc-preview img{
	max-width:680px;max-height:430px;width: 100%;height: 100%;
}

.mapAlarmSlim_top{
	width: 100%;height: 100px;position: absolute;z-index: 1;display: none;
	background-image: url(/fog/mapAlarmSlim_top.png);background-size:contain;
}
.mapAlarmSlim_right{
	width: 100px;height: 100%;position: absolute;right:0px;z-index: 1;display: none;
	background-image: url(/fog/mapAlarmSlim_right.png);background-size:contain;
}
.mapAlarmSlim_bottom{
	width: 100%;height: 100px;position: absolute;bottom:0px;z-index: 1;display: none;
	background-image: url(/fog/mapAlarmSlim_bottom.png);background-size:contain;
}
.mapAlarmSlim_left{
	width: 100px;height: 100%;position: absolute;z-index: 1;display: none;
	background-image: url(/fog/mapAlarmSlim_left.png);background-size:contain;
}