<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"> -->
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<!-- iphone会把一串数字识别为电话号码，点击的时候会提示是否呼叫，屏蔽这功能则把telephone设置为no -->
<meta content="telephone=no" name="format-detection" />
<!-- iphone的私有标签，默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明） -->
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!-- iphone设备的是有标签 允许全屏模式浏览，隐藏浏览器导航栏 -->
<meta content="yes" name="apple-mobile-web-app-capable" />
<!-- 全屏显示 -->
<meta content="yes" name="apple-touch-fullscreen" />
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- 屏蔽百度转码 -->
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>未确认告警列表</title>
<!-- 引入 WeUI -->
<link rel="stylesheet" href="/lkdtWX/plugins/weui/css/weui.css" />
<link rel="stylesheet" href="/lkdtWX/plugins/weui/css/weuix.css"/>

<style>
	ul{list-style: none;padding: 0px;margin: 0px;width: 100%;height: 30px;line-height: 20px;
	    border-width: 1px;border-color: #063B6A;border-style: none none dashed none;border-top: 0px;font-size: 14px;color: white;
	}
	li{display: block;width: 24%;float: left;text-indent: 2em;}
	.name{width:27%;}
</style>
</head>
<body style="background-color: #180d46">
	<input id="openid" name="openid" th:value="${openid}" type="hidden" />
	<div id="alarmList" class="list_alarm_stroll_y">
		<ul class="th">
			<li class="name">名称</li>
			<li>能见度</li>
			<li>开始时间</li>
			<li>告警状态</li>
		</ul>
		<ul id="contentUl_unconfirm">
			<li class="name">-</li>
			<li>-</li>
			<li>-</li>
			<li>-</li>
		</ul>
	</div>
	
	<div id="rgjz" style="z-index: 10000;" class="weui-popup__container">
	    <div class="weui-popup__overlay"></div>
	    <div class="weui-popup__modal" >
	        <iframe width="100%;" height="90%;" id="rgjzIfram" name="ifram" style="border:none;margin-top: 0px;"></iframe>
	    </div>
	</div>
	<!-- 引入 WeJS -->
	<script src="/lkdtWX/plugins/weui/js/commonMap.js"></script>
	<script src="/lkdtWX/plugins/weui/js/zepto.min.js"></script>
	<script src="/lkdtWX/plugins/weui/js/zepto.weui.js"></script>
	<script src="/lkdtWX/plugins/weui/js/axios.min.js"></script>
	<script>
		//返回
		$().ready(function() {
			$.ajax({
				type: "post",
				url: "/weixin/wxLogin",
				data: {"openid": $("#openid").val()},
				async: false,
				dataType: "json",
				success(message) {
					u.setStorage("token", message.result.token);
					getConfirmList();
				}
			});

		});

		/**渲染*/
		function render(data){
			//告警信息初始化清空
			var html = "";
			var unconfirmhtml = "";
			if(data.length > 0){
				data.sort(function(a,b){
					return a.distance - b.distance;
				});
			}
			for (var i = 0; i < data.length; i++) {
                //imgRealFromUrl = imgRealFromUrl_src+"path=" + data[i].imgpath.replace(/\\/g,"/")+"&epId=" + data[i].epId;
                //渲染告警闪烁
                if(data[i].distance>0){}
            	unconfirmhtml += "<ul  onclick='confirm(\""+data[i].epId+"\")'>";
                var param__= data[i].lon+","+data[i].lat;
                unconfirmhtml += "<li style='word-wrap:break-word;' class='name' ><a href='#' style='color: #95C1EE;' " +
                    "title='" +data[i].equName + "' >" +
                    (data[i].equName).substr(0,5)+"..."+ "</a></li>";
            	unconfirmhtml += "<li>" + data[i].distance + "(m)</li>";
                
                var begintime = data[i].begintime.substring(10);
                unconfirmhtml += "<li title='" + data[i].begintime + "'>" + (begintime==''?'&nbsp;':begintime) + "</li>";
                unconfirmhtml += "<li><a href='#' style='color: #95C1EE;' " +
                    "title='" +"告警状态"+ "'>" +
                    data[i].cameraTypeDesc+ "</a></li>";
                unconfirmhtml += "</ul>";
            }
			$("#contentUl_unconfirm").html(unconfirmhtml);
		}

		function confirm(epId){
			// window.open('/system/alarm/confirmPhone/' + epId);
			u.setStorage("openid",$("#openid").val());
			u.setStorage("manualCorrectionBack","confirmList");
			//window.location.replace('/system/alarm/manualCorrection/' + epId);
			showDetail('/weixin/alarm/manualCorrection/' + epId);
		}
		
		//点击案件弹出详情弹出层
		function showDetail(url){
		  //详情页面路径
		     $("#rgjzIfram").prop("src",url);
		     //weUI弹出层方法
		     $("#rgjz").popup();
		}
		
		//关闭弹出层
		function closePage(){
		      //weUI关闭弹出层方法
		      $.closePopup();
		      //iframe清空内容的办法
		      document.getElementById("rgjzIfram").contentWindow.document.body.innerText = "";
		      getConfirmList();
		}
		
		function getConfirmList(){
			$.ajax({
		        type: "GET",
		        url: "/weixin/alarm/getConfirmList",
				headers: {
					"X-Access-Token": u.getStorage("token")
				},
		        dataType:'json',
		        success: function (data) {
		        	//缓存列表数据
					let allData = data.noWarning.concat(data.hasWarning);
					render(allData);
		        }
		    });
		}

	</script>
</body>
</html>