<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
	.search-span{
		height: 60px;
		padding: 10px 10px;
		display: -webkit-inline-box;
	}
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
						</div>
						
						<div class="columns pull-right col-md-10 nopadding" style="margin-right: 30px;">
						    <span class="search-span" style="">
								<span>事故时间：</span>
								<input  id="starttime" name="starttime" class="" type="date" style="height: 34px;">
								<span>—</span>
								<input  id="endtime" name="endtime" class="" type="date" style="height: 34px;">
							</span>
							<span style="width: 10px;"></span>
							<span class="search-span" style="">
								<span>事故状态：</span>
								<select  id="alarmstatus" data-placeholder="事故状态" class="form-control chosen-select"
									 style="width: 100px;display: inline;">
									<option value="">全部</option>
									<option value="1">已处理</option>
									<option value="2">处理中</option>
									<option value="0">处理完成</option>
								</select>
							</span>
							<span class="search-span" style="">
								<span>事故类型：</span>
								<select id="fogType" data-placeholder="是否有效" class="form-control chosen-select"
									 style="width: 100px;display: inline;">
									<option value="">全部</option>
									<option value="21">抛锚</option>
									<option value="22">车祸</option>
									<option value="23">非法停车</option>
								</select>
							</span>
							<span class="search-span" style="">
								<span>事故级别：</span>
								<select id="level" data-placeholder="是否有效" class="form-control chosen-select"
									 style="width: 100px;display: inline;">
									<option value="">全部</option>
									<option value="1">小型事故</option>
									<option value="2">中型事故</option>
									<option value="3">大型事故</option>
								</select>
							</span>
							<span class="search-span" style="">
								<span>所属公路：</span>
								<input id="hwId" name="hwId" class="hidden">
								<input id="name" name="name" class="form-control" type="text"
									style="cursor: pointer;width: 100px;" onclick="openHighway()"
									readonly="readonly" placeholder="所属公路">
							</span>
							<span class="search-span" style="">
								<span>摄像头编码：</span>
								<input id="camcode" type="text" class="form-control" style="width: 100px;"
								placeholder="">
							</span>
							<span class="search-span" style="">
								<button class="btn btn-success" onclick="reLoad()">查询</button>
							</span>
							<span class="search-span" style="">
								<button class="btn btn-success" onclick="reset()">重置</button>
							</span>
							
							<div class="columns pull-right">
								
							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:alarm:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:alarm:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:alarm:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/lkdtWX/js/appjs/fog/alarm/accident.js"></script>
</body>
</html>