<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">摄像头id：</label>
								<div class="col-sm-8">
									<input id="epId" name="epId" class="form-control" type="text">
								</div>
							</div>
														<!-- <div class="form-group">	
								<label class="col-sm-3 control-label">是否有效</label>
								<div class="col-sm-8">
									<input id="iseffective" name="iseffective" class="form-control" type="text">
									<div class="col-sm-8">
										<label class="radio-inline"> <input type="radio"
											name="iseffective" value="0" />无效
										</label> <label class="radio-inline"> <input type="radio"
											name="iseffective" value="1" /> 有效
										</label>
									</div>
								</div>
							</div> -->
														<!-- <div class="form-group">	
								<label class="col-sm-3 control-label">确认人：</label>
								<div class="col-sm-8">
									<input id="confirmor" name="confirmor" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">确认时间：</label>
								<div class="col-sm-8">
									<input id="confirmtime" name="confirmtime" class="form-control" type="text">
								</div>
							</div> -->
														<div class="form-group">	
								<label class="col-sm-3 control-label">可见距离：</label>
								<div class="col-sm-8">
									<input id="distance" name="distance" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">等级：</label>
								<div class="col-sm-8">
									<input id="level" name="level" class="form-control" type="text">
								</div>
							</div>
														<!-- <div class="form-group">	
								<label class="col-sm-3 control-label">开始时间：</label>
								<div class="col-sm-8">
									<input id="begintime" name="begintime" class="form-control" type="datetime-local">
								</div>
							</div> -->
														<!-- <div class="form-group">	
								<label class="col-sm-3 control-label">消散时间：</label>
								<div class="col-sm-8">
									<input id="endtime" name="endtime" class="form-control" type="datetime-local">
								</div>
							</div> -->
														<div class="form-group">	
								<label class="col-sm-3 control-label">摄像头地址描述：</label>
								<div class="col-sm-8">
									<input id="address" name="address" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/lkdtWX/js/appjs/fog/alarm/add.js">
	</script>
</body>
</html>
