<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">
  <link href="/css/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print">
<style>
p{
	    margin: 0 0 14px;
    font-size: 27px;
    color: #f1a908;
}
.col-md-4{
	width: 33.33%;
	float: left;
}
.fc-icon-x:after {
    font-size: 290%;
}
</style>
<script>
    function nofind(_this){
        _this.src="/fog/nofind.jpg";
    }
</script>
<body class="gray-bg" style="height: 97%;    overflow: hidden;padding: 5px;background: #132535;">
	<input id="epId" name="epId" type="hidden" th:value="${epId}">
	<input id="beginTime" name="beginTime" type="hidden" th:value="${beginTime}">
	<input id="endTime" name="endTime" type="hidden" th:value="${endTime}">
	
	<div class="row" style="height: 50%;width: 100%;">
		<div class="col-md-6" style="    background-color: #090a21;
    color: #fff;  font-size: 15px;padding: 5px;height: 100%;    padding-left: 40px;width: 50%;float: left;    font-family: sans-serif;">
			<span>
				<p>开始时间：<span th:text="${beginTime}"></span> </p>
				<p>结束时间：<span th:text="${endTimeText}"></span> </p>
			</span>
		</div>
		<div class="col-md-6" style="height: 100%;width: 50%;float: left;">
			<div style="    text-align: center;    height: 100%;    float: left;    width: 100%;">
				<div id="mydiv1" class="fc-popover fc-more-popover" style="display: none;background-color: #313046;cursor: pointer;width: 100%;height: 100%;position: absolute;z-index: 9999;left: 0;">
					<img id="clickimg" alt="" src="" style="width: 100%;height:100%; ">
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="height: 50%;width: 99%;">
		<div class="col-md-12" style="height: 100%;">
			<div id="container1" style="height: 100%;width:100%;"></div>
		</div>
	</div>
	<!-- ECharts -->
	<script src="/lkdtWX/js/plugins/echarts/echarts.min.js"></script>
	<script src="/lkdtWX/js/common-options.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/jquery.min.js" ></script>
	<script src="/lkdtWX/js/ckplayer/ckplayer.min.js"></script>
	<!-- FastClick -->
	<script src="/lkdtWX/js/fastclick.js"></script>
</body>
<script type="text/javascript">
    //统计
    var dom1 = document.getElementById("container1");
    var myChart1 = echarts.init(dom1);
    var imgpathsjson=[];
    var option = common_options1;
    myChart1.getZr().on('click', function (params) {
		var pointInPixel= [params.offsetX, params.offsetY];
	    if (myChart1.containPixel('grid',pointInPixel)) {
	        /*此处添加具体执行代码*/
            
            var pointInGrid=myChart1.convertFromPixel({seriesIndex:0},pointInPixel);
	        //X轴序号
	        var xIndex=pointInGrid[0];
 
            //获取当前图表的option
	        var op=myChart1.getOption();
 
            //获得图表中我们想要的数据
			var vdata = op.xAxis[0].data[xIndex];
			var dateStr = formatterDate(vdata);	//vdata.substring(0,10);
			var time = vdata.substring(11,16);
			time=time.replace(":","");
			document.getElementById('clickimg').src = imgpathsjson[time];
			
			$("#mydiv1").show();
	    }
	});
    
    
    
    $(function() {
    	//获取统计图
        $.ajax({
            type: "get",
            url: "/system/alarm/alarmDistanceStatistic",
            dataType:'json',
            data: {epId:$("#epId").val(),beginTime:$("#beginTime").val(),endTime:$("#endTime").val()}
        }).success(function(data) {
            if (option && typeof option === "object") {
                //option.title.text = date;
                option.xAxis.data = data.xAxis.split(",");
                var seriesData = data.series.split(",");
                var minSeriesData = 1000 ;
                var itime = 0;
                var idateStr = "";
                for(var i = 0;i<seriesData.length;i++){
                	seriesData[i] = parseInt(seriesData[i]);
                	if(seriesData[i] < minSeriesData ){
                		//取最小值，默认展示最小值对应的图片
                		minSeriesData = seriesData[i];
                		
                		var idata = option.xAxis.data[i];
                		idateStr = formatterDate(idata);	//idata.substring(0,10);
                		itime = idata.substring(11,16);
                		itime = itime.replace(":","");
                	}
                	if(seriesData[i] <= 30){
                		seriesData[i] = parseInt(seriesData[i]/0.3);
                	}else if(seriesData[i] <= 50){
                		seriesData[i] = parseInt(seriesData[i]*5-50);
                	}else if(seriesData[i] <= 100){
                		seriesData[i] = parseInt(seriesData[i]*2+100);
                	}else if(seriesData[i] <= 200){
                		seriesData[i] = parseInt(seriesData[i]+200);
                	}else{
                		seriesData[i] = parseInt((parseInt(seriesData[i])+200));
                	}
                	
                }
                option.series[0].data = seriesData;
                
                imgpathsjson=data.imgpaths;
                option.xAxis.axisLabel.formatter = function(params) {
                    return params.substr(11,2);
                }
                myChart1.setOption(option, false);
                
                document.getElementById('clickimg').src = imgpathsjson[itime];
    			
    			$("#mydiv1").show();
            }
        }).fail(function(err){
            console.log(err);
        });
    });

    
	$('.fc-close').bind('click',function(event){
        $("#mydiv1").hide();
    });

	function formatterDate(fDate){
		var y = fDate.substring(0,4);
		var m = fDate.substring(5,7);
		m = parseInt(m);
		var d = fDate.substring(8,10);
		d = parseInt(d);
		return y+"-"+m+"-"+d ;
	}
	

</script>
</html>