<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">
  <link href="/css/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print">
  <title></title>
<style>
p{
	    margin: 0 0 14px;
    font-size: 3.2vw;
    color: #f1a908;
}
.col-md-4{
	width: 33.33%;
	float: left;
}
.fc-icon-x:after {
    font-size: 290%;
}
</style>
<script>
    function nofind(_this){
        _this.src="/fog/nofind.jpg";
    }
</script>
<body class="gray-bg" style="height: 97%;    overflow: hidden;padding: 5px;background: #132535;">
	<input id="epId" name="epId" type="hidden" th:value="${epId}">
	<input id="path" name="path" type="hidden" th:value="${path}">
	<input id="fMeter" name="fMeter" type="hidden" th:value="${fMeter}">
	<input id="videopath" name="videopath" type="hidden" th:value="${videopath}">
	<div class="row" style="height: 20vw;width: 100%;    margin: 0;">
		<div class="col-md-6" style="    background-color: #090a21;
    color: #fff;  font-size: 15px;padding: 0px;height: 100%;    padding-left: 0px;width: 50%;float: left;    font-family: sans-serif;">
			<span>
				<p class="p-wind">当前风速：<span id="mi"></span>m/s（<span id="windLevel"></span>）</p>
	 			<p class="p-wind">当前风向：<span id="fengxiang"></span> </p>
			</span>
		</div>
		<div class="col-md-6" style="    background-color: #090a21;
    color: #fff;  font-size: 15px;padding: 0px;height: 100%;    padding-left: 0px;width: 50%;float: left;    font-family: sans-serif;">
			<span>
				<p class="p-wind">今日最大风速：<span id="maxDay"></span>m/s </p>
				<p class="p-wind">今日最小风速：<span id="minDay"></span>m/s </p>
			</span>
		</div>
	</div>
	<div class="row" style="width: 99%;margin: 0;">
		 <img id="windImg" src="" class="img-max" onclick=""  style="width:100%;max-height: 300px;margin-left: 1%;">
	</div>
	<div class="row" style="height: 50%;width: 99%;margin-top: 3%;">
		<div id="container2" class="echarts"  style="height: 100%;width: 100vw;height: 200px;"></div>
	</div>
	<!-- ECharts -->
	<script src="/lkdtWX/js/plugins/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/jquery.min.js" ></script>
	<script src="/lkdtWX/js/ckplayer/ckplayer.min.js"></script>
	<!-- FastClick -->
	<script src="/lkdtWX/js/fastclick.js"></script>
</body>
<script type="text/javascript">
    Date.prototype.Format = function(fmt){
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        }
        for(var k in o) {
            if(new RegExp("("+ k +")").test(fmt)){
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            }
        }
        return fmt;
    };

    //统计
   /*  var dom1 = document.getElementById("container1");
    var myChart1 = echarts.init(dom1); */
    var option = {
            /* title: {
                text: "可见距离统计",
                textStyle: {
                    color: '#ffffff'
                }
            }, */
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#283b56'
                    }
                }
            },
            grid:{
                x:45,
                x2:47,
                y:50,
                y2:20
            },
    		visualMap: {
    			 show: false,
	            top: 'top',
	            left:'middle',
	            color:['#16DDFD'],
	            textStyle:{
	                color:'#fff'
	            },
	            /* pieces: [{
	                gt: 0,
	                lte: 1000,
	                color: 'rgba(72, 239, 139,0.8)' //#0088D4
	            }] */
	            pieces: [{
	                gt: 0,
	                lte: 10,
	                color: '#48ef8b'
	            }, {
	                gt: 10,
	                lte: 14,
	                color: '#007eff'
	            }, {
	                gt: 14,
	                lte: 20,
	                color: '#fd4a05'
	            }, {
	                gt: 20,
	                color: '#ff0000'
	            }]
	        },
            xAxis: {
                type: 'category',
                name: 'HH:ss',
                data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                boundaryGap: false,
                axisLine: {
                    lineStyle: {
                        color: '#57617B'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color:'#fff',
                    },
                },
                nameTextStyle:{
               	 color: '#ffffff'
               }
            },
            yAxis: {
                type: 'value',
                scale: true,
                name: '风速（m/s）',
                max: 40,
                min: 0,
                axisTick: {
                    show: false
                },
                axisLine: {
                    lineStyle: {
                        color: '#57617B',

                    }
                },
                axisLabel: {
                    margin: 10,
                    textStyle: {
                        fontSize: 14
                    },
                    textStyle: {
                        color:'#fff',
                    },
                    formatter : function(params) {
						console.log(params);
			            if (params == 40) {
			              return '+∞';
			            }else{
			            	return params;
			            }
			        }
                },
                splitLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,.2)',
                        type:'dotted',
                    }
                },
                nameTextStyle:{
               	 color: '#ffffff'
               }
            },
            series: [{
                data: [1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000],
                type: 'line',
                name:'风速',

                smooth: true,
                lineStyle: {
                    normal: {
                        width: 2
                    }
                },
               /*  markLine: {
                    silent: true,
                    symbol:'none',
                    data: [{
                        yAxis: 30
                    }, {
                        yAxis: 50
                    }],
                    lineStyle:{
                    	color:'#42515d',
                    	width:2,
                    	type :'dotted'
                    },
                    label:{
                    	position :'start',
                    	color:'#fff'
                    }
                }, */
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 1,
                            color: '#48ef8b'
                        },{
                            offset: 0.695,
                            color: '#007eff'
                        },{
                            offset: 0.620,
                            color: '#fd4a05'
                        },{
                            offset: 0.5,
                            color: '#ff0000'
                        }, {
                            offset: 0,
                            color: '#ff0000'
                        }], true),
                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                        shadowBlur: 10
                    }
                }
            }]
        };
    var date = new Date();
    var hour = date.getHours();
    var dom2 = document.getElementById("container2");
    var myChart2 = echarts.init(dom2);
	//var days2 = ['北', '东北', '东','东南', '南', '西南', '西','西北'];
	
	//var data2 = [1,[200,1,1],[300,2,0],[200,3,0],[200,4,3],[200,5,3],[200,6,4],[100,7,2],[360,8,4],[2,9,4],[5,10,5],[3,11,3],[2,12,5],[4,13,1],[4,14,1],[4,15,3],[2,16,4],[3,17,6],[5,18,4],[7,19,4],[9,20,3],[8,21,3],[7,22,2],[6,23,5],[5,24,7]];

	var option2 = {
	    title: {
	        text: '24h风速风向图',
	        subtext: '圆的大小和颜色表示风速',
	        textStyle: {
                color: '#ffffff',
                fontSize:18,
            },
            left: 'center'
	    },
	    grid:{
            x:45,
            x2:47,
            y:70,
            y2:20
        },
	    tooltip: {
	        formatter: function (params) {
	            return params.value[1]+'</br>当前风速:'+params.value[2] + 'm/s</br>当前风向:'+ getWinddVal(params.value[0]);
	        }
	    },
	    /* angleAxis: {
	        type: 'value',
	        boundaryGap: false,
	        min:0,
	        max:24,
	        //interval:1,
	        splitLine: {
	            show: true,
	            lineStyle: {
	                color: '#fff',
	                type: 'dashed'
	            }
	        },
	        axisLine: {
	        	textStyle: {
	                color:'#fff',
	            },
	            show: false
	        },
	        axisLabel: {
                textStyle: {
                    color:'#fff',
                },
            },
	        nameTextStyle:{
              	 color: '#ffffff'
              }
	    },
	    radiusAxis: {
	        type: 'value',
	        axisLine: {
	        	textStyle: {
	                color:'#fff',
	            },
	            show: false
	        },
	        min:0,
	        max:360,
	        interval:45,
	        axisLabel:{
	        	textStyle: {
	                color:'#fff',
	                fontSize:11
	            },
	            rotate: 0,
	        	formatter:function (value) {
	        	    if(value == 90) {
	        	    	return '东';
	        	    }else if(value == 180) {
	        	    	return '南';
	        	    }else if(value == 270) {
	        	    	return '西';
	        	    }else if(value == 360) {
	        	    	return '北';
	        	    }
	        	}
	        },
	        nameTextStyle:{
              	 color: '#ffffff'
              }
	    }, */
	    xAxis: {
            type: 'category',
            name: 'HH:ss',
            data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            boundaryGap: false,
            axisLine: {
                lineStyle: {
                    color: '#57617B'
                }
            },
            axisLabel: {
                textStyle: {
                    color:'#fff',
                },
            },
            nameTextStyle:{
           	 color: '#ffffff'
           },
           splitLine: {
               lineStyle: {
                   type: 'dashed'
               }
           }
        },
        /* yAxis: {
            type: 'value',
            scale: true,
            name: '风向',
            max: 180,
            min: -180,
            interval:45,
	        axisLabel:{
	        	textStyle: {
	                color:'#fff',
	                fontSize:14
	            },
	            rotate: 0,
	        	formatter:function (value) {
	        	    if(value == 90) {
	        	    	return '东';
	        	    }else if(value == 180-360) {
	        	    	return '南';
	        	    }else if(value == 270-360) {
	        	    	return '西';
	        	    }else if(value == 0) {
	        	    	return '北';
	        	    }else if(value == 0+45) {
	        	    	return '东北';
	        	    }else if(value == 90+45) {
	        	    	return '东南';
	        	    }else if(value == 180+45-360) {
	        	    	return '西南';
	        	    }else if(value == 270+45-360) {
	        	    	return '西北';
	        	    }

	        	}
	        }, */
	       yAxis: {
	            type: 'value',
	            scale: true,
	            name: '风向',
	            max: 7,
	            min: 0,
	            interval:1,
		        axisLabel:{
		        	textStyle: {
		                color:'#fff',
		                fontSize:14
		            },
		            rotate: 0,
		            formatter:function (value) {
		        	    if(value == 1) {
		        	    	return '西南';
		        	    }else if(value == 2) {
		        	    	return '西';
		        	    }else if(value == 3) {
		        	    	return '西北';
		        	    }else if(value == 4) {
		        	    	return '北';
		        	    }else if(value == 5) {
		        	    	return '东北';
		        	    }else if(value == 6) {
		        	    	return '东';
		        	    }else if(value == 7) {
		        	    	return '东南';
		        	    }else if(value == 0) {
		        	    	return '南';
		        	    }

		        	}
		        },
            axisTick: {
                show: false
            },
            axisLine: {
                lineStyle: {
                    color: '#57617B',

                }
            },
            splitLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.2)',
                    type:'dotted',
                }
            },
            nameTextStyle:{
           	 color: '#ffffff'
           }
        },
	    series: [{
	        name: 'Punch Card',
	        type: 'scatter',
	        encode: {
	            x: 1,      // 表示维度 3、1、5 映射到 x 轴。
	            y: 0,              // 表示维度 2 映射到 y 轴。
	            tooltip: [1, 2, 3] // 表示维度 3、2、4 会在 tooltip 中显示。
	        },
	        symbolSize: function (val) {
	            return val[2] *5;
	        },
	        animationDelay: function (idx) {
	            return idx * 5;
	        },
	        itemStyle:{
	        	color:function (val) {
	        		var winds=val.data[2];
	        		if(winds>=0&&winds<10.8){
	        			return '#48ef8b';
	        		}else if(winds>=10&&winds<13.9){
	        			return '#007eff';
	        		}else if(winds>=14&&winds<20.8){
	        			return '#fd4a05';
	        		}else if(winds>=20.8){
	        			return '#ff0000';
	        		}
	        		return '#fff';
	        		
		        }
	        }
	    }]
	};
    function show(id) {
        var objDiv = $("#"+id+"");
        $(objDiv).css("display","block");
    }
    $(function() {
    	setInterval(updateImgPath,60000);
        updateImgPath();
        $(document).attr("title",$("#epId").val());
    });

    /**
	 * 更新数据
     */
     var $src = '';
	function updateImgPath(){
	    //获取图片
        $.ajax({
            type: "get",
            url: "/weixin/equipment/lookup/updateWinds?epId="+$("#epId").val(),
        }).success(function(message) {
            var imgdata=message;
            var p = imgdata.path;
            $("#mi").html((imgdata.fMeter||0).toFixed(1));
            $("#fengxiang").html(getWindd(imgdata.windd)||'无');
            $("#windLevel").html(getWindLevel(imgdata.fMeter)||'无');
            if(imgdata.adjoinEpid){
            	$src = imgdata.imgpath;
            }else{
            	$src = ""
            }
            $("#windImg").attr("src", $src);
            /* if(imgdata.fMeter>=200){
            	 $("#zhuangtai").html("晴朗");
            }else if(imgdata.fMeter>=100){
            	$("#zhuangtai").html("大雾");
            }else if(imgdata.fMeter>=50){
            	$("#zhuangtai").html("浓雾");
            }else if(imgdata.fMeter>=30){
            	$("#zhuangtai").html("强浓雾");
            }else if(imgdata.fMeter<30){
            	$("#zhuangtai").html("特强浓雾");
            } */
        }).fail(function(err){
            console.log(err);
        });
		let beginTime = new Date(new Date().getTime()-12*60*60*1000).Format('yyyy-MM-dd hh:mm:ss');
		let endTime = new Date().Format('yyyy-MM-dd hh:mm:ss');
		//获取统计图
        $.ajax({
            type: "get",
            url: "/weixin/alarm/alarmDistanceStatisticWind",
            dataType:'json',
            data: {epId:$("#epId").val(),beginTime:beginTime,endTime:endTime}
        }).success(function(data) {
            if (option && typeof option === "object") {
                //option.title.text = date;
                option.xAxis.data = data.xAxis.split(",");
                option.series[0].data = data.series.split(",");
                //myChart1.setOption(option, false);
                option2.series[0].data = data.intList;
                option2.xAxis.data = data.xAxis.split(",");
                myChart2.setOption(option2, false);
                var intList=data.intList;
                var minwind = parseFloat(intList[0][2]);
                var maxwind = parseFloat(intList[0][2]);
                for(var i=0;i<data.intList.length;i++){
                	if(parseFloat(intList[i][2])<minwind){
                		minwind=parseFloat(intList[i][2]);
                	}
                	if(parseFloat(intList[i][2])>maxwind){
                		maxwind=parseFloat(intList[i][2]);
                	}
                }
               	$("#maxDay").html(maxwind||'0');
               	$("#minDay").html(minwind||'0');
            }
        }).fail(function(err){
            console.log(err);
        });
	}
	$('.fc-close').bind('click',function(event){
        hide('mydiv1');
    });
	function hide(id) {
        var objDiv = $("#"+id+"");
        $(objDiv).css("display", "none");
    }

	//获取风向
	function getWindd(windd){
		if(windd>337.5||windd<=22.5){
			return "北";
		}else if(windd>22.5&&windd<=67.5){
			return "东北";
		}else if(windd>67.5&&windd<=112.5){
			return "东";
		}else if(windd>112.5&&windd<=157.5){
			return "东南";
		}else if(windd>157.5&windd<=202.5){
			return "南";
		}else if(windd>202.5&&windd<=247.5){
			return "西南";
		}else if(windd>247.5&&windd<=292.5){
			return "西";
		}else if(windd>292.5&&windd<=337.5){
			return "西北";
		}
		return null;
	}
	//获取风向值
	function getWinddVal(windd){
		if(windd==4){
			return "北";
		}else if(windd==5){
			return "东北";
		}else if(windd==6){
			return "东";
		}else if(windd==7){
			return "东南";
		}else if(windd==0){
			return "南";
		}else if(windd==1){
			return "西南";
		}else if(windd==2){
			return "西";
		}else if(windd==3){
			return "西北";
		}
		return null;
	}
	//获取风等级
	function getWindLevel(winds){
		if(winds<1.5){
			return "1级";
		}else if(winds<=3.3){
			return "2级";
		}else if(winds<=5.4){
			return "3级";
		}else if(winds<=7.9){
			return "4级";
		}else if(winds<=10.7){
			return "5级";
		}else if(winds<=13.8){
			return "6级";
		}else if(winds<=17.1){
			return "7级";
		}else if(winds<=20.7){
			return "8级";
		}else if(winds<=24.4){
			return "9级";
		}else if(winds<=28.4){
			return "10级";
		}else if(winds<=32.6){
			return "11级";
		}else if(winds<=36.9){
			return "12级";
		}else if(winds<=41.4){
			return "13级";
		}else if(winds<=46.1){
			return "14级";
		}else if(winds>=46.1){
			return "15级";
		}
		return null;
	}

</script>
</html>