<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
    .mcc {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 98;
        background: rgba(202, 195, 195, 0.5);
        display: none;
    }

    .mcc_cnt {
        width: 90%;
        height: 50%;
        margin: 50px auto 0px auto;
        background: #e57777;
        border-radius: 8px;
        z-index: 99;
        opacity: 1;
    }

    .mcc_cnt .ts {
        width: 96%;
        font-size: 3vw;
        margin: 0 auto;
        padding-top: 15px;
    }

    .mcc_cnt .btns {
        margin-top: 120px;
        margin-left: 3vw;
        text-align: center;
    }

    .mcc_cnt .btns a {
        display: -webkit-inline-box;
        background-color: #1aad19;
        border-radius: 5px;
        padding: 1vw 3vw;
        font-size: 3vw;
        color: #fff;
        margin-left: 10px;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content" style="width: 70%; float: left;height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="" id="signupForm"
             style="margin-top: -15px;font-size: 1.6vw; height: 100%;">
            <div calss="" style="padding-left: 15px;text-align: center;">
                <label class="control-label">摄像头id：</label>
                <input id="equName" name="equName" class="" readonly="readonly" style="width: 30%;">
                <label class="control-label">地址：</label>
                <input id="address" name="address" class="" readonly style="width: 30%;">

            </div>
            <div class="col-sm-12" style="height: 85%;">
                <div class="ibox float-e-margins" style="height: 100%;">
                    <div class="" style="height: 100%;">
                        <input id="openid" name="openid" th:value="${openid}" type="hidden"/>
                        <input id="epId" name="epId" type="hidden"/>
                        <input id="state" name="state" type="hidden" t/>
                        <input id="imgtime" name="imgtime" type="hidden"/>
                        <input id="imgpath" name="imgpath" type="hidden"/>
                        <input id="isFogNow" name="isFogNow" type="hidden"/>
                        <!-- <input name="alarmtype" id="alarmtype" class="" readonly="readonly"  type="hidden"> -->
                        <div class="form-group" style="height: 100%;">
                            <div class="col-sm-12 " style="height: 100%;text-align: center;">
                                <img id='img1' alt=""
                                     onerror="this.src='/img/defalt.jpg;this.onerror=null'"
                                     style="width: auto; height: 100%;max-width: 100%;">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-8"></div>
                        </div>


                    </div>

                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="col-sm-8" style="text-align: right;">
                        <label class="control-label">可见距离：</label>
                        <input id="distance" name="distance" class=""
                               style="width: 160px;">
                    </div>
                    <div class="col-sm-4 " style="margin-top: 0;font-size: 1.6vw;text-align: left; ">
                        <button type="" style="font-size: 1.6vw;" class="btn btn-primary" id=""
                                onclick="primaryClick()">提交
                        </button>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">

        </div>
    </div>

</div>
<div class="wrapper wrapper-content " style="width: 30%; float: left;    height: 100%;">
    <div id="panel" style="overflow: hidden;background-color: rgba(0,0,0,0);    height: 100%;">
        <div style="height: 100%;width: 100%;margin-right:5px;margin-top:0px;    height: 100%;">
            <div id="mapSelectPoints" class="row"
                 style="padding: 0px 25px 25px 25px;margin-top: 0px; width: 100%;display: block;    height: 100%;">
                公路选择：
                <input id="highWay" name="highWay" class="form-control" type="text"
                       style="cursor: pointer;background-color: #cdd6dc;" onclick="openHighway(0)"
                       readonly="readonly" placeholder="所属公路">
                <label class="col-sm-4 control-label" style="padding: 0;width: 27%;">摄像头选择：</label>
                <div class="col-sm-8" style="padding: 0;width: 70%;">
                    <label class="radio-inline"> <input type="radio"
                                                        name="isAll" value="1" checked="checked" onclick="setIsAll(1)"/>
                        全部
                    </label> <label class="radio-inline"> <input type="radio"
                                                                 name="isAll" value="0" onclick="setIsAll(0)"/> 待确认
                </label>
                    <button onclick="loadHy({})" style="color: white;">刷新
                        <text id="timeCounter" style="left:375px;top: 70px;">30</text>
                    </button>

                </div>
                <select multiple id="epSelect" class="form-control" style="width: 100%;height: 75%;cursor: pointer;">
                </select>
                <div class="col-sm-12" style="margin-top: 10px;font-size: 1.6vw;text-align: left; ">
                    <button type="" style="font-size: 1.6vw;" class="btn btn-warning " id="" onclick="changeSelect(-1)">
                        上一个
                    </button>
                    <button type="" style="font-size: 1.6vw;" class="btn btn-warning " id="" onclick="changeSelect(1)">
                        下一个
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="manualCorrectionConfirm" class="mcc">
    <div class="mcc_cnt">
        <div class="ts">本次提交会触发路段【<span id="ts-equName"></span>】发送<span id="levelName"></span>信息，确认是否发送消息？</div>
        <div class="ts" style="font-size: 24px;">通知信息：<span id="alarmText"></span><a onclick="copy('alarmText', 'innerText')">一键复制</a></div>
        <div class="btns">
            <a class="btn" href="javascript:;" id="weixin" name="weixin" onclick="weixin()">微信消息</a>
            <a class="btn" href="javascript:;" id="weixin_duanxin" name="weixin_duanxin" onclick="weixin_duanxin()">微信和短信消息</a>
            <a class="btn" href="javascript:;" id="qvxiao" name="qvxiao" onclick="qvxiao()">取消</a>
        </div>

    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var selectedIndex = 0;
    var isAll = '1';
    $().ready(function () {
        loadHy(selectNode);
        $('#timeCounter').text('60');
        setInterval(function () {
            let tc = parseInt($('#timeCounter').text());
            if (--tc < 0) {
                $('#timeCounter').text('60');
            } else {
                $('#timeCounter').text(tc);
                if (tc == '0') {
                    loadHy(selectNode);
                }
            }
        }, 1000);
    });
    var openHighway = function (opentype) {
        isdel = opentype;
        layer.open({
            type: 2,
            title: "选择公路",
            area: ['300px', '450px'],
            content: "/system/highway/treeView"
        })
    }

    function setIsAll(a) {
        isAll = a;
        loadHy(selectNode);
    }

    /**取消***/
    function qvxiao() {
        $("#manualCorrectionConfirm").hide();
    }

    var selectNode = {};

    function loadHy(node) {
        $('#epSelect').empty();
        selectNode = node;
        let hwId = 1;
        if(node){
            hwId = node.parent;
        }
        if (hwId == -1) {
            hwId = node.id;
        }
        if (!hwId) {
            hwId = 1;
        }
        var name = node.text;
        //$("#hwId").val(hwId);
        //$("#name").val(name);
        $("#highWay").val(name);
        $("#highWay").text(name);
        $("#epSelect").empty();
        if (isAll == '1') {
            $.ajax({
                type: 'post',
                data: {hwId: hwId},
                dataType: 'json',
                // async: false,
                url: '/fog/fogTrack/getEquipmentsByHwIdNormal',
                success: function (data) {
                    if (data.length == 0) {
                        return;
                    }
                    $('#epSelect').change(function (event) {
                        selectedLocationFunc($('#epSelect').val()[0]);
                        selectedIndex = $("#epSelect").get(0).selectedIndex;
                    });
                    data.forEach(function (dd_, ii_, aa_) {
                        $("#epSelect").append($("<option value='" + dd_.epId + "' selected='false'>" + dd_.equName + "</option>"));
                    });
                    if (selectedIndex == 0) {
                        selectedLocationFunc(data[0].epId);
                    }
                    $("#epSelect").get(0).selectedIndex = selectedIndex;
                }
            });
        } else {
            $.ajax({
                type: "GET",
                url: "/system/alarm/getConfirmList",
                dataType: 'json',
                success: function (data) {
                    if (data.length == 0) {
                        return;
                    }
                    $('#epSelect').change(function (event) {
                        selectedLocationFunc($('#epSelect').val()[0]);
                        selectedIndex = $("#epSelect").get(0).selectedIndex;
                    });
                    data.forEach(function (dd_, ii_, aa_) {
                        $("#epSelect").append($("<option value='" + dd_.epId + "' selected='false'>" + dd_.equName + "</option>"));
                    });
                    if (selectedIndex == 0) {
                        selectedLocationFunc(data[0].epId);
                    }
                    $("#epSelect").get(0).selectedIndex = selectedIndex;
                }
            });
        }


    }

    function selectedLocationFunc(epId) {
        if (!epId) {
            return;
        }
        try {
            $.ajax({
                type: 'get', data: {epId: epId}, dataType: 'json', url: '/system/alarm/getAlarmByEpId',
                success: function (data) {
                    //$("#epId").val(data.alarm.epId);
                    //$("#address").val(data.alarm.address);
                    SetFromValues($("#signupForm"), data.alarm);
                    $("#ts-equName").text(data.alarm.address);
                    var imgpath = data.alarm.imgpath;
                    $("#img1").attr("src", imgpath);
                }
            });
        } catch (e) {
            console.log(e);
        }

    }

    function changeSelect(Index) {
        selectedIndex = selectedIndex + Index;
        if (selectedIndex < 0) {
            selectedIndex = 0;
            return;
        }
        if (selectedIndex == $("#epSelect").get(0).length) {
            selectedIndex = $("#epSelect").get(0).length - 1;
            return;
        }


        $("#epSelect").get(0).selectedIndex = selectedIndex;
        selectedLocationFunc($('#epSelect').val()[0]);
    }

    /**提交*/
    function primaryClick() {
        var postdata = {};
        postdata.epId = $("#epId").val();
        postdata.distance = $("#distance").val();

        $.ajax({
            type: "POST",
            url: "/system/alarm/checkAlarmRoad",
            data: postdata,
            error: function (request) {
                $.toast("网络异常", "cancel");
            },
            success: function (data) {
                if (data.code == 0) {
                    //弹出再次确认框
                    if (data.msg == "解除") {
                        $("#levelName").text(data.msg + "告警");
                        $("#alarmText").text("【解除管制建议】江苏东部高速" + $("#ts-equName").text()
                            + "当前能见度(道路可视距离)分布最低值回升至" + $("#distance").val() + "米，持续大于 200 米10分钟，依据苏公通[2009]98 号文件规范达到解除三级管制值。");
                    } else if (data.msg == "三") {
                        $("#levelName").text(data.msg + "级告警");
                        $("#alarmText").text("【公路低能见度实时预警】江苏东部高速" + $("#ts-equName").text()
                            + "发生強浓雾，当前能见度(道路可视距离)分布最低值下降至" + $("#distance").val()
                            + "米，持续小于200米10分钟，依据苏公通[2009]98 号文件规范达到三级管制值，提醒前往司机谨慎驾驶！");
                    } else if (data.msg == "二") {
                        $("#levelName").text(data.msg + "级告警");
                        $("#alarmText").text("【公路低能见度实时预警】江苏东部高速" + $("#ts-equName").text()
                            + "发生強浓雾，当前能见度(道路可视距离)分布最低值下降至" + $("#distance").val()
                            + "米，持续小于100米10分钟，依据苏公通[2009]98 号文件规范达到二级管制值，提醒前往司机减速驾驶！");
                    } else if (data.msg == "一") {
                        $("#levelName").text(data.msg + "级告警");
                        $("#alarmText").text("【特強浓雾预警】江苏东部高速" + $("#ts-equName").text()
                            + "发生特強浓雾，当前能见度(道路可视距离)分布最低值下降至" + $("#distance").val()
                            + "米，持续小于50米10分钟，依据苏公通[2009]98 号文件规范达到一级管制值！");
                    } else if (data.msg == "特") {
                        $("#levelName").text(data.msg + "级告警");
                        $("#alarmText").text("【特级管制值预警】江苏东部高速" + $("#ts-equName").text()
                            + "发生特強浓雾，当前能见度(道路可视距离)分布最低值下降至" + $("#distance").val() + "米，持续小于30米10分钟，依据苏公通[2009]98 号文件规范达到特级管制值。");
                    }
                    $("#manualCorrectionConfirm").show();

                } else {
                    send(0, "");

                }

            }
        });
    }

    function getLevel(distance) {
        var level = '';
        if (distance <= 200) {
            level = "三";
        }
        if (distance <= 100) {
            level = "二";
        }
        if (distance <= 50) {
            level = "一";
        }
        if (distance <= 30) {
            level = "特";
        }
        return level;
    }

    function getfogLevel(distance) {
        var fogLevel = '';
        if (distance <= 200) {
            fogLevel = "大雾";
        }
        if (distance <= 100) {
            fogLevel = "浓雾";
        }
        if (distance <= 50) {
            fogLevel = "特浓雾";
        }
        if (distance <= 30) {
            fogLevel = "特大浓雾";
        }
        return fogLevel;
    }

    /**发送微信消息***/
    function weixin() {
        send(0, "");

    }

    /**发送微信+短信消息****/
    function weixin_duanxin() {
        //send(1,"13961390789,13605136679,13812439099,15861239996,15861237119,18795552729,13775590699,18861306898,13505132588,15861237512,15861237267,15861236972,15861238566,13605138222,15861237339,15061360902,15950715388,15861236889,15861237368,15861287700,15751206000,13905139382,13812330058,15996496542,13814028556,13813985212,18626453870,17625925627,18096493329");
        // send(1, "18096493329");
        send(0, "");
    }

    function send(sendsms, phones) {
        var postdata = {};

        postdata.epId = $("#epId").val();
        postdata.distance = $("#distance").val();
        postdata.iseffective = 1;
        postdata.imgtime = $("#imgtime").val();
        postdata.imgpath = $("#imgpath").val();

        postdata.sendsms = sendsms;
        postdata.phones = phones;
        postdata.openid = $("#openid").val();
        $.ajax({
            type: "POST",
            url: "/system/alarm/confirm",
            data: postdata,
            error: function (request) {
                alert("网络异常");
            },
            success: function (data) {
                if (data.code == 0) {
                    alert("发送成功");
                    qvxiao();
                    if (isAll == '1') {
                        changeSelect(1);
                    } else {
                        loadHy(selectNode);
                    }

                } else {
                    alert("发送失败");
                }
            }
        });
    }

    // 调用方式： $("xxx").setform(json);
    // $("标签x").setform(json数据); 给标签x内文本框自动赋值json数据
    //$("#div").setform(${jsondata}); json格式 : {"name":"1","sax":"2","checkbox":"1,2,3"}
    function SetFromValues(el, data) {
        for (var p in data) {
            el.find(":input[name='" + p + "']").val(data[p]);
        }
    }
    /**
     * 一键复制
     * @param  {String} id [需要粘贴的内容]
     * @param  {String} attr [需要 copy 的属性，默认是 innerText，主要用途例如赋值 a 标签上的 href 链接]
     *
     * range + selection
     *
     * 1.创建一个 range
     * 2.把内容放入 range
     * 3.把 range 放入 selection
     *
     * 注意：参数 attr 不能是自定义属性
     * 注意：对于 user-select: none 的元素无效
     * 注意：当 id 为 false 且 attr 不会空，会直接复制 attr 的内容
     */
    function copy (id, attr) {
        let target = null;

        if (attr) {
            target = document.createElement('div');
            target.id = 'tempTarget';
            target.style.opacity = '0';
            if (id) {
                let curNode = document.querySelector('#' + id);
                target.innerText = curNode[attr];
            } else {
                target.innerText = attr;
            }
            document.body.appendChild(target);
        } else {
            target = document.querySelector('#' + id);
        }

        try {
            let range = document.createRange();
            range.selectNode(target);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            alert('复制成功')
        } catch (e) {
            alert('复制失败')
        }

        if (attr) {
            // remove temp target
            target.parentElement.removeChild(target);
        }
    }
</script>
</body>
</html>
