<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
    .form-group {
        margin-bottom: 0px;
    }

    input {
        border: none;
        background: none;
        width: 135px;
    }

    .control-label {
        text-align: left !important;
    }

    .form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
        margin-right: 46px;
        padding-left: 0px;
    }
    .detail-div{
        padding-left: 15px;height: 33px;line-height: 80px;
        font-size: 15px;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content " style="padding-bottom: 0px;">
    <div class="row">
        <div class="col-sm-5">
            <div class="detail-div">
                <label class="control-label">所属路段：</label>
                <input id="hwName" name="hwName" th:value="${alarm.hwName}" class="" readonly style="">

            </div>
            <div class="detail-div">
                <label class="control-label">摄像头名称：</label>
                <input id="equName" name="equName" th:value="${alarm.equName}" class="" readonly="readonly"
                       style="">
            </div>
            <div class="detail-div">
                <label class="control-label">开始时间：</label>
                <input id="begintime" name="begintime"
                       th:value="${#dates.format(alarm.begintime, 'yyyy-MM-dd HH:mm:ss')}" class="" readonly="readonly"
                       style="">
            </div>
            <div class="detail-div">
                <label class="control-label">消散时间：</label>
                <input name="endtime" id="endtime" th:value="${#dates.format(alarm.endtime, 'yyyy-MM-dd HH:mm:ss')}"
                       class="" readonly="readonly" style="">
            </div>
            <div class="detail-div">
                <label class="control-label">可见距离：</label>
                <input id="distance" name="distance" th:value="${alarm.distance}" class="" readonly="readonly"
                       style="">
            </div>
        </div>

        <div class="col-sm-7">

            <input id="order" th:value="${order}" type="hidden">
            <input id="alarm_id" name="alarmId" th:value="${alarm.alarmId}" type="hidden">
            <input id="fname" name="fname" type="hidden" th:value="${fname}"/>
            <input id="dateStr" name="dateStr" type="hidden" th:value="${dateStr}"/>
            <input id="imgtime" name="imgtime" type="hidden" th:value="${alarm.imgtime}"/>
            <input id="oldLevel" name="oldLevel" type="hidden" th:value="${oldLevel}"/>
            <input id="level" name="level" type="hidden" th:value="${alarm.level}"/>
            <input id="fogType" name="fogType" type="hidden" th:value="${alarm.fogType}"/>
            <input id="imgpath" name="fogType" type="hidden" th:value="${alarm.imgpath}"/>
            <!-- <input name="alarmtype" id="alarmtype" class="" readonly="readonly"  type="hidden"> -->
            <div class="form-group">
                <div class="col-sm-12 ">
                    <img id='img1' alt="" onerror="this.src='/img/defalt.jpg;this.onerror=null'"
                         style="width: 100%;height: auto;">
                </div>
            </div>
        </div>


    </div>

</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/lkdtWX/js/appjs/fog/alarm/confirm.js"></script>
</body>
</html>
