<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!-- iphone会把一串数字识别为电话号码，点击的时候会提示是否呼叫，屏蔽这功能则把telephone设置为no -->
    <meta content="telephone=no" name="format-detection" />
    <!-- iphone的私有标签，默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明） -->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!-- iphone设备的是有标签 允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!-- 全屏显示 -->
    <meta content="yes" name="apple-touch-fullscreen" />
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- 屏蔽百度转码 -->
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>告警确认</title>
    <!-- 引入 WeUI -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <style>
        a{text-decoration: none;}
        a:hover{text-decoration: none;}
        html{
        	background: #eaeaea;
        }
        .hd_line{
        	background: #eaeaea;
       	    margin-top: 0;
    		line-height: 30px;
        }
    </style>
</head>
<body>
	 <div class="weui-gallery" id="gallery">
            <img class="weui-gallery__img" id="galleryImg"></img>
        </div>
	<div class="weui-form">
        <form class="" action="#" id="signupForm">
	        <input id="order"  th:value="${order}"  type="hidden">
			<input id="alarm_id" name="alarmId" th:value="${alarm.alarmId}"  type="hidden">
			<input id="fname" name="fname" type="hidden" th:value="${fname}" />
			<input id="dateStr" name="dateStr" type="hidden" th:value="${dateStr}" />
			<input id="imgtime" name="imgtime" type="hidden" th:value="${#dates.format(alarm.imgtime, 'yyyy-MM-dd HH:mm:ss')}" />
			<input id="epId" name="epId" type="hidden" th:value="${alarm.epId}" />
			<input id="oldLevel" name="oldLevel" type="hidden" th:value="${oldLevel}" />
			<input id="level" name="level" type="hidden" th:value="${alarm.level}" />
			<input id="imgpath" name="imgpath" type="hidden" th:value="${alarm.imgpath}" />
			<input id="iseffective" name="alarmiseffective" type="hidden" th:value="${alarm.iseffective}" />
			<input id="state" name="state" type="hidden" th:value="${state}" />
			<div class="weui-cells weui-cells_form">
	          <div class="weui-cell weui-cell_readonly">
	            <div class="weui-cell__hd"><label class="weui-label">告警摄像头：</label></div>
	            <div class="weui-cell__bd">
	                <input class="weui-input" id="equName" name="equName" th:value="${alarm.equName}" readonly/>
	            </div>
	          </div>
	          <div class="weui-cell weui-cell_readonly">
	            <div class="weui-cell__hd"><label class="weui-label">地址：</label></div>
	            <div class="weui-cell__bd">
	                <input class="weui-input" id="address" name="address" th:value="${alarm.address}" readonly/>
	            </div>
	          </div>
	          <div class="weui-cell weui-cell_readonly">
	            <div class="weui-cell__hd"><label class="weui-label">开始时间：</label></div>
	            <div class="weui-cell__bd">
	                <input class="weui-input" id="begintime" name="begintime" th:value="${#dates.format(alarm.begintime, 'yyyy-MM-dd HH:mm:ss')}"/>
	            </div>
	          </div>
	          <div class="weui-cell weui-cell_readonly">
	            <div class="weui-cell__hd"><label class="weui-label">消散时间：</label></div>
	            <div class="weui-cell__bd">
	                <input class="weui-input" name="endtime" id="endtime" th:value="${#dates.format(alarm.endtime, 'yyyy-MM-dd HH:mm:ss')}"/>
	            </div>
	          </div>
	          <div class="weui-cell weui-cell_readonly">
	            <!-- <div class="weui-cell__hd"><label class="weui-label">告警图片</label></div> -->
	            <div class="weui-cell__bd">
	                <img class='weui-jiaj-img' id='img1' alt="" onerror="this.src='/img/defalt.jpg;this.onerror=null'" onclick="imgclick()" style="width: 100%;height: 200px;"/>
	            </div>
	          </div>
	          <div class="weui-cell weui-cell_switch">
			    <div class="weui-cell__bd">摄像头异常</div>
			    <div class="weui-cell__ft">
			      <input class="weui-switch" id="button1" type="checkbox">
			    </div>
			  </div>
	          <div class="weui-cells weui-cells_radio">
	          	<div class="weui-cell__hd hd_line"><label class="weui-label">通知类型</label></div>
	            <label class="weui-cell weui-check__label" for="x11" id="gj">
	                <div class="weui-cell__bd">
	                    <p>告警</p>
	                </div>
	                <div class="weui-cell__ft">
	                    <input type="radio" class="weui-check" name="alarmtype" value="1" onclick="distancechange()" id="x11"/>
	                    <span class="weui-icon-checked"></span>
	                </div>
	            </label>
	            <label class="weui-cell weui-check__label" for="x13" id="jc">
	
	                <div class="weui-cell__bd">
	                    <p>解除</p>
	                </div>
	                <div class="weui-cell__ft">
	                    <input type="radio" class="weui-check" name="alarmtype" value="4" onclick="distancechange()" id="x13"/>
	                    <span class="weui-icon-checked"></span>
	                </div>
	            </label>
	        </div>
	        <div class="weui-cell" id="js_cell">
	            <div class="weui-cell__hd"><label class="weui-label">可见距离</label></div>
		            <div class="weui-cell__bd">
		                <input class="weui-input" autofocus type="number" pattern="[0-9]*" placeholder="请输入可见距离" id="distance" name="distance" th:value="${alarm.distance}" onchange="distancechange()"/>
		                </button>
		            </div>
	          </div>
	        </div>
	        <div class="weui-cell weui-cell_switch" style="    background-color: #fff;">
			    <div class="weui-cell__bd">发送短信</div>
			    <div class="weui-cell__ft">
			      <input class="weui-switch" id="button2" type="checkbox">
			    </div>
			  </div>
				<div class="weui-cells weui-cells_form" id="sms">
				<div class="weui-cell__hd hd_line"><label class="weui-label">手机号码</label></div>
				  <div class="weui-cell">
				    <div class="weui-cell__bd">
				      <textarea class="weui-textarea" id="phones" name="phones" style="    background: #efefef;"  placeholder="请输入文本" rows="3"></textarea>
				    </div>
				  </div>
				</div>
            
        </form>
        
        <a href="javascript:;" class="weui-btn weui-btn_primary" onclick="primaryClick()" id="submit">点击提交</a>
        <!-- <div class="weui-form">
		    <div class="weui-form__control-area">
		      <div class="weui-cells__group weui-cells__group_form">
		        <div class="weui-cells__title">通知文本</div>
		        <div class="weui-cells weui-cells_form">
		            <div class="weui-cell">
		                <div class="weui-cell__bd">
		                    <textarea class="weui-textarea" id="smtext" name="smtext" rows="3"></textarea>
		                </div>
		            </div>
		        </div>
		      </div>
		    </div>
	  </div> -->
	</div>
    <!-- 引入 WeJS -->
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script>
    
	    var iseffect=1;
	    var imgpath='';
	    var state=0;
	    var sendsms=0;
        //返回
        function bindBack(){
            window.close();
        }

        /**提交*/
        function primaryClick(){
        	$("#submit").attr("onclick","");
            //参数
            var data=$('#signupForm').serializeArray();
            var postdata = {};
            $.each(data, function () {
            	postdata[this.name] = this.value;
            });
           	if(postdata.alarmtype!=4){
           		if(postdata.distance>=200){
           			$.toast("有效时告警值不能大于200", "forbidden");
           			$("#submit").attr("onclick","primaryClick()");
           			return;
           		}
           	}else if(postdata.distance<200){
       			$.toast("有效时解除值不能小于200", "forbidden");
       			$("#submit").attr("onclick","primaryClick()");
       			return;
       		}
            postdata.sendsms=sendsms;
            postdata.iseffective=1;
            $.ajax({
        		type : "POST",
        		url : "/system/alarm/confirmMonual",
        		data : postdata,
        		error : function(request) {
        			 $.toast("网络异常", "cancel");
        		},
        		success : function(data) {
        			if (data.code == 0) {
        				 $.alert("发送成功", function() {
             				  //点击确认后的回调函数
                           	$("#submit").attr("onclick","");
                       		$("#submit").text("已确认");
                               window.close();
             				});
        				

        			} else {
        				$.toast("发送失败", "cancel");
        			}

        		}
        	});
        }

        $().ready(function() {
        	if($("#state").val()!='0'){
        		$.alert("异常摄像头", function() {
   				  //点击确认后的回调函数
        			window.close();
   				});
        		return;
        	}
        	$("#button1").bind("click", function () {
              	if(state==0){
            	  	$.actions({
            	  		title:"请选择异常类型",
            	  	  	actions: [{
	            	  	    text: "画面模糊",
	            	  	    onClick: function() {
	            	  	    	state=3;
	            	  	    	update(state);
	            	  	    }
            	  	  	},{
	            	  	    text: "信号异常",
	            	  	    onClick: function() {
	            	  	    	state=4;
	            	  	    	update(state);
	            	  	    }
            	  	  	},{
	            	  	    text: "摄像头污损、遮盖",
	            	  	    onClick: function() {
	            	  	    	state=5;
	            	  	    	update(state);
	            	  	    }
            	  	  	},{
	            	  	    text: "位置偏移",
	            	  	    onClick: function() {
	            	  	    	state=7;
	            	  	    	update(state);
	            	  	    }
            	  	  	},{
	            	  	    text: "夜间不合规",
	            	  	    onClick: function() {
	            	  	    	state=8;
	            	  	    	update(state);
	            	  	    }
            	  	  	},{
	            	  	    text: "其它",
	            	  	    onClick: function() {
	            	  	    	state=6;
	            	  	    	update(state);
	            	  	    }
            	  	  	}]
            	  	});

              	}else{
            	  	state=0;
            	  	update(state);
              	}
              	
          	});
        	$("#sms").hide();
        	$("#button2").bind("click", function () {
              	if(sendsms==0){
              		sendsms=1;
              		$("#sms").show();
              		//$("#phones").val("15996496542,18626453870,17625925627,13814028556,13813985212,18220173465,18521949238,13817291078,15806225790,18912549939,15121038801,18616521157,13851265116,13705135776,13951610633,13675200011,13505189880,13913990568,13626210599,18305118688"
              		//		+",15805100099,13485240666,13921800707,13515131015,18261249585,13851186151,13815586627,15005113636,15861930588");
              		$("#phones").val("13961390789,13605136679,13812439099,15861239996,15861237119,18795552729,13775590699,18861306898,13505132588,15861237512,"+
              				"15861237267,15861236972,15861238566,13605138222,15861237339,15061360902,15950715388,15861236889,15861237368,15861287700,15751206000,13905139382,13812330058,15996496542,13814028556,13813985212,18626453870,17625925627,18096493329");
              	}else{
              		sendsms=0;
              		$("#sms").hide();
              		$("#phones").val("");
              	}
              	
          	});
        	if($("#alarm_id").val()){
        		$("#gj").hide();
        		$("#endtime").val(new Date().Format("yyyy-MM-dd HH:mm:ss"));
        		document.getElementsByName('alarmtype')[1].setAttribute("checked","checked");
        	}else{
        		$("#jc").hide();
        		$("#begintime").val(new Date().Format("yyyy-MM-dd HH:mm:ss"));
        		document.getElementsByName('alarmtype')[0].setAttribute("checked","checked");
        	}
        	document.getElementById("distance").select();
        	//var fname=$("#fname").val();
        	//$("#imgpath").val($("#fname").val());
        	imgpath = $("#fname").val();
        	$("#img1").attr("src",imgpath);
        	$("#galleryImg").attr("src",imgpath);
        	var address=$("#address").val();
        	var distance=$("#distance").val();
        	var equName=$("#equName").val();
        	var iseffective=$("#iseffective").val();
        	var oldLevel=$("#oldLevel").val();
        	var level=$("#level").val();
        	// 1:发生告警  2：告警等级增加  3：告警等级减少    4：告警解除
        		
        	//th:src="@{{path}(path=${alarm.imgpath})}"
        });
        
        function update(state){
        	$.ajax({
    			url : "/system/equipment/update",
    			type : "post",
    			data : {
    				'epId' : $("#epId").val(),
    				'state':state
    			},
    			success : function(r) {
    				if (r.code==0) {
    					if(state==0){
    						$.alert("已取消异常摄像头");
    					}else{
    						$.alert("已设为异常摄像头", function() {
    			   				  //点击确认后的回调函数
   			                     window.close();
   			   				});
    					}
    					
    				}
    			}
    		});
        	
        }
        function distancechange(){
        	/* var address=$("#address").val();
        	var distance=$("#distance").val();
        	var equName=$("#equName").val();
        	if(distance>200){
        		$("#alarmtypetext").val("告警解除");
        		document.getElementsByName('alarmtype')[2].setAttribute("checked","checked");
//        		$("#alarmtype").val(4);
        	}else{
        		document.getElementsByName('alarmtype')[1].setAttribute("checked","");
        	} */
        }
        function getLevel(distance){
        	var level='';
        	if(distance<=200){
        		level= "三";
        	}
        	if(distance<=100){
        		level= "二";
        	}
        	if(distance<=50){
        		level= "一";
        	}
        	if(distance<=30){
        		level= "特";
        	}
        	return level;
        }
        function getfogLevel(distance){
        	var fogLevel='';
        	if(distance<=200){
        		fogLevel= "大雾";
        	}
        	if(distance<=100){
        		fogLevel= "浓雾";
        	}
        	if(distance<=50){
        		fogLevel= "特浓雾";
        	}
        	if(distance<=30){
        		fogLevel= "特大浓雾";
        	}
        	return fogLevel;
        }
        
        function imgclick(){
       	 	$gallery = $("#gallery");
       	 	$gallery.fadeIn(100);
       	 	$gallery.on("click", function(){
                   $gallery.fadeOut(100);
               });
       	  // $('.weui-gallery__del').remove();
       	}
        Date.prototype.Format = function (fmt) { //author: meizz   
            var o = {  
                "M+": this.getMonth() + 1, //月份   
                "d+": this.getDate(), //日   
                "H+": this.getHours(), //小时   
                "m+": this.getMinutes(), //分   
                "s+": this.getSeconds(), //秒   
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
                "S": this.getMilliseconds() //毫秒   
            };  
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));  
            for (var k in o)  
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));  
            return fmt;  
        }  


    </script>
</body>
</html>