<!DOCTYPE html>
<html>

<meta charset="utf-8">
<head th:include="include :: header"></head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">

		<div class="row">
			<div class="col-sm-12">

				<div class="ibox-content">
					<div id="highWayTree"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-12 col-sm-offset-12">
						<button id="submit"  class="btn btn-primary">提交</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>


	<script type="text/javascript">
		$(document).ready(function() {
			getTreeData()
		});
		function getTreeData() {
			$.ajax({
				type : "GET",
				url : "/system/highway/tree",
				success : function(tree) {
					loadTree(tree);
				}
			});
		}
		function loadTree(tree) {
			$('#highWayTree').jstree({
				'core' : {
					'data' : tree
				},
				"plugins" : [ "wholerow", "checkbox" ]
			});
			$('#highWayTree').jstree().open_all();
			
			
			
		}
		
		$('#submit').click(function(){
			getAllSelectNodes() ;
		});
		
		function getAllSelectNodes() {
			let nodeIds = "";
			let nodeNames = "";
			let ref = $('#highWayTree').jstree(true); // 获得整个树
			//menuIds = ref.get_selected(); // 获得所有选中节点的，返回值为数组
			//$("#highWayTree").find(".jstree-undetermined").each(function(i, element) {
			//	menuIds.push($(element).closest('.jstree-node').attr("id"));
			//});
			menuIds = ref.get_bottom_selected(true);	//获取底层的被选中节点,若为true则返回节点对象全部数据，否则只返回节点 ID 列表
			for(let i = 0 ; i < menuIds.length ; i++){
				nodeIds += menuIds[i].id;
				nodeNames += menuIds[i].text;
				if(i < menuIds.length -1){
					nodeIds += ",";
					nodeNames += ",";
				}
			}
			
			parent.loadHy(nodeIds,nodeNames);
			var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
			parent.layer.close(index);
			
		}
		
	</script>
</body>

</html>
