<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<!-- <div class="form-group">	
								<label class="col-sm-3 control-label">所属服务区：</label>
								<div class="col-sm-8">
									<input id="areaCode" name="areaCode" class="form-control" type="text">
									<input id="areaCode" name="areaCode" class="hidden" th:value="${serviceAreaCamera.areaCode}"> <input
										id="serviceareaName" name="serviceareaName" class="form-control" type="text"
										style="cursor: pointer;" onclick="openArea()" th:value="${serviceAreaCamera.serviceareaName}"
										readonly="readonly" placeholder="所属服务区">
								</div>
							</div> -->
							<div class="form-group">	
								<label class="col-sm-3 control-label">摄像头编号：</label>
								<div class="col-sm-8">
									<input id="cameraId" name="cameraId" th:value="${serviceAreaCamera.cameraId}" class="form-control" readonly="readonly" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">摄像头名称：</label>
								<div class="col-sm-8">
									<input id="cameraName" name="cameraName" th:value="${serviceAreaCamera.cameraName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">图片地址：</label>
								<div class="col-sm-8">
									<input id="imgUrl" name="imgUrl" th:value="${serviceAreaCamera.imgUrl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">视频地址：</label>
								<div class="col-sm-8">
									<input id="videoUrl" name="videoUrl" th:value="${serviceAreaCamera.videoUrl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所属区域：</label>
								<div class="col-sm-8">
									<input id="areaName" name="areaName" th:value="${serviceAreaCamera.areaName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">停车位范围：</label>
								<div class="col-sm-8">
									<input id="parkingRange" name="parkingRange" th:value="${serviceAreaCamera.parkingRange}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">停车位类型：</label>
								<div class="col-sm-8">
									<input id="parkingType" name="parkingType" th:value="${serviceAreaCamera.parkingType}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/lkdtWX/js/appjs/ppv/serviceAreaCamera/edit.js">
	</script>
</body>
</html>
