<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="system:alarmRoad:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="system:alarmRoad:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div id="searchTree"></div> 
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
							<button class="btn btn-success" onclick="exportExcel()">导出</button>
						</div>
						<div class="columns pull-left nopadding">
							<table>
								<tr>
									<td>开始时间：</td>
									<td><input id="startTime" type="text" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss"></td>
									<td>结束时间：</td>
									<td><input id="endTime" type="text" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss"></td>
									<td>所属公路：</td>
									<td>
										<input id="hwIds" name="hwIds" class="hidden">
										<input id="hwNames" name="hwNames" class="form-control" type="text"
									style="cursor: pointer;width: 300px;" onclick="openHighway()"
									readonly="readonly" placeholder="所属公路">
									</td>
								</tr>
							</table>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/lkdtWX/js/appjs/system/alarmRoad/alarmRoad.js"></script>
	
</body>
</html>