<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
    .gray-bg {
        background: url(/fog/beijing.jpg);
        background-size: 100% 155%;
        padding: 80px 50px 80px 50px;
    }
</style>
<body class="gray-bg" >
    <input id="roadAlarmId" th:value="${alarmRoad.roadAlarmId}" hidden>
    <a class="btn btn-primary btn-lg" style="background-color: #ff2601" href="#" title="告警类型" onclick="submitHandler(1)">雾</a>
    <a class="btn btn-primary btn-lg" style="background-color: #ff8004" href="#" title="告警类型" onclick="submitHandler(2)">团雾</a>
    <a class="btn btn-primary btn-lg" style="background-color: #caa5ff" href="#" title="告警类型" onclick="submitHandler(3)">雨</a>
    <a class="btn btn-primary btn-lg" style="background-color: #2e7bff" href="#" title="告警类型" onclick="submitHandler(4)">雪</a>
    <a class="btn btn-primary btn-lg" style="background-color: #ffcd05" href="#" title="告警类型" onclick="submitHandler(5)">霾</a>
    <a class="btn btn-primary btn-lg" style="background-color: grey" href="#" title="告警类型" onclick="submitHandler(0)">无</a>

    <div th:include="include::footer"></div>
    <script type="text/javascript">
        function submitHandler(type){
            $.ajax({
                type: "post",
                data: {roadAlarmId: $("#roadAlarmId").val(), roadAlarmType: type},
                url: "/fog/alarmRoad/updateRoadAlarmType",
                success: function(res){
                    if(res.code === 0){
                        //当你在iframe页面关闭自身时
                        let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                        parent.$('#exampleTable').bootstrapTable('refresh');
                    } else {
                        layer.msg("服务异常")
                    }

                },
                error: function(err){
                    layer.msg("网络服务异常")
                }

            });
        }
    </script>
</body>
</html>