<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="system/user/include :: header">
</head>
<head>
<style type="text/css">
.guicss{
display: none;
}
</style>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-6" id="video">
				<!-- <img alt="" src="/fog/ceshi.png" style="width: 100%">  -->
				<div class="ggcontainer" id="crop-avatar">
                            <form class="avatar-form" action="/fog/vef/uploadImg" enctype="multipart/form-data" method="post">
                                <div class="avatar-body">
                                     <div class="avatar-upload">
                                        <input class="avatar-src" name="avatar_src" type="hidden">
                                        <input class="avatar-data" name="avatar_data" type="hidden" th:value="${camera.equName}+'-n'">
                                        <label for="avatarInput">选取文件</label>
                                        <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                                    </div> 
                                    <!-- Crop and preview -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="avatar-wrapper"></div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-md-7">
                                            <div class="btn-group avatar-btns">
                                                <button class="btn btn-primary" data-method="submit" data-option="submit" id="submitBtn" style="display: none">submit</button>
                                                <button class="btn btn-primary" data-method="getHeight" data-option="ymaxn" type="button" style="margin: 0px 2px">Ymax</button>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-5 guicss" style="margin-top: 30px; margin-bottom: 15px;">
                                            <button class="btn btn-primary" style="margin: 0px 2px" onclick="pianli()" type="button" >中心光轴</button>
                                            <button class="btn btn-warning" style="margin: 0px 2px" id="cosBtn" type="button" >cosβ</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Loading state -->
                            <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                        </div>
				
			</div>
			<div class="col-sm-6">
				<div class="ibox float-e-margins">
					
					<div class="ibox-content">
						<div style="text-align: center;margin-bottom: 10px;">
							<label class="" style="font-size: 19px;" th:text="${camera.equName}"></label><label style="font-size: 19px;" >夜晚建模</label>
						</div>
						<form class="form-horizontal m-t" id="f1" name="f1" action="" method ="post">
							<input id="epId" name="epId" th:value="${camera.epId}"  type="hidden">
							<input id="userId" name="userId" type="hidden">
							
							<div class="form-group guicss" >
								<label class="col-sm-3 control-label">y1：</label>
								<div class="col-sm-3">
									<input id="y1" name="y1" class="form-control" type="text" th:value="${verification?.y1}" value="1.6">
								</div>
								<label class="col-sm-3 control-label">y2：</label>
								<div class="col-sm-3">
									<input id="y2" name="y2" class="form-control" th:value="${verification?.y2}" value="4.1"
										type="text">
								</div>
							</div>
							<div class="form-group guicss" >
								<label class="col-sm-3 control-label">y3：</label>
								<div class="col-sm-3">
									<input id="y3" name="y3" class="form-control" th:value="${verification?.y3}" value="5.3"
										type="text">
								</div>
								<label class="col-sm-3 control-label">y4：</label>
								<div class="col-sm-3">
									<input id="y4" name="y4" class="form-control" th:value="${verification?.y4}" value="6.1"
										type="text">
								</div>
							</div>
								<div class="form-group guicss" >
								<label class="col-sm-3 control-label">y<sub>max</sub>：</label>
								<div class="col-sm-3">
									<input id="ymax" name="ymax" class="form-control" th:value="${verification?.ymax}" value="8"
										type="text">
									<input id="ymaxn" name="ymaxn" class="form-control" th:value="${verification?.ymaxn}" value="8"
										type="text">
									<input id="ymaxf" name="ymaxf" class="form-control" th:value="${verification?.ymaxf}" value="8"
										type="text">
								</div>
							</div>
							<div class="form-group guicss" >
								<label class="col-sm-3 control-label">摄像杆高度(m) H：</label>
								<div class="col-sm-3">
									<input id="H" name="H" class="form-control" th:value="${verification?.H}" value="6.5"
										type="text">
								</div> 
								
								<label class="col-sm-3 control-label">车道宽(m) X<sub>0</sub>：</label>
								<div class="col-sm-3">
									<input id="x0" name="x0" class="form-control" th:value="${verification?.x0}" value="3.75"
										type="text">
								</div>
							</div>
							<div class="form-group">
								
								<label class="col-sm-3 control-label">cosβ：</label>
								<div class="col-sm-3">
									<input id="cosB" name="cosB" class="form-control" th:value="${cosB}"  type="text">
								</div>
								
								<label class="col-sm-3 control-label">下视角tanθ:</label>
								<div class="col-sm-3">
									<input id="tanB" name="tanB" class="form-control" th:value="${tanB}"  type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-11 control-label" style="text-align: center;">拟合公式:     <span style="display: none">y = (a + Z) / (b + cZ)</span> Z = f(y)<button type="button" class="btn btn-primary" onclick="verificationBtn()">计算</button></label>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">计算结果</label>
								<div class="col-sm-8">
									
								</div>
							</div>
							<div class="form-group guicss" >
								<label class="col-sm-2 control-label">a=</label>
								<div class="col-sm-4">
									<input id="a" name="a" class="form-control"  th:value="${verification?.a}"
										type="text">
								</div>
								<label class="col-sm-2 control-label">b=</label>
								<div class="col-sm-4">
									<input id="b" name="b" class="form-control" th:value="${verification?.b}"
										type="text">
								</div>
							</div>
							<div class="form-group  guicss" >
								<label class="col-sm-2 control-label">c=</label>
								<div class="col-sm-4">
									<input id="c" name="c" class="form-control" th:value="${verification?.c}"
										type="text">
								</div>
							</div>
							<div class="form-group guicss">
								<label class="col-sm-2 control-label">Z<sub>0</sub>=</label>
								<div class="col-sm-4">
									<input id="z0" name="z0" class="form-control" 
										type="text">
								</div>
								
								<label class="col-sm-2 control-label">Z<sub>max</sub>=</label>
								<div class="col-sm-4">
									<input id="zmax" name="zmax" class="form-control"  th:value="${verification?.zmax}"
										type="text">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">夜晚可见距离(m)</label>
								<div class="col-sm-8">
									<input id="result" name="visibledist" class="form-control" th:value="${verification?.visibledist}"
										type="hidden">
									<input id="resultn" name="visibledistn" class="form-control" th:value="${verification?.visibledistn}"
										type="text">
									<input id="resultf" name="visibledistf" class="form-control" th:value="${verification?.visibledistf}"
										type="hidden">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript" src="/lkdtWX/js/jquery.min.js" ></script>
	<script type="text/javascript" src="/lkdtWX/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/lkdtWX/js/plugins/iCheck/icheck.min.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/plugins/cropper/cropper.min.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/plugins/layer/laydate/laydate.js" ></script>
	<script type="text/javascript" src="/lkdtWX/js/plugins/distpicker/distpicker.data.min.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/plugins/distpicker/distpicker.min.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/appjs/fog/verification/verification.js" ></script>
	<!--校验插件-->
	<!--summernote-->
	<script type="text/javascript">
	var mp4url='';
	function verificationBtn() {

		var H = parseFloat($("#H").val());
		var x0 = parseFloat($("#x0").val());
		var ymax = parseFloat($("#ymaxn").val());
		var nh = cv.getMaxHeight();
		ymax = ymax /nh * 480;
		var zmax = doVerification_day(ymax);
		
		$("#zmax").val(zmax);
		
		var cosB = parseFloat($("#cosB").val());
		var z0 = doVerification_day(0);
		$("#tanB").val(z0/H);
		
		var result = Math.sqrt(H*H + x0*x0 + (zmax*cosB)*(zmax*cosB));
		$("#resultn").val(result);
		$.ajax({
		       type: "post",
		       url: "/fog/vef/save",
		       data: $('#f1').serialize(),
		   }).success(function(message) {
		     $("#submitBtn").click();
		   }).fail(function(err){
		     
		   })
	}
	</script>
		<script type="text/javascript">
		
		/*this file is used for the bootdo project, it is a unique js file*/
		
		var imgurl='';
		var cv = null;
		$(function(){


			  function CropAvatar($element) {
			    this.$ggcontainer = $element;
			    this.$loading = this.$ggcontainer.find('.loading');
				
			    this.$avatarForm = this.$ggcontainer.find('.avatar-form');
			    this.$avatar = this.$avatarForm.find('img');
			    this.$avatarUpload = this.$avatarForm.find('.avatar-upload');
			    this.$avatarSrc = this.$avatarForm.find('.avatar-src');
			    this.$avatarData = this.$avatarForm.find('.avatar-data');
			    this.$avatarInput = this.$avatarForm.find('.avatar-input');
			    this.$avatarSave = this.$avatarForm.find('.avatar-save');
			    this.$avatarBtns = this.$avatarForm.find('.avatar-btns');
			    this.$cosB = $("#cosBtn");

			    this.$avatarWrapper = this.$avatarForm.find('.avatar-wrapper');

			    this.init();
			   
			  }

			  CropAvatar.prototype = {
			    constructor: CropAvatar,

			    support: {
			      fileList: !!$('<input type="file">').prop('files'),
			      blobURLs: !!window.URL && URL.createObjectURL,
			      formData: !!window.FormData
			    },

			    init: function () {
			      this.support.datauri = this.support.fileList && this.support.blobURLs;

			      if (!this.support.formData) {
			        this.initIframe();
			      }

			      this.addListener();
			      var qcamera;
			      var epid=$("#epId").val();
			      if('[[${fog.ip}]]'=='0.0.0.0'){
					   mp4url='/files/verification'+'[[${fog.rtsp}]]';
					   var myurl = '/files/verification/'+epid+'-n.png?'+(new Date()).getTime();
					   this.url=myurl;
					   imgurl=myurl;
					   this.startCropper();
				   }
			    },

			    addListener: function () {
			      this.$avatarInput.on('change', $.proxy(this.change, this));
			      this.$avatarForm.on('submit', $.proxy(this.submit, this));
			      this.$avatarBtns.on('click', $.proxy(this.getHeight, this));
			      this.$cosB.on('click', $.proxy(this.cosB, this));
			    },
			    
			    initPreview: function () {
			      var url = this.$avatar.attr('src');

			    },

			    initIframe: function () {
			      var target = 'upload-iframe-' + (new Date()).getTime(),
			          $iframe = $('<iframe>').attr({
			            name: target,
			            src: ''
			          }),
			          _this = this;

			      // Ready ifrmae
			      $iframe.one('load', function () {

			        // respond response
			        $iframe.on('load', function () {
			          var data;

			          try {
			            data = $(this).contents().find('body').text();
			          } catch (e) {
			          }

			          if (data) {
			            try {
			              data = $.parseJSON(data);
			            } catch (e) {
			            }

			            _this.submitDone(data);
			          } else {
			            _this.submitFail('Image upload failed!');
			          }

			          _this.submitEnd();

			        });
			      });

			      this.$iframe = $iframe;
			      this.$avatarForm.attr('target', target).after($iframe.hide());
			    },
			    
			    change: function () {
			      var files,
			          file;

			      if (this.support.datauri) {
			        files = this.$avatarInput.prop('files');

			        if (files.length > 0) {
			          file = files[0];

			          if (this.isImageFile(file)) {
			            if (this.url) {
			              URL.revokeObjectURL(this.url);// Revoke the old one
			            }

			            this.url = URL.createObjectURL(file);
			            imgurl= URL.createObjectURL(file);
			            this.startCropper();
			          }
			        }
			      } else {
			        file = this.$avatarInput.val();

			        if (this.isImageFile(file)) {
			          this.syncUpload();
			        }
			      }
			    },

			    submit: function () {
			      if (!this.$avatarSrc.val() && !this.$avatarInput.val()) {
			        return false;
			      }

			      if (this.support.formData) {
			        this.ajaxUpload();
			        return false;
			      }
			    },
			    getHeight: function(e) {
			    	   var data;
				      if (this.active) {
				        data = $(e.target).data();
				        var option = data.option;
				        var v = this.$img.cropper("getData");
				        if (option == 'x') {
				        	$("#"+option).val(v.width);
				        } else {
				        	$("#"+option).val(v.height);	
				        }
				        
				      }
			    	
			    },
			    
			    getMaxHeight: function() {
				      if (this.active) {
				        var v = this.$img.cropper("getImageData");
				        return v.naturalHeight;
				      }
			    },
			    cosB:function (e) {
			    	var data;
				      if (this.active) {
				        data = $(e.target).data();
				        var v = this.$img.cropper("getData");
				        var c = Math.sqrt(v.width*v.width + v.height*v.height);
				        var cos = v.height/c;
				        $("#cosB").val(cos);
				      }
				   return;
			    },
			    rotate: function (e) {
			      var data;

			      if (this.active) {
			        data = $(e.target).data();

			        if (data.method) {
			          this.$img.cropper(data.method, data.option);
			        }
			      }
			    },

			    isImageFile: function (file) {
			      if (file.type) {
			        return /^image\/\w+$/.test(file.type);
			      } else {
			        return /\.(jpg|jpeg|png|gif)$/.test(file);
			      }
			    },

			    startCropper: function () {
			      var _this = this;
			      if (this.active) {
			        this.$img.cropper('replace', this.url);
			      } else {
			        this.$img = $('<img src="' + this.url + '">');
			        this.$avatarWrapper.empty().html(this.$img);
			        this.$img.cropper({
			          aspectRatio: NaN,
			          strict: true,
			          crop: function (data) {
			              
			          }
			        });

			        this.active = true;
			      }
			    },

			    stopCropper: function () {
			      if (this.active) {
			        this.$img.cropper('destroy');
			        this.$img.remove();
			        this.active = false;
			      }
			    },

			    ajaxUpload: function () {
			      var url = this.$avatarForm.attr('action'),
			          data = new FormData(this.$avatarForm[0]),
			          _this = this;

			      $.ajax(url, {
			        type: 'post',
			        data: data,
			        dataType: 'json',
			        processData: false,
			        contentType: false,

			        beforeSend: function () {
			          _this.submitStart();
			        },

			        success: function (data) {
			          _this.submitDone(data);
			        },

			        error: function (XMLHttpRequest, textStatus, errorThrown) {
			          _this.submitFail(textStatus || errorThrown);
			        },

			        complete: function () {
			          _this.submitEnd();
			        }
			      });
			    },

			    syncUpload: function () {
			      this.$avatarSave.click();
			    },

			    submitStart: function () {
			      this.$loading.fadeIn();
			    },

			    submitDone: function (data) {

			      if ($.isPlainObject(data) && data.code === 0) {
			        if (data.url) {
			          this.url = data.url;

			          if (this.support.datauri || this.uploaded) {
			            this.uploaded = false;
			            this.cropDone();
			          } else {
			            this.uploaded = true;
			            this.$avatarSrc.val(this.url);
			            this.startCropper();
			          }

			          this.$avatarInput.val('');
			          this.alert(1,data.msg);
			        } else if (data.msg) {
			          this.alert(2,data.msg);
			        }
			      } else {
			        this.alert(2,'Failed to response');
			      }
			    },

			    submitFail: function (msg) {
			      this.alert(2,msg);
			    },

			    submitEnd: function () {
			      this.$loading.fadeOut();
			    },

			    cropDone: function () {
			      this.$avatarForm.get(0).reset();
			      this.$avatar.attr('src', this.url);
			      this.stopCropper();
			    },

			    alert: function (code,msg) {
			        var alertClass="";
			      if(code==1){
			        alertClass="alert-success";
			      }else if(code==2){
			          alertClass="alert-danger";
			      }
			      var $alert = [
			            '<div class="alert '+alertClass+' avater-alert">',
			              '<button type="button" class="close" data-dismiss="alert">&times;</button>',
			              msg,
			            '</div>'
			          ].join('');

			      this.$avatarUpload.after($alert);
			    }
			  };

			  $(function () {
			    // return new CropAvatar($('#crop-avatar'));
				  cv =  new CropAvatar($('#crop-avatar'));
			  });

			
		});
		/*头像裁剪*/


		function pianli() {
			layer.open({
				type : 2,
				title : '增加',
				maxmin : true,
				shadeClose : false, // 点击遮罩关闭层
				area : [ '800px', '520px' ],
				//content : '/fog/vef/offset?path='+$("#epId").val()+'.png'
				content : '/fog/vef/offset?path='+imgurl+"&epId="+$("#epId").val()
			});
		}
		
		function reLoad(pth) {
			$(".avatar-wrapper img").attr("src", pth);
		}

		</script>
</body>
</html>
