<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!-- iphone会把一串数字识别为电话号码，点击的时候会提示是否呼叫，屏蔽这功能则把telephone设置为no -->
    <meta content="telephone=no" name="format-detection" />
    <!-- iphone的私有标签，默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明） -->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!-- iphone设备的是有标签 允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!-- 全屏显示 -->
    <meta content="yes" name="apple-touch-fullscreen" />
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- 屏蔽百度转码 -->
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>智高速</title>
    <link rel="stylesheet" href="/lkdtWX/plugins/weui/jquery-weui/css/weui.min.css">
    <link rel="stylesheet" href="/lkdtWX/plugins/weui/jquery-weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/lkdtWX/plugins/weui/css/weuix.css"/>
    <style>
        ::-webkit-scrollbar{display: none;}
        .contacts-content{position: absolute;top: 0;bottom: 0;width: 100%;overflow: auto;background-color: #eee;}
        .contacts-content .weui-cells__title{margin-top: 0;margin-bottom: 0;font-weight: bold;}
        .contacts-content .weui-panel{margin-top: 0;margin-right: 20px;}
        .contacts-content .weui-panel .weui-media-box{padding: 10px 5px;}
        .contacts-content .weui-panel .weui-media-box .weui-media-box__hd{width: 40px;height: 40px;line-height: 40px;margin-left: .8em;}
        .contacts-content .weui-panel .weui-media-box .weui-media-box__hd img{width: 40px;height: 40px;border-radius: 50%;}
        .contacts-content .weui-panel .weui-media-box .weui-media-box__title {font-size: 14px;}
        .navbar{position: absolute;top: 0;bottom: 0;right: 0;width: 20px;overflow: hidden;display: flex;flex-direction: column;justify-content: space-around;color: #999;}
        .navbar.hover{box-shadow: 0 0 3px 0 #ccc;border-left: 1px solid #ddd;background: linear-gradient(to left, #f9f9f9,#f1f1f1);color: #666;}
        .navbar li{margin: 0 5px;text-align: center;font-size: 12px;line-height: normal;}
        .navbar li.selected{border-radius: 10px;background-color: #505050;color: #fff;font-weight: bold;}
        .toast{display: none;position: fixed;left: 50%;top: 50%;margin-left: -50px;margin-top: -50px;width: 100px;
            height: 100px;line-height: 100px;text-align: center;font-size: 48px;background-color: rgba(0, 0, 0, 0.5);color: #fff;border-radius: 10px;}
        .weui-search-bar {position: relative;padding: 8px 20px 8px 10px;display: -webkit-box;display: -webkit-flex;display: flex;box-sizing: border-box;background-color: #efeff4;}
        .weui-search-bar__label {position: absolute;top: 1px;right: 1px;bottom: 1px;left: 1px;z-index: 0;border-radius: 3px;text-align: center;color: #9b9b9b;background: #fff;}
    </style>
</head>
<body>

    <div id="hwSubList" class="contacts-content">

        <div class="weui-btn_default weui-header ">
            <div class="weui-header-left"><a id="home_href" href="###" onclick="bindBack()" class="icon icon-109 f-green">返回主页</a></div>
            <h1 class="weui-header-title f-green">路段绑定</h1>
            <div class="weui-header-right"><a href="###" class="icon icon-70 f-green" onclick="primaryClick()">提交</a></div>
        </div>
        <div class="weui-search-bar" id="searchBar">
            <form class="weui-search-bar__form" action="#">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="" type="search">
                    <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                </div>
                <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                    <i class="weui-icon-search"></i>
                    <span>搜索</span>
                </label>
            </form>
            <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
        </div>

    </div>
    <ul class="navbar"></ul>
    <div class="toast"></div>

    <script src="/lkdtWX/plugins/weui/js/commonMap.js" charset="utf-8"></script>
    <script src="/lkdtWX/plugins/weui/jquery-weui/js/jquery.min.js" charset="utf-8"></script>
    <script src="/lkdtWX/plugins/weui/jquery-weui/js/jquery-weui.min.js" charset="utf-8"></script>
    <script src="/lkdtWX/plugins/weui/js/axios.min.js"></script>
    <script type="text/javascript">
        let highways = u.getStorage("highways");
        let openid = u.getStorage("openid");
        $(function(){
            if(!highways){
                $.toast("ERR网络数据异常", "forbidden");
                return;
            }
            //根据公路id排序
            highways.sort(function(a,b){
                return a.text - b.text;
            });
            //右侧导航
            // let letter = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
            let letter = [];
            // 模拟数据生成
            let contactsHtml = '';
            highways.forEach(function(item,index,arr){
                //生成导航
                letter.push(item.text);
                //生成主界面
                contactsHtml +=
                    `<div class="weui-cells__title" index="` + item.text + `">` + item.text + `</div>
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd">`;
                if(item.children.length > 0){
                    item.children.forEach(function(ite,i,array){
                        contactsHtml +=
                            `<div class="weui-cell weui-cell_switch">
                                <div class="weui-cell__bd">`+ite.state.nameDetail+`</div>
                                <div class="weui-cell__ft">
                                    <label for="hwSubList_`+ite.id+`" class="weui-switch-cp">
                                        <input id="hwSubList_`+ite.id+`" class="weui-switch-cp__input" type="checkbox">
                                        <div class="weui-switch-cp__box"></div>
                                    </label>
                                </div>
                            </div>`;
                    });
                } else {
                    contactsHtml +=
                        `<div class="weui-cell weui-cell_switch">
                            <div class="weui-cell__bd">空</div>
                        </div>`;
                }
                contactsHtml +=
                        `</div>
                    </div>`;
            });
            $('.contacts-content').append(contactsHtml);
            // 再生成右侧字母导航
            let navbarHtml = '';
            for(let i in letter){
                navbarHtml += '<li>' + letter[i] + '</li>';
            }
            $('.navbar').append(navbarHtml);
            // 功能代码
            let navbarOffset = []; // 用于存放字母导航每个字母所占用的位置
            let tempheight = 0;
            let step = $(document).outerHeight() / letter.length;
            for(let i = 0; i < letter.length; i++){
                navbarOffset.push({
                    start: tempheight,
                    end: tempheight + step
                });
                tempheight += step;
            }
            $('.navbar').on('touchstart', function(event) {
                $(this).addClass('hover');
                $('.navbar').css('width','40px');
            }).on('touchend', function(event) {
                $(this).removeClass('hover');
                $('.toast').text('').hide();
                $('.navbar li').removeClass('selected');
                $('.navbar').css('width','20px');
            }).on('touchmove', function(event) {
                event.preventDefault();
                let index;
                // 根据当前手指 touch 位置的 clientY 值，依次去匹配，找到当前位于哪个字母上
                for(let i in navbarOffset){
                    if(event.originalEvent.changedTouches[0].clientY >= navbarOffset[i].start && event.originalEvent.changedTouches[0].clientY <= navbarOffset[i].end){
                        index = i;
                    }
                }
                // 然后根据当前字母计算出联系人页面对应的字母标题距离页面顶部的偏移值，并用 scrollTop 定位到该位置
                if(typeof index != 'undefined'){
                    $('.toast').text($('.navbar li:eq(' + index + ')').text()).show();
                    $('.navbar li:eq(' + index + ')').addClass('selected').siblings('li').removeClass('selected');
                    let setTop = $('.contacts-content [index="' + $('.navbar li:eq(' + index + ')').text() + '"]').offset().top + $('.contacts-content').scrollTop();
                    $('.contacts-content').scrollTop(setTop);
                }
            });

            //数据初始化
            axios.post('/weixin/map/getHwIdsByOpenid',{openid:openid},
                {
                    headers: {
                        "X-Access-Token": u.getStorage("token")
                    }
                })//也可以直接拼接在url
                .then(function(rs){
                    if(rs.data && rs.data.hwIds){
                        //比对hwId
                        function bool(hwId){
                            for(let item in rs.data.hwIds){
                                if(rs.data.hwIds[item].hwId == hwId){
                                    return true;
                                }
                            }
                            return false;
                        }
                        //数据加载
                        let hwSubLists = $("#hwSubList input[type='checkbox']");
                        for(let i = 0; i < hwSubLists.length; i++){
                            if(bool(hwSubLists[i].id.substr(10))){
                                hwSubLists[i].checked = "checked";
                            }
                        }
                    } else {
                        $.toast("请关注路段", "success");
                    }
                }).catch(function(e){
                $.toast("网络异常", "cancel");
            });
        });

        //返回
        function bindBack(){
            $.showLoading();
            window.location.replace("/weixin/map/wxMapJump?pubOpenId="+u.getStorage("openid"));
            // axios.post('/weixin/map/mapHome',{})//也可以直接拼接在url
            //     .then(function(rs){
            //         $.hideLoading();
            //         if(rs.data){
            //             window.location.replace(rs.data);
            //         } else {
            //             $.toast("跳转失败", "cancel");
            //         }
            //     }).catch(function(e){
            //         $.hideLoading();
            //         $.toast("网络异常", "cancel");
            //     });
        }

        /**提交*/
        function primaryClick(){
            $.showLoading();
            //参数
            let list = [];
            let delList = [];
            let hwSubLists = $("#hwSubList input[type='checkbox']");
            for(let i = 0; i < hwSubLists.length; i++){
                if(hwSubLists[i].checked){
                    list.push({"hwId": hwSubLists[i].id.substr(10)});
                } else {
                    delList.push({"hwId": hwSubLists[i].id.substr(10)});
                }
            }
            if(!openid){
                $.toast("认证失败", "forbidden");
                return;
            }
            axios.post('/weixin/map/saveHwInfo',{hwIds:list,delHwIds:delList,openid:openid},
                {
                    headers: {
                        "X-Access-Token": u.getStorage("token")
                    }
                })//也可以直接拼接在url
                .then(function(rs){
                    $.hideLoading();
                    if(rs.data.code && rs.data.code == 200){
                        // $.noti({title: "保存成功",time: 2000,});
                        $.toast("保存成功", "success");
                        bindBack();
                    } else {
                        $.toast("保存失败", "cancel");
                    }
                }).catch(function(e){
                    $.hideLoading();
                    $.toast("网络异常", "cancel");
                });
        }
    </script>
</body>
</html>