<!DOCTYPE html>
<html style="background-color: white;">
	<head>
	    <meta charset="utf-8">
	    <title></title>
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">    
	    <meta name="apple-mobile-web-app-capable" content="yes">    
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">    
	    <script src="/lkdtWX/plugins/mui/js/mui.min.js"></script>
	    <link href="/lkdtWX/plugins/mui/css/mui.min.css" rel="stylesheet"/>
	</head>
	<style>
		html,body{
			height: 100%;
		}
	</style>
	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav" style="background-color: #007AFF;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"  style="color: white;"></a>
			<h1 class="mui-title" style="color: white;">诱导灯自动控制</h1>
		</header>
		<div id="" class="mui-content" style="background-color: white;height: 100%;">
			<table style="width: 95%;height: 20%;margin: auto;margin-top: 5%;">
				<tr>
					<td width="45%">
						<span style="width: 90%;">诱导灯开启条件:</span>
					</td>
					<td>
						<a><select id="zxjssds" class="mui-select" name="education" style="" value="5">
						    <option value="1">三级管制</option> 
						    <option value="2">二级管制</option> 
						    <option value="3" selected = "selected">一级管制</option> 
						    <option value="4">特级管制</option> 
						</select>
						</a>
					</td>
				</tr>
			</table>
			<div class="mui-content-padded" style="text-align: center;margin-top: 10%;">
				<button id='cj' class="mui-btn mui-btn-primary" onclick="save()">保存</button>
				<span style="display:inline-block;width: 30px;"></span>
				<button id='qx' class="mui-btn" onclick="cancel()">取消</button>
			</div>
		</div>
		<script>
			function save(){
	      		mui.back();
	      	}
	      	function cancel(){
	      		mui.back();
	      	}
		</script>
	</body>
</html>
