<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!-- iphone会把一串数字识别为电话号码，点击的时候会提示是否呼叫，屏蔽这功能则把telephone设置为no -->
    <meta content="telephone=no" name="format-detection" />
    <!-- iphone的私有标签，默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明） -->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!-- iphone设备的是有标签 允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!-- 全屏显示 -->
    <meta content="yes" name="apple-touch-fullscreen" />
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- 屏蔽百度转码 -->
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>详情</title>
	<!-- 引入 WeUI -->
	<link rel="stylesheet" href="/lkdtWX/plugins/weui/css/weui.css"/>
	<link rel="stylesheet" href="/lkdtWX/plugins/weui/css/weuix.css"/>
    <style>
        /*a{text-decoration: none;}*/
        /*a:hover{text-decoration: none;}*/
        /*html{background: #eaeaea;}*/
        /*.hd_line{background: #eaeaea;margin-top: 0;line-height: 30px;}*/
		.disable_gray{
			background-color: #EDECEC;
			color: #999999;
		}
		.right{
			width: 90px;
			text-align:left;
		}
		button.weui-form-preview__btn {
		    font-size: 4.5vw;
		}
    </style>
</head>
<body ontouchstart>
	<div class="page-hd" style="padding: 20px 20px 0px 20px;">
		<div style="float: left;padding: 5px 5px 5px 5px;"><img src="/lkdtWX/plugins/weui/img/jinghui.png" height="22"></div>
		<h1 class="page-hd-title">
			<a class="weui-form-preview__btn_primary" style="float: left;" href="###" onclick="backHome()">主页</a>
			<a class="weui-form-preview__btn_primary" style="float: left;" href="javascript:backFun();">/告警信息</a>/一键申报
		</h1>
		<input id="imgtime" name="imgtime" th:value="${#dates.format(imgtime, 'yyyy-MM-dd HH:mm:ss')}" type="hidden" />
		<input id="imgpath" name="imgpath" th:value="${imgpath}" type="hidden" />
	</div>
	<div class="weui-cells weui-cells_form">
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label right">路段：</label>
			</div>
			<div class="weui-cell__bd">
				<input id="luduan" class="weui-input disable_gray" th:value="${name}" placeholder="路段" type="text" readonly>
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label right">桩号：</label>
			</div>
			<div class="weui-cell__bd">
				<select id="epId" th:value="${epId}" style="background-color: #EDECEC;color: #999999;" class="weui-input" placeholder="" type="text">
					<option th:each="equ:${eps}" th:value="${equ.epId}"><span th:text="${equ.epName}"></span></option>
				</select>
				<!-- <input id="zhuanghao" class="weui-input disable_gray" th:value="${epId}" placeholder="桩号" type="text" readonly> -->
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label right">时间：</label>
			</div>
			<div class="weui-cell__bd">
				<input id="shijian" class="weui-input disable_gray" placeholder="" type="text" readonly>
			</div>
		</div>

		<div class="page-bd-15">
			<img id="camImg" src="" class="img-max">
		</div>

		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label right">可见距离：</label>
			</div>
			<div class="weui-cell__bd">
				<input id="kejianjuli" class="weui-input" th:value="${distance}" value="" style="width: 50px;" type="text">米
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label right">管制类别：</label>
			</div>
			<div class="weui-cell__bd">
				<select id="alarmType" class="weui-input" placeholder=""  type="text">
					<option value="">---请选择---</option>
					<option value="0" selected="selected">局部路段团雾</option>
					<option value="1">强浓雾</option>
					<option value="2">特强浓雾</option>
					<option value="3">雾霾</option>
					<option value="4">雨(雾)</option>
					<option value="5">大雪</option>
					<option value="6">大风</option>
					<option value="7">路面积雪结冰</option>
					<option value="8">沙尘</option>
					<option value="9">烟尘</option>
					<option value="10">路面淹水</option>
				</select>
			</div>
		</div>
		<!-- <div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label right">管制等级：</label>
			</div>
			<div class="weui-cell__bd">
				<select id="alarmLevel" class="weui-input" th:value="${alarmLevel}" placeholder="" type="text">
					<option value="">---请选择---</option>
					<option value="0">解除管制</option>
					<option value="1" >三级管制</option>
					<option value="2">二级管制</option>
					<option value="3">一级管制</option>
					<option value="4">特级管制</option>
				</select>
			</div>
		</div> -->

		<div id="yanzhengmaDIV" style="display: none;" class="weui-cells">
			<div class="weui-cell">
				<div class="weui-cell__bd" style="border:1px solid #EAEAEB;">
					<input id="verifyCodeInp" class="weui-input" placeholder="请输入警号" type="text" >
				</div>
			</div>
		</div>

		<div class="page-bd-15 weui-form-preview__ft">
			<button id='upReport' class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">一键申报（支队）</button>
			<button id='cancel' class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">取消</button>
		</div>
		<!--预览-->
		<div class="weui-gallery" style="display: none">
			<span class="weui-gallery__img"></span>
			<div class="weui-gallery__opr">
			</div>
		</div>
	</div>
	<!-- 引入 WeJS -->
	<script src="/lkdtWX/plugins/weui/js/commonMap.js"></script>
	<script src="/lkdtWX/plugins/weui/js/zepto.min.js"></script>
	<script src="/lkdtWX/plugins/weui/js/zepto.weui.js"></script>
	<script src="/lkdtWX/plugins/weui/js/lrz.min.js"></script>
	<!--<script src="/lkdtWX/plugins/weui/js/eruda.js"></script>-->
    <script>
		$(function(){
			$("#shijian").val(timeStamp2String(new Date()));
			$("input").on('blur',function(){
				$(window).scrollTop(100);
			});
			$("select").on('blur',function(){
				$(window).scrollTop(100);
			});

			$('#camImg').attr("src", fname);

		});

		function backHome(){
			window.location.replace("/weixin/wxUser/levelControlhome?pubOpenId="+u.getStorage("openid"));
		}

		/**
		 * 返回
		 */
		function backFun(){
			window.location.replace("/weixin/alertThreepart/confirmListTP");
		}

		$("#cancel").click(function(e){
			backFun();
		});

		$("#threeSide").click(function(e){
			execOperationPrompt(function(e){
				if(e.code == 0){
					$.alert("通报成功","消息",function(){
						backFun();
					});
				} else {
					$.toast(e.msg, "cancel");
				}
			},2);
		});
		$("#sjgztz").click(function(e){
			$.showLoading();
			window.location.replace("/weixin/policeNotice/policeNoticeList?openid="+u.getStorage("openid"));
		});
		$("#ckqyld").click(function(e){
			$.showLoading();
	        window.location.replace("/weixin/map/wxMapJump?pubOpenId="+u.getStorage("openid"));
		});

		$(document).on("click", "#upReport", function() {
			execOperationPrompt(function(e){
				if(e.code == 0){
					$.alert("上报成功","消息",function(){
						backFun();
					});
				} else {
					$.toast(e.msg, "cancel");
				}

			},1);
		});

		/**输入警号验证*/
		function execOperation(func,type){
			let html = $("#yanzhengmaDIV").html();
			$("#yanzhengmaDIV").empty();
			$.modal({
				title: "身份验证",
				text: html,
				buttons: [
					{ text: "确定", onClick: function(){
						$.post("/weixin/alertThreepart/validateJinghao",{openid:u.getStorage("openid"),jinghao:$("#verifyCodeInp").val()},function(e){
							if(e.code == 0){
								$(window).scrollTop(0);
								if($("#verifyCodeInp").val().trim() == ""){
									$("#yanzhengmaDIV").html(html);
									$.toast("警号不能为空", "forbidden");
									return;
								}
								//操作
								let data = {openid:u.getStorage("openid"),
									//alarmLevel:$('#alarmLevel').val(),
									epId:$('#epId').val(),
									imgtime: $('#imgtime').val(),
									imgpath: $('#imgpath').val(),
									distance:$('#kejianjuli').val()};
								/* if($('#alarmLevel').val().trim() == "" || $('#alarmLevel').val().trim() == "0"){
									$("#yanzhengmaDIV").html(html);
									$.toast("请选择管制等级", "forbidden");
									return;
								} */
								confirm(data);
								$("#yanzhengmaDIV").html(html);
							} else {
								$(window).scrollTop(0);
								$("#yanzhengmaDIV").html(html);
								$.toast("警号输入有误", "forbidden");
							}
						});

					}},
					{ text: "取消", className: "default", onClick: function(){
						$(window).scrollTop(0);
						$("#yanzhengmaDIV").html(html);
					}},
				]
			});
			// //优化操作
			// $("#verifyCodeInp").on('blur',function(){
			// 	$(window).scrollTop(0);
			// });
		}
		
		function confirm(data){
			$.post("/system/alarm/confirm3",
					data,function(e){
				if(e.code == 0){
					$.alert("上报成功","消息",function(){
						backFun();
					});
				}else{
					$.alert("上报失败");
				}
			});
		}

		/**输入警号验证*/
		function execOperationPrompt(func,type){
			$.prompt({
				title: `<img src="/lkdtWX/plugins/weui/img/jinghui.png" height="22">`,
				text: '请输入警号验证身份',
				input: '',
				empty: false, // 是否允许为空
				onOK: function (input) {
					//点击确认
					$.post("/weixin/alertThreepart/validateJinghao",{openid:u.getStorage("openid"),jinghao:input},function(e){
						if(e.code == 0){
							//操作
							let data = {openid:u.getStorage("openid"),
									//alarmLevel:$('#alarmLevel').val(),
									epId:$('#epId').val(),
									imgtime: $('#imgtime').val(),
									imgpath: $('#imgpath').val(),
									distance:$('#kejianjuli').val()};
							confirm(data);
						} else {
							$.toast("警号输入有误", "forbidden");
						}
					});
				},
				onCancel: function () {
					//点击取消
				}
			});
			//优化操作
			$("#weui-prompt-input").on('blur',function(){
				$(window).scrollTop(100)
			});
		}
		function timeStamp2String(datetime){
		    var year = datetime.getFullYear();
		    var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
		    var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
		    var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
		    var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
		    var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
		    return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
		}
    </script>
</body>
</html>