<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!-- iphone会把一串数字识别为电话号码，点击的时候会提示是否呼叫，屏蔽这功能则把telephone设置为no -->
    <meta content="telephone=no" name="format-detection" />
    <!-- iphone的私有标签，默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明） -->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!-- iphone设备的是有标签 允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!-- 全屏显示 -->
    <meta content="yes" name="apple-touch-fullscreen" />
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- 屏蔽百度转码 -->
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>告警信息预览</title>
	<!-- 引入 WeUI -->
	<link rel="stylesheet" href="/lkdtWX/plugins/weui/css/weui.css"/>
	<link rel="stylesheet" href="/lkdtWX/plugins/weui/css/weuix.css"/>
	<style>
		.right{
			width: 90px;
			text-align:left;
		}
		.weui-news-infoitem {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
			align-items: center;
			font-size: 0.5rem !important;
		}
	</style>

	<!--<style>
		ul{list-style: none;padding: 0px;margin: 0px;width: 100%;height: 50px;line-height: 50px;
			border-width: 1px;border-color: #063B6A;border-style: none none dashed none;border-top: 0px;font-size: 4.5vw;color: black;
		}
		li{display: block;width: 24%;float: left;    text-align: center;}
		.name{width:27%;}
	</style>-->
</head>
<body ontouchstart class="page-bg">
	<div class="page-hd" style="padding: 20px 20px 0px 20px;">
		<div style="float:left;padding: 5px 5px 5px 5px;"><img src="/lkdtWX/plugins/weui/img/jinghui.png" height="22"></div>
		<h1 class="page-hd-title">
			<a class="weui-form-preview__btn weui-form-preview__btn_primary" style="float: left;" href="###" onclick="backHome()">主页</a>/告警信息
			<a href="###" class="weui-icon-warn f-green" style="float: right;font-size: 19px;line-height: 32px;" onclick="bindRiadManual()">手动上报</a>
		</h1>
	</div>

	<div class="weui-news" style="clear: left">
		<ul class="weui-news-list">
			<!--<li class="weui-news-item" onclick="camLiClick()">
				<div class="weui-news-inner">
					<div class="weui-news-media">
						<img src="/lkdtWX/plugins/weui/img/cameras/NT001_fog.jpg">
					</div>
					<div class="weui-news-inners">
						<div class="weui-news-text">
							<div class="weui-news-title">
								<text>路段：G15连云港段(NT001)</text>
								<br>
								<text>可见距离：150米</text>
							</div>
						</div>
						<div class="weui-news-info">
							<div class="weui-news-infoitem">2018-12-14 10:31</div>
							<div class="weui-news-infoitem">
								<img src=""  class="weui-news-round"><span class="weui-news-right" style="color: red;">未处理</span>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="weui-news-item" onclick="camLiClick()">
				<div class="weui-news-inner">
					<div class="weui-news-media">
						<img src="/lkdtWX/plugins/weui/img/cameras/NT001_fog.jpg">
					</div>
					<div class="weui-news-inners">
						<div class="weui-news-text">
							<div class="weui-news-title">
								<text>路段：G15连云港段(NT001)</text>
								<br>
								<text>可见距离：150米</text>
							</div>
						</div>
						<div class="weui-news-info">
							<div class="weui-news-infoitem">2018-12-14 10:31</div>
							<div class="weui-news-infoitem">
								<img src=""  class="weui-news-round"><span class="weui-news-right">已上报中心、通报三方</span>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="weui-news-item" onclick="camLiClick()">
				<div class="weui-news-inner">
					<div class="weui-news-media">
						<img src="/lkdtWX/plugins/weui/img/cameras/NT001_fog.jpg">
					</div>
					<div class="weui-news-inners">
						<div class="weui-news-text">
							<div class="weui-news-title">
								<text>路段：G15连云港段(NT001)</text>
								<br>
								<text>可见距离：150米</text>
							</div>
						</div>
						<div class="weui-news-info">
							<div class="weui-news-infoitem">2018-12-14 10:31</div>
							<div class="weui-news-infoitem">
								<img src=""  class="weui-news-round"><span class="weui-news-right">已解除</span>
							</div>
						</div>
					</div>
				</div>
			</li>-->
		</ul>
	</div>

	<!-- 引入 WeJS -->
	<script src="/lkdtWX/plugins/weui/js/commonMap.js"></script>
	<script src="/lkdtWX/plugins/weui/js/zepto.min.js"></script>
	<script src="/lkdtWX/plugins/weui/js/zepto.weui.js"></script>
	<script src="/lkdtWX/plugins/weui/js/axios.min.js"></script>
	<script>
		$(function(){
			// $(document.body).pullToRefresh({
			// 	distance: 50,
			// 	onRefresh:function() {
			// 		window.location.reload();
			// 		$(document.body).pullToRefreshDone();
			// 	}
			// });

			$.ajax({
				type: "GET",
				url: "/weixin/alertThreepart/listAll",
				dataType:'json',
				success: function (data) {
					render(data);
				}
			});
		});

		function backHome(){
			window.location.replace("/weixin/wxUser/levelControlhome?pubOpenId="+u.getStorage("openid"));
		}

		function camLiClick(alertThreepartId){
			window.location.replace("/weixin/alertThreepart/confirmDetails?alertThreepartId="+alertThreepartId+"&openid="+u.getStorage("openid"));
		}
		
		function bindRiadManual(){
			window.location.replace("/weixin/alertThreepart/confirmDetailsManual?openid="+u.getStorage("openid"));
		}
		

		// 日期去掉0
		function dislodgeZero(str) {
			let strArray = str.split('-');
			strArray = strArray.map(function(val) {
				if (val[0] == '0') {
					return val = val.slice(1);
				}else{
					return val;
				}
			});
			return strArray.join('-');
		}

		/**渲染*/
		function render(data){
			console.log(data);
			$('.weui-news-list li').remove();
			let html = "";
			for (let i = 0; i < data.length; i++) {
				html += `<li class="weui-news-item" onclick="camLiClick('`+data[i].alertThreepartId+`')">
							<div class="weui-news-inner">
								<div class="weui-news-media">`;
				if(data[i].imgtime && data[i].imgpath){
					// 		"&dateStr="+dislodgeZero(data[i].imgtime.substring(0,10)))+`">`;
					html += 			`<img src="`+(data[i].imgpath)+`">`;
				}else{
					html += 			`<img src="`+(data[i].imgpath)+`">`;
				}
				html += 		`</div>
								<div class="weui-news-inners">
									<div class="weui-news-text">
										<div class="weui-news-title">`;
				html += 					`<text>路段：`+data[i].name+`【`+data[i].epId+`】</text>`;
				html += 					`<br>`;
				html += 					`<text>可见距离：`+data[i].mindistanceNow+`米</text>`;
				html += 				`</div>
									</div>
									<div class="weui-news-info">`;
				html += 				`<div class="weui-news-infoitem">`+data[i].alertTime+`</div>`;
				html += 				`<div class="weui-news-infoitem">`;
				if(data[i].handleStatus == ''){
					html += 					`<img src=""  class="weui-news-round"><span class="weui-news-right" style="color: red;">未处理</span>`;
				} else {
					html += 					`<img src=""  class="weui-news-round"><span class="weui-news-right">`+data[i].handleStatus+`</span>`;
				}
				html += 				`</div>
									</div>
								</div>
							</div>
						</li>`;
		    }
			$(".weui-news-list").html(html);
		}

		// //返回
		// $().ready(function() {
		// 	let isRefresh = getURLParameter("isRefresh");
		// 	if(isRefresh == 1){
		// 		let confirmList = u.getStorage("confirmList");
		// 		render(confirmList);
		// 		return;
		// 	}
		// 	/* $.ajax({
		//         type: "GET",
		//         url: "/system/alarm/getConfirmList",
		//         dataType:'json',
		//         success: function (data) {
		//         	//缓存列表数据
		// 			u.setStorage("confirmList",data);
		// 			render(data);
		//         }
		//     }); */
		//     var data=[
		//     	{
		//     		"epId":"ceshi1",
		//     		"begintime":new Date().Format("yyyy-MM-dd HH:mm:ss"),
		//     		"equName":"K1006-1",
		//     		"cameraType":"二级管制",
		//     		"state":"G15连云港",
	    // 		},
	    // 		{
		//     		"epId":"ceshi2",
		//     		"begintime":new Date().Format("yyyy-MM-dd HH:mm:ss"),
		//     		"equName":"K1006-2",
		//     		"cameraType":"解除管制",
		//     		"state":"G15连云港",
	    // 		}
	    // 	]
		// 	u.setStorage("confirmList",data);
		// 	render(data);
		// });
		//
		// /**渲染*/
		// function render(data){
		// 	//告警信息初始化清空
		// 	var html = "";
		// 	var unconfirmhtml = "";
		// 	if(data.length > 0){
		// 		data.sort(function(a,b){
		// 			return a.distance - b.distance;
		// 		});
		// 	}
		// 	for (var i = 0; i < data.length; i++) {
        //         //imgRealFromUrl = imgRealFromUrl_src+"path=" + data[i].imgpath.replace(/\\/g,"/")+"&epid=" + data[i].epId;
        //         //渲染告警闪烁
        //
        //     	unconfirmhtml += "<ul  onclick='confirm(\""+data[i].epId+"\")' style='background:#eceef6'>";
        //         unconfirmhtml += "<li style='word-wrap:break-word;' class='name' ><a href='#' style='color: black;' " +
        //             "title='" +data[i].equName + "' >" +
        //             data[i].equName +"</a></li>";
        //     	unconfirmhtml += "<li style='color: black;'>" + data[i].cameraType + "</li>";
        //
        //         var begintime = data[i].begintime.substring(10);
        //         unconfirmhtml += "<li style='color: black;' title='" + data[i].begintime + "'>" + (begintime==''?'&nbsp;':begintime) + "</li>";
        //         unconfirmhtml += "<li><a href='#' style='color: black;' " +
        //             "title='" +"告警状态"+ "'>" +
        //             data[i].state+ "</a></li>";
        //         unconfirmhtml += "</ul>";
        //     }
		// 	$("#contentUl_unconfirm").html(unconfirmhtml);
		// }
		//
		// function confirm(epId){
		// 	// window.open('/system/alarm/confirmPhone/' + epId);
		// 	window.location.replace('/system/alertThreepart/confirmDetails?epId=' + epId);
		// }
		//
		// function getAlarmTyle(alarmType){
		// 	/*-1：异常
		// 	0：没雾
		// 	1：有雾未确认
		// 	2：有雾已确认
		// 	3：升级未确认
		// 	5：解除未确认*/
		// 	 if(alarmType==1){
		// 		 return "告警";
		// 	 }
		// 	 if(alarmType==3){
		// 		 return "告警等级增加";
		// 	 }
		// 	 /* if(alarmType==3){
		// 		 return "告警等级减少";
		// 	 } */
		// 	 if(alarmType==5){
		// 		 return "告警解除";
		// 	 }
		//
		// }
		//
		// Date.prototype.Format = function (fmt) { //author: meizz
        //     var o = {
        //         "M+": this.getMonth() + 1, //月份
        //         "d+": this.getDate(), //日
        //         "H+": this.getHours(), //小时
        //         "m+": this.getMinutes(), //分
        //         "s+": this.getSeconds(), //秒
        //         "q+": Math.floor((this.getMonth() + 3) / 3), //季度
        //         "S": this.getMilliseconds() //毫秒
        //     };
        //     if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        //     for (var k in o)
        //     if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        //     return fmt;
        // }
	</script>
</body>
</html>