<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"> -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<!-- iphone会把一串数字识别为电话号码，点击的时候会提示是否呼叫，屏蔽这功能则把telephone设置为no -->
	<meta content="telephone=no" name="format-detection" />
	<!-- iphone的私有标签，默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明） -->
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<!-- iphone设备的是有标签 允许全屏模式浏览，隐藏浏览器导航栏 -->
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<!-- 全屏显示 -->
	<meta content="yes" name="apple-touch-fullscreen" />
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- 屏蔽百度转码 -->
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>智高速</title>
	<!-- 引入 WeUI -->
	<link rel="stylesheet" href="/lkdtWX/plugins/weui/css/weui.css"/>
	<link rel="stylesheet" href="/lkdtWX/plugins/weui/css/weuix.css"/>

	<style>
		a{text-decoration: none;}
		a:hover{text-decoration: none;}
		.police_bind{width: 100%;height: 100%;}
		.police_bind .t{width: 100%;height: 10%;position: relative;}
		.police_bind .t .right-fix{position: fixed;right:3%;top: 3%;display: flex;flex-direction: column;}
		.police_bind .t .right-fix .img-div{width: 15vw;height: 15vw;margin-bottom: 10px;border: 1px solid #9f9f9f;border-radius:5px;box-shadow:2px 2px 5px #cfcfcf;}
		.police_bind .t .right-fix .img-div img{width: 10vw;height: 10vw;margin: 0 auto;display: block;}
		.police_bind .t .right-fix .img-div span{width: 100%;font-size: 3.2vw;display: block;width: 100%;text-align: center;}
		.police_bind .f{width: 90%;margin:0 auto;}
		.police_bind .f .i{width: 50%;height: auto;margin:0 auto;}
		.police_bind .f .i img{width: 50%;
		    height: auto;
		    margin-left: 25%;}
		.police_bind .f .d{width: 100%;height: auto;margin:0 auto;text-align: center;}
		.police_bind .f .d input{padding:4px 4px;margin-top:6vw;  width:50%; height:7vw; background-color: #FFFFFF; font-size:16px; line-height:7vw; box-sizing:content-box; background:transparent;}
		.police_bind .f .d button{padding:4px 0;margin:10px 0; width:15%; height:7vw; border:none; font-size:18px; line-height:7vw; box-sizing:content-box; background-color: #f7a34f;color: white;border: 1px solid #111111;}

		.btn-fix{display: -webkit-box;margin-top: 3vw;}
		.btn-fix .img-div{width: 26vw;height: 26vw;border: 1px solid #9f9f9f;border-radius:5px;box-shadow:2px 2px 5px #cfcfcf;}
		.btn-fix .img-div img{width: 19vw;height: 19vw;margin: 0 auto;display: block;}
		.btn-fix .img-div span{width: 100%;font-size: 4vw;display: block;text-align: center;}

		.police_bind .c{width: 92%;margin:30vw auto 0px auto;} 
		/* .police_bind .c{width: 92%;position: fixed;bottom: 10vw;left: 3vw;} */
		.police_bind .c .scroll-wrap{height: 62px; overflow: hidden;}
		.police_bind .c .scroll-wrap ul{margin-top: 0px;}
		.police_bind .c .scroll-wrap ul li{height: 30px; line-height: 30px; font-size:17px; color:black; border-bottom: #333 1px dashed;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}

		.weui-table td, .weui-table th, table td, table th{width: 25%;height: 30px; line-height: 30px;font-size:16px;border-top:none;border-left: none;border-right: none;border-bottom: 1px dashed #063B6A;padding:0px;text-align: center;}

		.clear{clear:both;}
		
		.c .btn{
			background-color: #f3f3f3;color: #111111;width: 70%;    padding: 4px 0;
		    margin: 5px 0;
		    height: 7vw;
		    border: none;
		    font-size: 18px;
		    line-height: 7vw;
		    box-sizing: content-box;
		    margin-left: 19%;
		    margin-top:10px;
		    border: 1px solid #111111;
		    border-radius: 5px;
		}
	</style>
</head>
<body>
<!-- <div class="weui-btn_default weui-header ">
    <h1 class="weui-header-title f-green">警号确认</h1>
</div> -->
<input id="auth" th:value="${auth}" hidden>
<input id="openid" th:value="${openid}" hidden>
<div class="police_bind" >
	<div class="t" >
		<div class="right-fix" style="display: none;">
			<div class="img-div" >
				<img src="/lkdtWX/plugins/weui/img/buttons/daolubangding_meizi.png" aria-hidden="true" onclick="gotobindRoad()"></img>
				<span>路段绑定</span>
			</div>
			<div class="img-div">
				<img src="/lkdtWX/plugins/weui/img/buttons/guanzhitongzhi.png" aria-hidden="true" onclick="binControlNotice()"></img>
				<span>管制通知</span>
			</div>
		</div>
	</div>
	
	<div class="f">
		<div class="i"><img alt="" src="/lkdtWX/img/jiaojing.png"></div>
		
		<div class="d">
			<input class="" id="policeId" name="policeId" maxlength="20" placeholder="请输入警号"  />
			<button type="button" class="btn btn-primary" style="background-color: #f3f3f3;color: #111111;border-radius: 5px;" onclick="btnLogin()">确认</button>
		</div>
		<div style="width: 100%;text-align: center;">
			（管辖路段绑定 请联系系统管理员）
		</div>
		<div class="btn-fix" style="display: show;">
			<!-- <div class="img-div" style="margin-right:10%;">
				<img src="/lkdtWX/plugins/weui/img/buttons/daolubangding_meizi.png" aria-hidden="true" onclick="gotobindRoad()"></img>
				<span>路段绑定</span>
			</div>
			<div class="img-div">
				<img src="/lkdtWX/plugins/weui/img/buttons/guanzhitongzhi.png" aria-hidden="true" onclick="binControlNotice()"></img>
				<span>管制通知</span>
			</div> -->
		</div>
	</div>
	<div class="c" style="margin: 0;    margin-top: 5%;">
		<div class="visual_chart" id="myEchart" style="position: relative; top: 0vw;width: 108%;    height: 25vw;margin-left: 0%;">
		</div>
		<div>
			<a href="#" onclick="twxqPop()" style="padding-left: 10px;margin-top: -10px;">值班审核操作说明</a>
		</div>
		<div id="twxq" class="weui-popup__container popup-top" style="display: none;top:0px;width:100vw;z-index: 100;">
			<div class="weui-popup__overlay" style="    opacity: 0.3;"></div>
			<div class="weui-popup__modal" style="    height: 38vw;   bottom: 0;background-color: #ffffff">
				<div style="padding: 0 10px;color: #111111;">点击红色表示雾霾雨雪沙尘烟雾等能见度低于50米、突发局部路段团雾、道桥结冰雪、10级以上大风等一级特级以上管制预警和突发交通事故、坍方和危化品车异常和大客车危情；黄色表示二级三级管制和一般交通危情事件。</div>
			</div>
		</div>
		<button type="button" class="btn btn-success" style="" onclick="bindRiadManual()">一键申报（支队、省队）</button>
		<button type="button" class="btn btn-success" style="" onclick="binControlNotice()">上级管制通知</button>
		<button type="button" class="btn btn-success" style="" onclick="showWxMap()">查看区域路段</button>
		<button type="button" class="btn btn-success" style="" onclick="bindRiadManualTzlq()">通知路桥</button>
		<button type="button" class="btn btn-success" style="" onclick="trainai()">参与AI训练</button>
		<!-- <div class="" style="position: fixed; bottom: 30vw;margin-left: 5%;">
				<div >G15</div>
				<div style="line-height: 10vw;">G25</div>
		</div> -->
		<div class="scroll-wrap" style="    position: relative;  bottom: -8vw;margin-left: 10%;">
			<ul class="scroll-con fn-left" >
				<li >K1006-1(G15连云港)当前可视距离87米</li>
				<li >K1006-2(G15连云港)当前可视距离54米</li>
			</ul>
		</div>
	</div>
</div>
<div id="equPopDiv" class="weui-popup__container popup-top" style="display: none;position: fixed;top:0px;width:100%;z-index: 100;">
	<div class="weui-popup__overlay"></div>
	<div class="weui-popup__modal" style="    height: 120vw;    top: 0;background-color: #132535;">
	    <img src="/lkdtWX/img/youwu1.jpg" class="img-max" onload=""  style="width:100%;max-height: 300px;margin-top:15px;">
	    <div id="equPopDiv_equName" style="    color: white;
		    font-size: 18px;
		    text-align: left;"></div>
	    <a href="javascript:;" class="weui-btn weui-btn_danger" id="" style="background-color: #ed5565;display: block;margin-top: 5px;" onclick="bindRiadManual()">值班审核</a>
	    <a href="javascript:;" class="weui-btn weui-btn_danger" id="" style="    background-color: #009688;color: white;" onclick="manualCorrection()">诱导灯警示灯设置</a>
	    <a href="javascript:;" class="weui-btn weui-btn_primary" style="background-color: #07C060;font-weight: bold;letter-spacing: 3px;margin-bottom: 15px;" onclick="equClose()">关闭</a>
		</div>
    
</div>

<div id="rgjz" style="z-index: 10000;" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal" >
        <iframe width="100%;" height="90%;" id="rgjzIfram" name="ifram" style="border:none;margin-top: 0px;"></iframe>
    </div>
</div>


<!-- 引入 WeJS -->
<script src="/lkdtWX/plugins/weui/js/commonMap.js"></script>
<script src="/lkdtWX/plugins/weui/js/zepto.min.js"></script>
<script src="/lkdtWX/plugins/weui/js/zepto.weui.js"></script>
<script src="/lkdtWX/plugins/weui/js/php.js"></script>
<script src="/lkdtWX/plugins/weui/js/axios.min.js"></script>
<script src="/lkdtWX/plugins/weui/jweixin/jweixin-1.4.0.js"></script>
<script src="/lkdtWX/js/plugins/echarts/echarts.min.js"></script>
<!--<script src="/lkdtWX/plugins/weui/js/eruda.js"></script>-->

<script>
	//防止页面后退
	//	history.pushState(null, null, window.location.href)
	//window.onpopstate = function (event) {
	//      history.go(1)
	//}
	var twxqshow = false;
	function twxqPop(){
		$("#twxq").popup();
		
	}
	var openid = $('#openid').val();
	let isBindPoliceId = false;	//是否已经绑定警号
	$(function(){

		//$.showLoading("授权认证");

		$(document.body).pullToRefresh({
			distance: 50,
			onRefresh:function() {
				window.location.reload();
				$(document.body).pullToRefreshDone();
			}
		});

		$("input").on('blur',function(){
			$(window).scrollTop(0);
		});

		if($("#auth").val() == 1){
			$.hideLoading();
			initOpenid();
			jqScroll();
		} else {
			$.confirm("系统检测到您未授权，是否前往认证授权?", "授权提示", function() {
				//认证
				wx.miniProgram.navigateTo({url: '/pages/index/jump'})
			}, function() {
				//关闭
				wx.closeWindow();
			});
		}
	});
	
	function equClose(){
		$.closePopup();
	}
	
	function manualCorrection (){
		$.showLoading("加载中");
        setTimeout(function() {
        	$.alert("操作成功");
            $.hideLoading();
        }, 500);
		
	}
	
	//点击案件弹出详情弹出层
	function showDetail(url){
	     //详情页面路径
	     $("#rgjzIfram").prop("src",url);
	     //weUI弹出层方法
	     $("#rgjz").popup();
	}
	
	//关闭弹出层
	function closePage(){
	      //weUI关闭弹出层方法
	      $.closePopup();
	      //iframe清空内容的办法
	      document.getElementById("rgjzIfram").contentWindow.document.body.innerText = "";
	}
	
	function showWxMap(){
		$.showLoading();
        window.location.replace("/weixin/map/wxMapJump?pubOpenId="+u.getStorage("openid"));
	}

	function initOpenid(){
		u.setStorage("openid",openid);
		
		levelControl();
		// //初始化code
		// let code = getURLParameter("code");
		// let signUrl = window.location.href.split('#')[0];
		// //console.log("code==="+code);
		// //console.log("href==="+window.location.href);
		// //console.log("signUrl==="+signUrl);
		// if(code){
		// 	axios.post('/weixin/map/getOpenFid',{code:code,url:signUrl})//也可以直接拼接在url
		// 			.then(function(rs){
		// 				if(rs.data && rs.data.openid){
		// 					//初始化code
		// 					u.setStorage("code",code);
		// 					//初始化openid
		// 					u.setStorage("openid",rs.data.openid);
		//
		// 					levelControl();
		//
		// 				} else {
		// 					clearCode();
		// 					alert('500 请求失效，请重新打开');
		// 					isfollowqr(undefined,true,'请关注公众号获取数据','智高速');
		// 				}
		// 			}).catch(function(e){
		// 		clearCode();
		// 		alert('404 网络错误');
		// 		isfollowqr(undefined,true,'请关注公众号获取数据','智高速');
		// 	});
		// }
	}


	// /**清空code,openid*/
	// function clearCode(){
	// 	//清空code,openid
	// 	u.setStorage("code","");
	// 	u.setStorage("openid","");
	// }

	function levelControl(){
		openid = u.getStorage("openid") ;
		//初始化获取所有路段
		axios.post('/weixin/map/getHighways',{hwId:0})//也可以直接拼接在url
				.then(function(rs){
					if(rs.data && rs.data.highways){
						u.setStorage("highways",rs.data.highways);
						//$.toptip('路段信息加载成功','success');
						/* axios.post('/weixin/wxUser/levelControl',{openid:openid})//也可以直接拼接在url
                            .then(function(rs){
                                $.hideLoading();
                                $("#policeId").val(rs.data.policeId);
                                if(rs.data != null && rs.data != ""){
                                    isBindPoliceId = true;
                                }
                            }).catch(function(e){
                            $.hideLoading();
                            $.toast("网络异常", "cancel");
                        }); */
					} else {
						console.log("无路段数据");
						//$.toptip('无路段数据','success');
					}
				}).catch(function(e){
			console.log(e);
			//$.toptip('路段请求失败','error');
		});
	}


	//返回
	function bindBack(){
		window.location.replace("/weixin/map/wxMap");
	}

	function btnLogin(){
		//参数
		let policeId = $("#policeId").val().trim();
		if(policeId == null || policeId.length == 0 ){
			$.toast("请输入警号", "forbidden");
		}else{
			axios.post('/weixin/wxUser/bindTrafficPolice',{policeId:policeId,openid:openid,isBindPoliceId:isBindPoliceId})//也可以直接拼接在url
					.then(function(rs){
						$.hideLoading();
						if(rs.data && rs.data.code == 0){
							// $.noti({title: "保存成功",time: 2000,});
							//$.alert("绑定警号成功", "",function (){
							//	bindToadTrafficPoliceBack();
							//});
							bindToadTrafficPoliceBack();
						} else {
							$.toast(rs.data.msg, "cancel");
						}
					}).catch(function(e){
				$.hideLoading();
				$.toast("网络异常", "cancel");
			});
		}
	}

	//绑定路段
	function bindToadTrafficPoliceBack(){
		$.showLoading();
		u.setStorage("bindRoadTrafficPolice","2");
		axios.post('/weixin/wxUser/bindRoad',{openid:openid})//也可以直接拼接在url
				.then(function(rs){
					$.hideLoading();
					if(rs.data){
						window.location.replace(rs.data);
					} else {
						$.toast("跳转失败", "cancel");
					}
				}).catch(function(e){
			$.hideLoading();
			$.toast("网络异常", "cancel");
		});

		//window.location.replace("/weixin/wxUser/bindRoad?openid="+openid);
	}

	//跳转道路绑定
	function gotobindRoad(){
		u.setStorage("bindRoadTrafficPolice","1");
		window.location.replace("/weixin/wxUser/bindRoadTrafficPolice?openid="+openid);
	}

	//警情滚动
	function jqScroll(){
		var len = $(".scroll-con li").length;
		if(len > 1){
			textRoll=function(){
				$(".scroll-wrap").find(".scroll-con").animate({
					marginTop : "-31px"
				},1000,function(){
					$(this).css({marginTop : "0px"}).find("li:first").appendTo(this);
				});
			};
			var roll= setInterval('textRoll()',2000);
			$(".scroll-con li").mouseenter(function() {
				clearInterval(roll);
			}).mouseout(function(){
				clearInterval(roll);
				roll= setInterval('textRoll()',2000);
			});
		}
	}


	//管制通知
	function binControlNotice(){
		//window.location.replace("/weixin/wxUser/controlNotice");
		window.location.replace("/weixin/policeNotice/policeNoticeList?openid="+openid);
	}
	
	option = {
		    title: {
		        text: ' 路段管控',
		    },
		    /* tooltip: {
		        trigger: 'axis',
		        axisPointer: {
		            type: 'shadow'
		        }
		    }, */
		    /* legend: {
		        data: ['G15', 'G25']
		    }, */
		    grid: {
		        left: '-5%',
		        right: '0%',
		        bottom: '5%',
		        containLabel: true
		    },
		    xAxis: {
		        type: 'value',
		        show: false
		    },
		    yAxis: {
		        type: 'category',
		        data: ['G15'],
		        show: false,
		        "axisLine":{       //y轴
		            "show":false

		          },
		          "axisTick":{       //y轴刻度线
		            "show":false
		          },
		          "splitLine": {     //网格线
		            "show": false
		          }
		    },
		    series: [
		    	{
		            name: '新坝',
		            type: 'bar',
		            stack: 'G15',
		            barWidth: 15,
		            label: {
		                show: true,
		                formatter: "{a}",
		                position: ['0%', '-100%']
		                
		            },
		            itemStyle: {
		            	color:'#2ba246',
		            },
		            data: [3]
		        },
		        {
		            name: 'G15_K830-100',
		            type: 'bar',
		            stack: 'G15',
		            barWidth: 15,
		            label: {
		                show: false,
		                formatter: "{a}",
		                position: ['0%', '-100%']
		            },
		            itemStyle: {
		            	color:'red',
		            },
		            data: [2]
		        },
		        {
		        	name: 'G15_K835-100',
		            type: 'bar',
		            stack: 'G15',
		            barWidth: 15,
		            label: {
		                show: false,
		                formatter: "{a}",
		                position: ['0%', '-100%']
		            },
		            itemStyle: {
		            	color:'#fd4a05',
		            },
		            data: [1]
		        },
		        {
		            name: 'G15_K839-100',
		            type: 'bar',
		            stack: 'G15',
		            barWidth: 15,
		            label: {
		                show: false,
		                formatter: "{a}",
		                position: ['0%', '110%']
		            },
		            itemStyle: {
		            	color:'#ffeb3b',
		            },
		            data: [1]
		        },
		        {
		            name: 'G15_K845-100',
		            type: 'bar',
		            stack: 'G15',
		            barWidth: 15,
		            label: {
		                show: false,
		                formatter: "{a}",
		                position: ['0%', '-100%']
		            },
		            itemStyle: {
		            	color:'#2ba246',
		            },
		            data: [1]
		        },
		        {
		            name: 'G15_K848-100',
		            type: 'bar',
		            stack: 'G15',
		            barWidth: 15,
		            itemStyle: {
		            	color:'#2ba246',
		            },
		            data: [5]
		        },
		        {
		            name: '灌南',
		            type: 'bar',
		            stack: 'G15',
		            barWidth: 15,
		            label: {
		                show: true,
		                formatter: "{a}",
		                position: ['0%', '-100%']
		            },
		            itemStyle: {
		            	color:'#2ba246',
		            },
		            data: [1]
		        }/* ,
		        {
		            name: '必应',
		            type: 'bar',
		            stack: 'G25',
		            barWidth: 5,
		            itemStyle: {
		            	color:'green',
		            },
		            data: [1]
		        },
		        {
		            name: '其他',
		            type: 'bar',
		            stack: 'G25',
		            barWidth: 5,
		            itemStyle: {
		            	color:'green',
		            },
		            data: [2]
		        } */
		    ]
		};
   	var myChart = echarts.init(document.getElementById('myEchart'));
   	myChart.setOption(option);
   	myChart.on('click', function (params) {
   		console.log(params);
   		if(params.color == '#2ba246'){
   			return;
   		}
   		var name = params.seriesName;
   		$("#equPopDiv_equName").html(name);
   		$.showLoading("加载中");
        setTimeout(function() {
            $.hideLoading();
        }, 200);
   		$("#equPopDiv").popup();
   		
    });
   	function bindRiadManual(){
		window.location.replace("/weixin/alertThreepart/confirmDetailsManual?openid="+u.getStorage("openid"));
	}
   	function bindRiadManualTzlq(){
		window.location.replace("/weixin/alertThreepart/confirmDetailsManual?openid="+u.getStorage("openid"));
	}
   	
   	function trainai() {
   		window.location.replace("/weixin/map/fogline?openid="+u.getStorage("openid"));
   	}

</script>
</body>
</html>