<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
	<style>
    	.clear{clear:both;}
    	
    	.text-row{height: 50px;line-height: 34px;}
    	.text-row .inp,.tare{width:600px;padding:4px 4px; font-size:16px; box-sizing:content-box;background-color: #FFFFFF;  background:transparent;}
		.text-row .inp{width: 100px;}
		.div_tare{height: 90px;}    
		.div_tare .c-left{display: block;float: left;}	
    	.tare{width: 59vw;height: 70px;float: left;margin-left: 4px;}
    	.text-row button{padding:4px 0;margin:15px 0; width:100%; height:7vw; border:none; font-size:18px; line-height:7vw; box-sizing:content-box; background-color: #ee7700;color: white;}
    </style>

<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content" style="font-size: 15px;">
						<div class="text-row">
				    		演练时段：
							<input type="text" class="layui-input" id="starttime" placeholder="yyyy-MM-dd HH:mm:ss" lay-verify="date" autocomplete="off">
				            <span>--</span>
				            <input type="text" class="layui-input" id="endtime" placeholder="yyyy-MM-dd HH:mm:ss" lay-verify="date" autocomplete="off">
						</div>
				    	<div class="div_tare">
							<span class="c-left">沙盘环境：</span>
							<textarea class="tare" id="requestStr" name="requestStr" maxlength="500" placeholder="请输入沙盘环境" >http://47.104.80.94:8088/public/rcvfog</textarea> 
							<!-- <textarea class="tare" id="requestStr" name="requestStr" maxlength="500" placeholder="请输入沙盘环境" >http://FOGSYSTEM/public/rcvfog</textarea> -->
				    	</div>
				    	<div class="clear"></div>
				    	<div class="text-row">
				    		时间间隔：
				    		<input class="inp" id="intervalTime" name="intervalTime" maxlength="5" value="10" onkeyup="this.value=this.value.replace(/\D/g,'')" />
				    		秒
				    	</div>
				    	<div class="text-row">
				    		演练倍数：
				    		<input class="inp" id="magnification" name="magnification" maxlength="2" value="6" onkeyup="this.value=this.value.replace(/\D/g,'')" />
				    		秒
				    	</div>
						
						<div id='jdt'  class="text-row" style="display: none;">
							执行进度：
							<progress max="100" value="0" id="pg" style="width: 350px;height: 20px;margin-top: 15px;"></progress>
						</div>
						
						<div style="width: 500px;margin:20px 0px 0px 0px;">
							<div >
								<button id="btnRun" type="submit" class="btn btn-primary" onclick="btnRunning()">开始执行</button>
							</div>
						</div>
						
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script	src="/lkdtWX/js/plugins/laydate/laydate.js"></script>
	<script type="text/javascript" >
		$(function() {
			var startdate=new Date();
			startdate.setHours(0,0,0,0);
			laydate.render({
				elem: '#starttime',
				type: 'datetime',
				value: startdate
			});
			laydate.render({
				elem: '#endtime',
				type: 'datetime',
				value: new Date()
			});
			
			var pg=document.getElementById('pg');
			 
			 
		});
		
		
		function btnRunning(){
	  		let starttime = $("#starttime").val();
	  		if(starttime == null || starttime.length == 0 ){
				parent.layer.msg("请选择开始时间");
				return ;
			}
	  		let endtime = $("#endtime").val();
	  		if(endtime == null || endtime.length == 0 ){
				parent.layer.msg("请选择结束时间");
				return ;
			}
	  		let requestStr = $("#requestStr").val().trim();
	  		if(requestStr == null || requestStr.length == 0 ){
				parent.layer.msg("请输入沙盘环境");
				return ;
			}
	  		let intervalTime = $("#intervalTime").val().trim();
	  		if(intervalTime == null || intervalTime.length == 0 ){
				parent.layer.msg("请输入时间间隔");
				return ;
			}
	  		let magnification = $("#magnification").val().trim();
	  		if(magnification == null || magnification.length == 0 ){
				parent.layer.msg("请输入演练倍数");
				return ;
			}
	  		
	  		var endDate = new Date(endtime);
	  		var startDate = new Date(starttime);
	  		var total = (endDate.getTime()-startDate.getTime())/1000;
	  		total = Math.ceil(total /intervalTime/magnification) ;
	  		
	  		pg.value=0;
	  		
	  		$("#btnRun").attr("disabled", true);
	  		$("#starttime").attr("disabled", true);
	  		$("#endtime").attr("disabled", true);
	  		$("#requestStr").attr("disabled", true);
	  		$("#intervalTime").attr("disabled", true);
	  		$("#magnification").attr("disabled", true);
	  		$("#jdt").show();
	  		
	  		//进度条
	  		pg.max = total;
	  		setInterval(function(e){
			      if(pg.value < total) pg.value++;
			},intervalTime*1000);
	  		
	  		$.ajax({
				url : "/fog/dryRunning/sandTableData",
				type : "post",
				data : {
					'starttime' : starttime,
					'endtime' : endtime,
					'requestStr' : requestStr,
					'intervalTime' : intervalTime,
					'magnification' : magnification
				},
				success : function(rs) {
					layer.msg(rs.msg);
					$("#btnRun").attr("disabled", false);
					$("#starttime").attr("disabled", false);
			  		$("#endtime").attr("disabled", false);
			  		$("#requestStr").attr("disabled", false);
			  		$("#intervalTime").attr("disabled", false);
			  		$("#magnification").attr("disabled", false);
					$("#jdt").hide();
				}
			});
	  		
	  		
	  		
	  	}
		
		
		
	
	</script>
	
</body>
</html>
