<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<script	src="/lkdtWX/js/plugins/laydate/laydate.js"></script>
<style>
	tbody tr td{
		/*word-wrap: break-word;*/
	}
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-right col-md-10 nopadding" style="margin-left: 30px;">
							<span class="search-span" style="">
								<span>发送时间：</span>
								<input type="text" class="layui-input" id="starttime" placeholder="yyyy-MM-dd HH:mm:ss" lay-verify="date" autocomplete="off">
								<span>—</span>
								<input type="text" class="layui-input" id="endtime" placeholder="yyyy-MM-dd HH:mm:ss" lay-verify="date" autocomplete="off">

							</span>
							<span style="width: 10px;"></span>
							<span class="search-span" style="">
								<span>有效类型：</span>
								<select  id="iseffective" data-placeholder="是否有效" class="form-control chosen-select"
										 style="width: 100px;display: inline;">
									<option value="">全部</option>
									<option value="1">人工确认</option>
									<option value="9">人工未确认</option>
								</select>
							</span>
							<span class="search-span" style="">
								<button class="btn btn-success" onclick="reLoad()">查询</button>
							</span>
							<span class="search-span" style="">
								<button class="btn btn-success" onclick="reset()">重置</button>
							</span>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
					<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
						<div id="innerdiv" style="position:absolute;">
							<img id="bigimg" style="border:1px solid #ffffff;" src="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
	<div>
		<script type="text/javascript">
			var s_edit_h = 'hidden';
			var s_remove_h = 'hidden';
			var s_resetPwd_h = 'hidden';
		</script>
	</div>
	<div shiro:hasPermission="system:alarm:edit">
		<script type="text/javascript">
			s_edit_h = '';
		</script>
	</div>
	<div shiro:hasPermission="system:alarm:remove">
		<script type="text/javascript">
			var s_remove_h = '';
		</script>
	</div>
	<div shiro:hasPermission="system:alarm:resetPwd">
		<script type="text/javascript">
			var s_resetPwd_h = '';
		</script>
	</div>
	<div th:include="include :: footer"></div>
	<script src="/lkdtWX/plugins/weui/js/commonMap.js"></script>
	<script src="/lkdtWX/js/appjs/system/alarmNotice/alarmNotice.js"></script>
</body>
</html>