<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>行政区浏览</title>
    <link rel="stylesheet" type="text/css" href="/css/area.css">
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/lkdtWX/js/plugins/layer/skin/layer.css" rel="stylesheet">
    <style type="text/css">
    #container{width: 50%;}
    .danger{color: rgba(231,76,60,0.88);}
    /*溢出的字...处理*/
    .updatecsssubstring {text-overflow: ellipsis; -o-text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
        width: 80px;display: inline-block;}
    </style>
</head>

<body>
    <div id="outer-box">
        <div id="container" class="col-md-6 col-sm-6 col-xs-12" tabindex="0"></div>
        <div id="panel" class="col-md-6 col-sm-6 col-xs-12">
        		<div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 style="font-size: 20px;"><i class="fa fa-bell danger"></i> 实时雾霾告警 <small><span th:text="${deptName}"></span></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="padding:0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th><th>编号：桩号</th><th>团雾/雾霾</th><th>管制等级</th><th>能见度</th><th>开始时间</th><th>消散时间</th>
                                </tr>
                              </thead>
                              <tbody id="content">
                              </tbody>
                        </table>
                    </div>
                </div>
                
        </div>
    </div>
    <div id="video_div1" style="width: 100%;height: 100%;display: none;">
    	<video id="video1" src="" autoplay="autoplay" style=""></video>
    	<div style="    position: absolute;
	        bottom: 20%;
   			right: 50px;
		    color: #ff9d06;
		    font-size: 22px;">
			<span id="njdsz"></span>
		</div>
    </div>

    <script language="javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=0fb99186996b7bff85d606c80d16f224&plugin=Map3D,AMap.DistrictSearch"></script> 
    <!-- UI组件库 1.0 -->
    <script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    <script src="/lkdtWX/js/appjs/oa/webSocket/sockjs.min.js"></script>
    <script src="/lkdtWX/js/appjs/oa/webSocket/stomp.min.js"></script>
    <script src="/lkdtWX/js/plugins/toastr/toastr.min.js"></script>
    <script src="/lkdtWX/js/jquery.min.js?v=2.1.4"></script>
    <script src="/lkdtWX/js/lay/modules/layer.js"></script>
    <script type="text/javascript">
    var map$zoom = 7;
    var map$center = [119.167147,32.952384];//初始地图中心点 江苏
    //创建地图
    var map = new AMap.Map('container', {
        cursor: 'default',
        resizeEnable: true,
        zoom: map$zoom,
        center: map$center,
        mapStyle: "amap://styles/1de1ab4a6f3d6b4a31d558771f073fa2"
    });

    AMapUI.loadUI(['geo/DistrictExplorer'], function(DistrictExplorer) {
        initPage(DistrictExplorer);
    });

    function initPage(DistrictExplorer) {
        //创建一个实例
        var districtExplorer = new DistrictExplorer({
            map: map
        });
        var countryCode = 100000,provCodes = [320000],cityCodes = [];
        districtExplorer.loadMultiAreaNodes(
            //只需加载全国和市，全国的节点包含省级
            [countryCode].concat(cityCodes),
            function(error, areaNodes) {
                var countryNode = areaNodes[0],
                    cityNodes = areaNodes.slice(1);
                var path = [];
                //首先放置背景区域，这里是大陆的边界
                path.push(getLongestRing(countryNode.getParentFeature()));
                for (var i = 0, len = provCodes.length; i < len; i++) {
                    //逐个放置需要镂空的省级区域
                    path.push.apply(path, getAllRings(countryNode.getSubFeatureByAdcode(provCodes[i])));
                }
                for (var i = 0, len = cityNodes.length; i < len; i++) {
                    //逐个放置需要镂空的市级区域
                    path.push.apply(path, getAllRings(cityNodes[i].getParentFeature()));
                }
                //绘制带环多边形，江苏省边界
                //https://lbs.amap.com/api/javascript-api/reference/overlay#Polygon
                var polygon = new AMap.Polygon({
                    bubble: true,
                    lineJoin: 'round',
                    strokeColor: 'white', //线颜色
                    strokeOpacity: 1, //线透明度
                    strokeWeight: 0, //线宽
                    fillColor: 'black', //填充色
                    fillOpacity: 0.80, //填充透明度
                    map: map,
                    path: path
                });
                //摄像头初始化
                mapEquipmentsInit();
            });
    }

    function getAllRings(feature) {
        var coords = feature.geometry.coordinates,
            rings = [];
        for (var i = 0, len = coords.length; i < len; i++) {
            rings.push(coords[i][0]);
        }
        return rings;
    }

    function getLongestRing(feature) {
        var rings = getAllRings(feature);
        rings.sort(function(a, b) {
            return b.length - a.length;
        });
        return rings[0];
    }

    /**
     *  地图摄像头初始化
     * */
    function mapEquipmentsInit(){
        $.ajax({
            url:'/system/equipment/getAllEquipments',
            type:'post',
            data:{hwId:'26'},
            dataType:'json',
            success:function(data){
                if(data.code != 200){
                    alert("内部错误，请联系管理员");
                    return;
                }
                //摄像头经纬度 >>>30m:#C30004,50m:#F87018,100m:#F9C115,200:#F7F940,300:#357A00,500:#357A00,
                data.data.forEach(function(currValue,index,arr){
                    //标记摄像头
                    var arrayData = [];
                    currValue.hw_equipments.forEach(function(currData,i_,a_){
                        arrayData.push({lnglat: [currData.lng,currData.lat], epId:currData.epId, name: currData.equ_name, equLocation:currData.equ_location,id: index+'-'+i_});
                    });
                    //摄像头标记
                    mapClusterMark(arrayData);
                    //告警信息刷新
                    showInfo();
                    setInterval(showInfo,30000);
                    //临时
//                    var equipmentLngLat = [];
//                    var lnglatObj = new AMap.LngLat(119.242356,34.420155);
//                    var lnglatObj2 = new AMap.LngLat(119.263063,34.415256);
//                    equipmentLngLat.push(lnglatObj);
//                    equipmentLngLat.push(lnglatObj2);
//                    definedRoutesColor(equipmentLngLat,"yellow");
                },this);
            }
        });
    }

    /**
     * 绘画导航路线颜色
     */
    function definedRoutesColor(equipmentLngLat,colorDesc){
        map.plugin("AMap.DragRoute",function(){
            var DragRouteOptions = {
                polyOptions:{
                    //strokeColor: 'red',   // 线颜色
                    strokeOpacity: 1,         // 线透明度
                    strokeWeight: 0,          // 线宽
                    borderWeight:4, //边界宽度
                    strokeStyle: 'dashed',     // 线样式
                    strokeDasharray: [0,0,0], // 补充线样式
                    geodesic: true,            // 绘制大地线
                    bubble:true,
                    isOutline:true,
                    outlineColor:"red",//轮廓颜色
                    draggable:false,
                },
                startMarkerOptions:{
                    visible:false,
                },
                midMarkerOptions:{
                    visible:false,
                },
                endMarkerOptions:{
                    visible:false,
                },
                showTraffic:false,
            };
            //驾车策略DrivingPolicy，包括 LEAST_TIME，LEAST_FEE, LEAST_DISTANCE,REAL_TRAFFIC
            var route = new AMap.DragRoute(map, equipmentLngLat, AMap.DrivingPolicy.LEAST_TIME,DragRouteOptions);//DragRouteOptions
            //监听
            route.on('complete',function(result){
                map.setZoomAndCenter(map$zoom, map$center);
            });
            route.search(); //查询导航路径并开启拖拽导航
        });
    }



    /**定义标记信息*/
    function infoWindowFunc(content,position){
        /**标记信息*/
        var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, 0)});
        infoWindow.setContent(content);//e.target.content
        infoWindow.open(map, position);//e.target.getPosition()
    }

    /**
     * 摄像头实时图片获取
     * */
    function realImgViewFunc(epId,name,equLocation){
        //$('#video1').attr("src","video/sheyang2.mp4");
        layer.open({
            type : 2,
            title : "ID："+epId+" >> 桩号："+name+" >> 位置："+equLocation,
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '80%', '90%' ],
            content : '/system/equipment/home_lookup/' + epId
            //content : '/public/getLastImg?epId=' + epId
        });

    }

    /**定义闪烁点divMarker*/
    function addCustomMarker(content,position,epId,name,zIndex,equLocation){
        var marker1 = new AMap.Marker({
            map:map,
//            offset:new AMap.Pixel(0,-120), //相对于基点的偏移位置
            offset:new AMap.Pixel(-10,-10), //相对于基点的偏移位置
            draggable:false,  //是否可拖动
            content:content,   //自定义覆盖物内容,
            position:position, //基点位置
            zIndex:zIndex,//显示级别
        });
        marker1.on( 'click', function(){
            realImgViewFunc(epId,name,equLocation);
        });
        return marker1;
    }

    //图片
    var imgRealFromUrl = imgRealFromUrl_src;

    /**点聚合标记*/
    function mapClusterMark(arrayData){
        var cluster, markers = [];
        for (var i = 0; i < arrayData.length; i += 1) {
            var marker = new AMap.Marker({
                position: arrayData[i]['lnglat'],
                content: '<div style="background-color: hsla(180, 100%, 50%, 0.4); height: 14px; width: 14px; border: 1px solid hsl(180, 100%, 40%); border-radius: 12px; box-shadow: hsl(180, 100%, 50%) 0px 0px 1px;"></div>',
                offset: new AMap.Pixel(-7, -7)
            });
            imgRealFromUrl = "/public/getLastImg?epId="+arrayData[i].epId;
            marker.content = '<div style="width:100px;height:100px;">' +
                '<text class="updatecsssubstring" title="'+arrayData[i].name+'">'+arrayData[i].name+'</text>'+
                '<img src="'+imgRealFromUrl+'" onerror="nofind(this)" style="width:100%;height:80%;cursor: pointer;" /></div>';
            marker.on('click',function(e){
                //infoWindowFunc(e.target.content,e.target.getPosition());
                realImgViewFunc(this.epId,this.name,this.equLocation);
            },arrayData[i]);
            markers.push(marker);
        }
        //添加聚合组件
        map.plugin(["AMap.MarkerClusterer"],function() {
            cluster = new AMap.MarkerClusterer(map,markers,
                {
                    gridSize: 40,
                    minClusterSize:6,
                    averageCenter: true,
                    renderClusterMarker:function (context) {
                        var count = markers.length;
                        var factor = Math.pow(context.count / count, 1 / 18);
                        var div = document.createElement('div');
                        var Hue = 180 - factor * 180;
                        var bgColor = 'hsla(210,72%,76%,0.5)';
                        var fontColor = 'hsla(0,0%,100%,1)';
                        var borderColor = 'hsla(210,100%,40%,0.7)';
                        var shadowColor = 'hsla(' + Hue + ',100%,50%,0.7)';
                        div.style.backgroundColor = bgColor;
                        var size = Math.round(5 + Math.pow(context.count / count, 1 / 5) * 20);
                        div.style.width = div.style.height = size + 'px';
                        div.style.border = 'solid 1px ' + borderColor;
                        div.style.borderRadius = size / 2 + 'px';
                        div.style.boxShadow = '0 0 1px ' + shadowColor;
                        div.innerHTML = context.count;
                        div.style.lineHeight = size + 'px';
                        div.style.color = fontColor;
                        div.style.fontSize = '12px';
                        div.style.textAlign = 'center';
                        context.marker.setOffset(new AMap.Pixel(-size / 2, -size / 2));
                        context.marker.setContent(div)
                    }
                });
        });
        //设置缩放级别和中心点
        map.setZoomAndCenter(map$zoom, map$center);
    }

    /**
     * 根据坐标列表划线
     * */
    function polylineFunc(equipmentLngLat,colorDesc){
        //给定路径划线
        var polyline = new AMap.Polyline({
            path: JSON.parse(equipmentLngLat),            // 设置线覆盖物路径
            strokeColor: colorDesc,   // 线颜色
            strokeOpacity: 1,         // 线透明度
            strokeWeight: 5,          // 线宽
            strokeStyle: 'dashed',     // 线样式
            strokeDasharray: [0,0,0], // 补充线样式
            geodesic: true,            // 绘制大地线
            bubble:true,
            isOutline:true,
            outlineColor:'white',
        });
        polyline.setMap(map);
    }

    var alarmInfo = [];
    /**
     * 告警信息渲染
     * */
    function showInfo() {
        $.ajax({
            type: "GET",
            url: "/system/alarm/selectByFortyEightHours",
            success: function (data) {
                //console.log(data);
                //告警列表初始化清空
                alarmImgCloseAll();
                alarmInfo = [];
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    imgRealFromUrl = imgRealFromUrl_src+"path=" + data[i].imgpath.replace(/\\/g,"/")+"&epid=" + data[i].epId;
                    /*var tempContent = '<div class="amap-info-content amap-info-outer">'+
                        '<div style="width:100px;height:100px;background-color:white;">'+
                        '<text class="updatecsssubstring" title="'+(i+1)+'.'+data[i].address+'">'+(i+1)+'.'+data[i].address+'</text>'+
                        '<a class="amap-info-close" href="javascript: void(0)" style="right: 20px;" id="alarmInfo_'+i+'" onclick="alarmImgCloseClick(this)">×</a>'+
                        '<img src="'+imgRealFromUrl+'" onerror="nofind(this)" style="width:100%;height:80%;cursor: pointer;" /></div></div>';*/
                    //渲染告警图片
                    var tempContent;
                    var zIndex = 100;
                    if(data[i].distance <= 30){
                        tempContent = '<img src="/lkdtWX/img/point_red.gif" style="width:20px;height:20px;cursor: pointer;" />';
                        zIndex = 200;
                    } else if(data[i].distance <= 50){
                        tempContent = '<img src="/lkdtWX/img/point_light_red.gif" style="width:20px;height:20px;cursor: pointer;" />';
                        zIndex = 199;
                    } else {
                        tempContent = '<img src="/lkdtWX/img/point_yellow.gif" style="width:20px;height:20px;cursor: pointer;" />';
                        zIndex = 198;
                    }
                    alarmInfo.push({marker:addCustomMarker(tempContent,new AMap.LngLat(data[i].lon, data[i].lat),data[i].epId,data[i].equName,zIndex,data[i].address),name:"alarmInfo_"+i});
                    html += "<tr>";
                    if (i == 0) {
                        html += "<th scope='row'><span class='label label-danger'>" + (i + 1) + "</span></th>";
                    } else if (i == 1) {
                        html += "<th scope='row'><span class='label label-warning'>" + (i + 1) + "</span></th>";
                    } else {
                        html += "<th scope='row'><span class='label label-default'>" + (i + 1) + "</span></th>";
                    }
                    var param__= "\""+data[i].imgpath.replace(/\\/g,"/")+"\",\""+data[i].epId+"\",\""+data[i].equName+"\","+data[i].lon+","+data[i].lat+","+i;
                    html += "<td><a href='#' title='' onclick='"+"locationFunc("+param__+")"+"'>" +data[i].epId+"："+ data[i].equName + "</a></td>";
                    //团雾/雾霾
                    if (data[i].fogType == 1) {
                        html += "<td>团雾</td>";
                    } else if (data[i].fogType == 2) {
                        html += "<td>雾霾</td>";
                    } else {
                        html += "<td></td>";
                    }
                    //等级
                    if (data[i].level == 3) {
                        html += "<td>特浓雾</td>";
                    } else if (data[i].level == 2) {
                        html += "<td>浓雾</td>";
                    } else if (data[i].level == 1) {
                        html += "<td>大雾</td>";
                    } else {
                        html += "<td></td>";
                    }
                    html += "<td>" + data[i].distance + "(m)</td>";
                    var begintime = data[i].begintime.substring(10);
                    html += "<td title='" + data[i].begintime + "'>" + begintime + "</td>";
                    if (data[i].endtime == null) {
                        html += "<td>--</td>";
                    } else {
                        var endtime = data[i].endtime.substring(10);
                        html += "<td title='" + data[i].endtime + "'>" + endtime + "</td>";
                    }
                    html += "</tr>";
                }
                $("#content").html(html);
                //地图右键菜单
                rightAddMenu();
                //路线三色图
                $.ajax({url: '/fog/fogTrack/getAlarmTrack',
                    type: 'post',
                    data: {epJson: JSON.stringify(data)},
                    dataType: 'json',
                    success: function (data) {
                        if(data && data.length > 0){
                            data.forEach(function(curr,index,arr){
                                if(curr.color && curr.track){
                                    polylineFunc(curr.track,curr.color);
                                }
                            });
                        }
                    }
                });
            }
        });
    }

    //告警定位标记
    var markerAttr = [];
    /**
     * 警告列表摄像头定位
     * */
    function locationFunc(imgpath,epId,address,lon,lat,i){
        /*imgRealFromUrl = imgRealFromUrl_src + "path=" + imgpath.replace(/\\/g,"/")+"&epid=" + epId;
        var tempContent = '<div class="amap-info-content amap-info-outer">'+
            '<div style="width:100px;height:100px;background-color:white;">'+
            '<text class="updatecsssubstring" title="'+(i+1)+'.'+address+'">'+(i+1)+'.'+address+'</text>'+
            '<a class="amap-info-close" href="javascript: void(0)" style="right: 20px;" id="alarmInfo_'+i+'" onclick="alarmImgCloseClick(this)">×</a>'+
            '<img src="'+imgRealFromUrl+'" onerror="nofind(this)" style="width:100%;height:80%;cursor: pointer;" /></div></div>';
        alarmInfo.push({marker:addCustomMarker(tempContent,new AMap.LngLat(lon, lat)),name:"alarmInfo_"+i});*/
        //清空
        markerAttr.forEach(function(curr,i,array){
            curr.marker.setMap(null);
        });
        //定位标记
        var marker = new AMap.Marker({
            position: new AMap.LngLat(lon, lat),
            icon: new AMap.Icon({
                size: new AMap.Size(26, 40), // 图标尺寸
                image: '//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png', // Icon的图像
                imageSize: new AMap.Size(26, 40), // 根据所设置的大小拉伸或压缩图片
            }),
            offset: new AMap.Pixel(-13, -35),
            draggable: false,// 设置是否可拖拽
            cursor: 'move'
        });
        markerAttr.push({marker:marker});
        marker.setMap(map);
        marker.setAnimation('AMAP_ANIMATION_BOUNCE');// 设置点标记的动画效果，此处为弹跳效果
        map.setCenter(new AMap.LngLat(lon, lat));
    }

    /**
     * 右键菜单
     * */
    function rightAddMenu(){
        var contextmenu=new AMap.ContextMenu();
        var pos=[];
        // 添加右键菜单内容项
//        contextmenu.addItem("放大",function () {
//            map.zoomIn();
//        },0);
//        contextmenu.addItem("缩小",function () {
//            map.zoomOut();
//        },1);
//        contextmenu.addItem("清除所有警告",function () {
//            alarmInfo.forEach(function(curr,i,array){
//                curr.marker.setMap(null);
//            })
//        },2);
        contextmenu.addItem("清除标记",function () {
            markerAttr.forEach(function(curr,i,array){
                curr.marker.setMap(null);
            })
        },2);
        // 监听鼠标右击事件
        map.on("rightclick",function (e) {
            contextmenu.open(map,e.lnglat);
            pos=e.lnglat;
        });
    }

    /**
     * 告警信息初始化
     * */
    function connect() {
        var sock = new SockJS("/endpointChat");
        var stomp = Stomp.over(sock);
        stomp.connect('guest', 'guest', function (frame) {
            //首页初始化告警信息
            showInfo();
            /**  订阅了/user/queue/notifications 发送的消息,这里雨在控制器的 convertAndSendToUser 定义的地址保持一致, 
             *  这里多用了一个/user,并且这个user 是必须的,使用user 才会发送消息到指定的用户。 
             *  */
            stomp.subscribe('/topic/getWarning', function (response) { //订阅/topic/getResponse 目标发送的消息。这个是在控制器的@SendTo中定义的。
                if (JSON.parse(response.body).responseMessage == "true") {
                    showInfo();
                }
            });
        }, function (error) {
            alert(error.headers.message);
        });
    }

    /**
     * 清空所有告警闪烁点
     */
    function alarmImgCloseAll(){
        alarmInfo.forEach(function(curr,i,array){
            curr.marker.setMap(null);
        });
    }

    function alarmImgCloseClick(event){
        alarmInfo.forEach(function(curr,i,array){
            if(event.id == curr.name){
                curr.marker.setMap(null);
            }
        });
    }

    function closeFunc(event){
        event.src = '/fog/close-over.jpg';
    }

    function closeOutFunc(event){
        event.src = '/fog/close.jpg';
    }

    function nofind(_this){
        _this.src="/fog/nofind.jpg";
        _this.onerror=null;
    }

    //网页加载
    $(function () {
        //折叠ibox
        $('.collapse-link').click(function () {
            var ibox = $(this).closest('div.ibox');
            var button = $(this).find('i');
            var content = ibox.find('div.ibox-content');
            content.slideToggle(200);
            button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
            ibox.toggleClass('').toggleClass('border-bottom');
            setTimeout(function () {
                ibox.resize();
                ibox.find('[id^=map-]').resize();
            }, 50);
        });
    });
</script>
</body>
</html>