<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>高速公路雾霾监控</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css?v=3.3.6">
	<link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main-v4.0.css">
	<link rel="stylesheet" type="text/css" href="/lkdtWX/js/plugins/layer/skin/layer.css">
</head>
<body class="ksh">
	<div id="load">
		<div class="load_img">
			<img class="jzxz1" src="/lkdtWX/img/jzxz1.png"><img class="jzxz2"src="/lkdtWX/img/jzxz2.png">
		</div>
	</div>
	<div class="visual">
		<div class="visual_left">
			<div class="visual_box visual_box1">
				<div class="visual_title">
					<span>公路交通能见度</span> <img src="/lkdtWX/img/ksh33.png">
				</div>
				<div class="visual_chart sfzcll">
					<div id="routVisibility" style="width: 100%; height: 100%; float: left; clear: right;"></div>
				</div>
			</div>
			<div class="visual_box visual_box1">
				<div class="visual_title"><span>公路交通能见度</span> <img src="/lkdtWX/img/ksh33.png"></div>
				<div class="visual_chart sfzcll">
					<div id="routVisibility25" style="width: 100%; height: 100%; float: left; clear: right;"></div>
				</div>
			</div>
			<div class="visual_box visual_elietianqifenjiyujing">
				<div class="visual_title">
					<span id="big_wind_title">大风预警</span> <img src="/lkdtWX/img/ksh33.png">
				</div>
				<!-- Swiper2 -->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="visual_table">
								<div id="alarmList_wind" class="list_alarm_stroll_y">
									<ul class="th"><li>位置</li><li>风速</li><li>风向</li><li>时间</li></ul>
									<ul id="contentUl_wind"><li>-</li><li>-</li><li>-</li><li>-</li></ul>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="visual_table">
								<div id="alarmList_test" class="list_alarm_stroll_y">
									<ul class="th"><li>编号</li><li>能见度</li><li>开始时间</li><li>确认状态</li></ul>
									<ul id="contentUl_unconfirm"><li>-</li><li>-</li><li>-</li><li>-</li></ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination" style="display: none;"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
		<div class="visual_con">
			<div class="visual_conBot">
				<input id="liveAddress" th:value="${liveAddress}" hidden/>
				<img class="visual_conBot_l" src="img/ksh42.png"/>
				<img class="visual_conBot_2" src="img/ksh43.png"/>
				<img class="visual_conBot_3" src="img/ksh44.png"/>
				<img class="visual_conBot_4" src="img/ksh45.png"/>
				<div class="mapAlarmSlim mapAlarmSlim_top"></div>
				<div class="mapAlarmSlim mapAlarmSlim_right"></div>
				<div class="mapAlarmSlim mapAlarmSlim_bottom"></div>
				<div class="mapAlarmSlim mapAlarmSlim_left"></div>
				<div id="allmap">
					<div id="left_bottom_btn" style="position: absolute; left: 10px;bottom: 10px; z-index: 1;">
						<button class="btn btn-default" title="不合规设备" type="button" aria-expanded="false" onclick="buhegeshipin_click()"
							style="padding: 0 3px; background-color: rgba(6, 21, 55, 0.1); border-color: rgba(6, 21, 55, 0.1); color: #07A6FF;"
							>不合规设备</button>
						<button class="btn btn-default" title="异常设备" type="button" aria-expanded="false" onclick="tuanwuyujing_click()"
								style="padding: 0 3px; background-color: rgba(6, 21, 55, 0.1); border-color: rgba(6, 21, 55, 0.1); color: #07A6FF;"
							>异常设备</button>
					</div>
					<div id="buhegeshipin" style="position:absolute;width:100%;bottom:0;z-index:99;background-color:#061537;color: white;display: none;">
						<div class="close_out"><div id="close"></div></div>
						<div class="visual_title">
							<span>不合规视频路数统计</span> <img src="/lkdtWX/img/ksh33.png">
							<span>不合规视频占比:<span id="percentage"></span>%</span>
						</div>
						<div class="visual_table">
							<div id="eventList" class="list_alarm_stroll_y">
								<ul class="th">
									<li style="width:10%;text-align: left;">#</li>
									<li style="width:30%;text-align: left;">摄像头</li>
									<li style="width:30%;text-align: left;">异常现象</li>
									<li style="width:30%;text-align: left;">位置</li>
								</ul>
								<ul id="exceptionEqus">
									<li style="text-align: left;"></li>
									<li style="text-align: left;"></li>
									<li style="text-align: left;"></li>
									<li style="text-align: left;"></li>
								</ul>
							</div>
						</div>
					</div>
					<div id="tuanwuyujing" style="position:absolute;width:100%;bottom:0;z-index:99;background-color:#061537;color: white;display: none;">
						<div class="close_out"><div id="close"></div></div>
						<div class="visual_title">
							<span >异常设备</span> <img src="/lkdtWX/img/ksh33.png">
						</div>
						<div class="visual_table">
							<div id="alarmList" class="list_alarm_stroll_y">
								<ul class="th">
									<li style="width:25%;text-align: left;">编号</li>
									<li style="width:25%;text-align: left;">情况说明</li>
									<li style="width:25%;text-align: left;">开始时间</li>
									<li style="width:25%;text-align: left;">持续时间</li>
								</ul>
								<ul id="contentUl">
									<li style="width:25%;text-align: left;">-</li>
									<li style="width:25%;text-align: left;">-</li>
									<li style="width:25%;text-align: left;">-</li>
									<li style="width:25%;text-align: left;">-</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="scroll-wrap">
						<ul id="scroll-wrap-id" class="scroll-con fn-left" >
							<!--<li >xxx路段当前最小可视距离xxx米。</li>-->
						</ul>
					</div>
					<div id="alarm_icon" >
						<img src="/lkdtWX/img/alarm_black.png" width="100%" height="100%">
					</div>
					<div id="expand" data="1">
						<span class="glyphicon glyphicon-chevron-right expand-triangle" aria-hidden="true"></span>
					</div>
					<div id="expand-popc"></div>
					<div id="expand-popc-preview">
						<div class="img_close_out"><div id="close"></div></div>
						<img id="expand-popc-preview-img"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--JS-->
	<!--兼容性测试
	<script type="text/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>-->
	<script language="javascript"
		src="https://webapi.amap.com/maps?v=1.4.14&key=0fb99186996b7bff85d606c80d16f224&plugin=Map3D,AMap.DistrictSearch"></script>
	<!-- UI组件库 1.0 -->
	<script type="text/javascript" src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
	<script type="text/javascript" src="/lkdtWX/js/jquery.min.js?v=2.1.4"></script>
	<script type="text/javascript" src="/lkdtWX/js/plugins/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/swiper.min.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/plugins/layer/layer.min.js"></script>
	<script type="text/javascript" src="/lkdtWX/js/common-options.js"></script>
	<script type="text/javascript" src="/fog/js/main-v4.0.js?v=1"></script>
</body>
</html>